<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Typing 打字机</title>
    <link rel="icon" type="image/x-icon" href="../../public/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <link rel="stylesheet" type="text/css" href="../../public/highLight/monokai-sublime.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="../../yui/yui.css">
    <link rel="stylesheet" type="text/css" href="../../yui/iconfont.css">
</head>
<body>
<!--网页头部-->
<div class="page-header"></div>
<!--网页内容-->
<div class="page-content">
    <div class="page-title">
        Typing 打字机
    </div>
    <div class="demo">
        <div id="test" style="font-size: 18px">

        </div>
    </div>
</div>
</body>
<script src="../../public/highLight/highlight.pack.js"></script>
<script src="../../public/index.js"></script>
<script src="../../yui/yui.js"></script>
<script>
    yuiTyping("test", "github: ht<br/>tps://github.c<br/><br/>om/mattboldt/typed.js")
</script>
</html>