.demo {
    text-align: center;
}

div[yui-typing] {
    background: #545C64;
    width: 600px;
    height: 200px;
    border-radius: 4px;
    color: white;
    padding: 10px;
    margin: 0 auto 30px;
    text-align: left;
    font-size: 18px
}