<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Table 表格</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_4lv9jsj494.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Table 表格
        <div class="desc">
            用于展示多条结构类似的数据，可对数据进行排序、筛选、对比或其他自定义操作。
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            基础表格
        </div>
        <table yui-table>
            <thead>
            <tr>
                <th>日期</th>
                <th>姓名</th>
                <th>地址</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="page-module">
        <div class="title">
            斑马纹表格
        </div>
        <table yui-table stripe>
            <thead>
            <tr>
                <th>日期</th>
                <th>姓名</th>
                <th>地址</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="page-module">
        <div class="title">
            边框表格
        </div>
        <table yui-table has-border>
            <thead>
            <tr>
                <th>日期</th>
                <th>姓名</th>
                <th>地址</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
</html>