<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Table 表格</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Table 表格
        <div class="desc">
            用于展示多条结构类似的数据，可对数据进行排序、筛选、对比或其他自定义操作。
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            基础表格
        </div>
        <table yui-table>
            <thead>
            <tr>
                <th>日期</th>
                <th>姓名</th>
                <th>地址</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            </tbody>
        </table>
        <pre><code class="html">
        &lt;table yui-table&gt;
            &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;日期&lt;/th&gt;
                &lt;th&gt;姓名&lt;/th&gt;
                &lt;th&gt;地址&lt;/th&gt;
            &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;2016-05-02&lt;/td&gt;
                &lt;td&gt;王小虎&lt;/td&gt;
                &lt;td&gt;上海市普陀区金沙江路 1518 弄&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;2016-05-02&lt;/td&gt;
                &lt;td&gt;王小虎&lt;/td&gt;
                &lt;td&gt;上海市普陀区金沙江路 1518 弄&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;2016-05-02&lt;/td&gt;
                &lt;td&gt;王小虎&lt;/td&gt;
                &lt;td&gt;上海市普陀区金沙江路 1518 弄&lt;/td&gt;
            &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            斑马纹表格
        </div>
        <table yui-table stripe>
            <thead>
            <tr>
                <th>日期</th>
                <th>姓名</th>
                <th>地址</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            </tbody>
        </table>
        <pre><code class="html">
        &lt;table yui-table stripe&gt;
            &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;日期&lt;/th&gt;
                &lt;th&gt;姓名&lt;/th&gt;
                &lt;th&gt;地址&lt;/th&gt;
            &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;2016-05-02&lt;/td&gt;
                &lt;td&gt;王小虎&lt;/td&gt;
                &lt;td&gt;上海市普陀区金沙江路 1518 弄&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;2016-05-02&lt;/td&gt;
                &lt;td&gt;王小虎&lt;/td&gt;
                &lt;td&gt;上海市普陀区金沙江路 1518 弄&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;2016-05-02&lt;/td&gt;
                &lt;td&gt;王小虎&lt;/td&gt;
                &lt;td&gt;上海市普陀区金沙江路 1518 弄&lt;/td&gt;
            &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            边框表格
        </div>
        <table yui-table has-border>
            <thead>
            <tr>
                <th>日期</th>
                <th>姓名</th>
                <th>地址</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            <tr>
                <td>2016-05-02</td>
                <td>王小虎</td>
                <td>上海市普陀区金沙江路 1518 弄</td>
            </tr>
            </tbody>
        </table>
        <pre><code class="html">
        &lt;table yui-table has-border&gt;
            &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;日期&lt;/th&gt;
                &lt;th&gt;姓名&lt;/th&gt;
                &lt;th&gt;地址&lt;/th&gt;
            &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;2016-05-02&lt;/td&gt;
                &lt;td&gt;王小虎&lt;/td&gt;
                &lt;td&gt;上海市普陀区金沙江路 1518 弄&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;2016-05-02&lt;/td&gt;
                &lt;td&gt;王小虎&lt;/td&gt;
                &lt;td&gt;上海市普陀区金沙江路 1518 弄&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;2016-05-02&lt;/td&gt;
                &lt;td&gt;王小虎&lt;/td&gt;
                &lt;td&gt;上海市普陀区金沙江路 1518 弄&lt;/td&gt;
            &lt;/tr&gt;
            &lt;/tbody&gt;
        &lt;/table&gt;
        </code></pre>
    </div>
</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
</html>