<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Message 消息提示</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_4lv9jsj494.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Message 消息提示
        <div class="desc">
            常用于主动操作后的反馈提示。
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
        </div>
        <a onclick="yuiMessage('这是一条消息提示')" yui-button>消息</a>
        <a onclick="yui.message.success('恭喜你，这是一条成功消息')" yui-button>成功</a>
        <a onclick="yuiMessage('警告哦，这是一条警告消息',{type:'warning'})" yui-button>警告</a>
        <a onclick="yui.message.danger('错了哦，这是一条错误消息')" yui-button>危险</a>
        <pre><code class="html">
        &lt;a onclick="yuiMessage('这是一条消息提示')" yui-button&gt;消息&lt;/a&gt;

        &lt;a onclick="yui.message.success('恭喜你，这是一条成功消息')" yui-button&gt;成功&lt;/a&gt;

        &lt;a onclick="yuiMessage('警告哦，这是一条警告消息',{type:'warning'})" yui-button&gt;警告&lt;/a&gt;

        &lt;a onclick="yui.message.danger('错了哦，这是一条错误消息')" yui-button&gt;危险&lt;/a&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            深色
        </div>
        <a onclick="yuiMessage('这是一条消息提示',{effect:'dark'})" yui-button>消息</a>
        <a onclick="yui.message.success('恭喜你，这是一条成功消息',{effect:'dark'})" yui-button>成功</a>
        <a onclick="yuiMessage('警告哦，这是一条警告消息',{type:'warning',effect:'dark'})" yui-button>警告</a>
        <a onclick="yui.message.danger('错了哦，这是一条错误消息',{effect:'dark'})" yui-button>危险</a>
        <pre><code class="html">
        &lt;a onclick="yuiMessage('这是一条消息提示',{effect:'dark'})" yui-button&gt;消息&lt;/a&gt;

        &lt;a onclick="yui.message.success('恭喜你，这是一条成功消息',{effect:'dark'})" yui-button&gt;成功&lt;/a&gt;

        &lt;a onclick="yuiMessage('警告哦，这是一条警告消息',{type:'warning',effect:'dark'})" yui-button&gt;警告&lt;/a&gt;

        &lt;a onclick="yui.message.danger('错了哦，这是一条错误消息',{effect:'dark'})" yui-button&gt;危险&lt;/a&gt;
        </code></pre>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
</html>