<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Message 消息提示</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_jayxtlcus3.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Message 消息提示
        <div class="desc">
            常用于主动操作后的反馈提示。与 notify 的区别是后者更多用于系统级通知的被动提醒。
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
            <div class="desc">从顶部出现，3 秒后自动消失。</div>
        </div>
        <a onclick="yuiMessage('这是一条消息提示')" yui-button>打开消息提示</a>
    </div>

    <div class="page-module">
        <div class="title">
            不同状态
            <div class="desc">用来显示「成功、警告、消息、错误」类的操作反馈。</div>
        </div>
        <a onclick="yuiMessage('注意哦，这是一条主要消息',{type:'primary'})" yui-button>主要</a>
        <a onclick="yuiMessage('这是一条消息提示')" yui-button>消息</a>
        <a onclick="yuiMessage('恭喜你，这是一条成功消息',{type:'success'})" yui-button>成功</a>
        <a onclick="yuiMessage('警告哦，这是一条警告消息',{type:'warning'})" yui-button>警告</a>
        <a onclick="yuiMessage('错了哦，这是一条错误消息',{type:'danger'})" yui-button>危险</a>
    </div>

    <div class="page-module">
        <div class="title">
            主题
            <div class="desc">
                Message 组件提供了两个不同的主题：light和dark。
                通过设置effect属性来改变主题，默认为light。
            </div>
        </div>
        <a onclick="yuiMessage('注意哦，这是一条主要消息',{type:'primary',effect:'dark'})" yui-button>主要</a>
        <a onclick="yuiMessage('这是一条消息提示',{effect:'dark'})" yui-button>消息</a>
        <a onclick="yuiMessage('恭喜你，这是一条成功消息',{type:'success',effect:'dark'})" yui-button>成功</a>
        <a onclick="yuiMessage('警告哦，这是一条警告消息',{type:'warning',effect:'dark'})" yui-button>警告</a>
        <a onclick="yuiMessage('错了哦，这是一条错误消息',{type:'danger',effect:'dark'})" yui-button>危险</a>
    </div>

    <div class="page-module">
        <div class="title">
            可关闭
            <div class="desc">可以添加关闭按钮。</div>
        </div>
        <a onclick="yuiMessage('注意哦，这是一条主要消息',{type:'primary',showClose:true})" yui-button>主要</a>
        <a onclick="yuiMessage('这是一条消息提示',{showClose:true})" yui-button>消息</a>
        <a onclick="yuiMessage('恭喜你，这是一条成功消息',{type:'success',showClose:true})" yui-button>成功</a>
        <a onclick="yuiMessage('警告哦，这是一条警告消息',{type:'warning',showClose:true})" yui-button>警告</a>
        <a onclick="yuiMessage('错了哦，这是一条错误消息',{type:'danger',showClose:true})" yui-button>危险</a>
    </div>

    <div class="page-module">
        <div class="title">
            文字居中
            <div class="desc">使用 center 属性让文字水平居中。</div>
        </div>
        <a onclick="yuiMessage('居中的文字',{center:true})" yui-button>文字居中</a>
    </div>

    <div class="page-module">
        <div class="title">
            使用 HTML 片段
            <div class="desc">message 属性支持传入 HTML 片段</div>
        </div>
        <a onclick="yuiMessage(`<strong>这是 <i>HTML</i> 片段</strong>`,{dangerouslyUseHTMLString:true})" yui-button>
            使用 HTML 片段
        </a>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
<script src="../../yui/js/index.js"></script>
</html>