/*public =========================================================================== start*/
a {
    text-decoration: none
}

/*public =========================================================================== end*/

/*alert =========================================================================== start*/
div[yui-alert] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: #f4f4f5;
    padding: 8px 16px;
    margin: 0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    opacity: 1;
    align-items: center;
    color: #909399;
    font-size: 13px;
}

div[yui-alert][type=success] {
    background-color: #f0f9eb;
    color: #67C23A;
}

div[yui-alert][type=warning] {
    background-color: #fdf6ec;
    color: #ff9900;
}

div[yui-alert][type=danger] {
    background-color: #fef0f0;
    color: #ed4014;
}

div[yui-alert][theme=dark] {
    background-color: #909399;
    color: white;
}

div[yui-alert][type=success][theme=dark] {
    background-color: #67C23A;
    color: white;
}

div[yui-alert][type=warning][theme=dark] {
    background-color: #ff9900;
    color: white;
}

div[yui-alert][type=danger][theme=dark] {
    background-color: #ed4014;
    color: white;
}

div[yui-alert] > div[yui-title] {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
}

div[yui-alert] > div[yui-content] {
    line-height: 1.5em;
    margin: 5px 0 0;
}

/*alert =========================================================================== end*/

/*anchor =========================================================================== start*/
div[yui-anchor] {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #909399;
}

div[yui-anchor] > a {
    display: block;
    padding: 18px 26px;
    border-style: solid;
    border-color: #dcdee2;
    border-width: 0 0 0 1px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

div[yui-anchor] > a:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #C0C4CC;
    background-color: white;
    right: 98.5%;
    top: 47%
}

div[yui-anchor] > a:after {
    content: "#";
    visibility: hidden;
    margin-left: 5px;
}

div[yui-anchor] > a:hover {
    color: #5cadff;
}

div[yui-anchor] > a:hover:after {
    visibility: visible;
}

div[yui-anchor] > a[checked] {
    color: #409eff;
}

div[yui-anchor] > a[checked]:before {
    content: "";
    box-shadow: 0 0 0 2px #409eff;
}

/*anchor =========================================================================== end*/

/*anchorMenu =========================================================================== start*/
.yui-anchor-menu-checked-line {
    position: absolute;
    height: 2px;
    background-color: #409eff;
    bottom: -1px;
    display: none;
    transition: left .3s;
}

.yui-anchor-menu-fixed {
    position: fixed !important;
    left: 0;
    width: 100%;
    z-index: 2020;
}

div[yui-anchor-menu] {
    border-color: #dcdee2;
    border-style: solid;
    border-width: 0 0 1px 0;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
    position: relative;
    font-size: 15px;
}

div[yui-anchor-menu] > a {
    padding: 18px 8px;
    cursor: pointer;
    color: #606266;
    box-sizing: border-box;
    position: relative;
}

div[yui-anchor-menu] > a:before {
    content: '#';
    visibility: hidden;
    margin-right: 3px;
}

div[yui-anchor-menu] > a:after {
    content: '#';
    visibility: hidden;
    margin-left: 3px;
}

div[yui-anchor-menu] > a:hover {
    color: #5cadff;
}

div[yui-anchor-menu] > a:hover:before {
    color: #5cadff;
    visibility: visible;
}

div[yui-anchor-menu] > a[checked] {
    color: #409eff;
}

div[yui-anchor-menu] > a[checked]:before {
    color: #409eff;
}

/*anchorMenu =========================================================================== end*/

/*badge =========================================================================== start*/
div[yui-badge] {
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

div[yui-badge] > sup {
    background-color: #ed4014;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    border-style: solid;
    border-width: 1px;
    border-color: #ed4014;
    position: absolute;
    top: 0;
    right: 10px;
    transform: translateY(-50%) translateX(100%);
}

div[yui-badge] > sup[dot] {
    height: 6px;
    width: 6px;
    padding: 0;
    border-radius: 50%;
    right: 5px;
    overflow: hidden;
    color: #ed4014;
}

/*badge =========================================================================== end*/

/*button =========================================================================== start*/
a[yui-button] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    border-style: solid;
    border-color: #dcdfe6;
    border-width: 1px;
    color: #606266;
    font-weight: 500;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a[yui-button][size=large] {
    padding: 12px 20px;
}

a[yui-button][size=small] {
    padding: 8px 16px;
}

a[yui-button][size=mini] {
    padding: 6px 14px;
}

a[yui-button]:not([disabled]):hover {
    color: #409eff;
    border: 1px solid #c6e2ff;
    background-color: #ecf5ff;
}

a[yui-button][type=primary] {
    color: #fff;
    background: #409eff;
    border-color: #409eff;
}

a[yui-button][type=primary]:hover {
    opacity: 0.8;
    color: #fff;
    background: #409eff;
    border-color: #409eff;
}

a[yui-button][type=success] {
    color: #fff;
    background-color: rgb(103, 194, 58);
    border-color: rgb(103, 194, 58);
}

a[yui-button][type=success]:not([disabled]):hover {
    opacity: 0.8;
    color: #fff;
    background-color: rgb(103, 194, 58);
    border-color: rgb(103, 194, 58);
}

a[yui-button][type=warning] {
    color: #fff;
    background-color: rgb(255, 153, 0);
    border-color: rgb(255, 153, 0);
}

a[yui-button][type=warning]:not([disabled]):hover {
    opacity: 0.8;
    color: #fff;
    background-color: rgb(255, 153, 0);
    border-color: rgb(255, 153, 0);
}

a[yui-button][type=danger] {
    color: #fff;
    background-color: rgb(237, 64, 20);
    border-color: rgb(237, 64, 20);
}

a[yui-button][type=danger]:not([disabled]):hover {
    opacity: 0.8;
    color: #fff;
    background-color: rgb(237, 64, 20);
    border-color: rgb(237, 64, 20);
}

a[yui-button][type=info] {
    color: #fff;
    background-color: rgb(144, 147, 153);
    border-color: rgb(144, 147, 153);
}

a[yui-button][type=info]:not([disabled]):hover {
    opacity: 0.8;
    color: #fff;
    background-color: rgb(144, 147, 153);
    border-color: rgb(144, 147, 153);
}

a[yui-button][plain] {
    background: #fff;
    color: #606266;
}

a[yui-button][plain]:not([disabled]):hover {
    border-color: #b3d8ff;
    color: #409eff;
    background-color: white;
    opacity: 1;
}

a[yui-button][type=primary][plain] {
    color: #409eff;
    background-color: #ecf5ff;
    border-color: #b3d8ff;
}

a[yui-button][type=primary][plain]:not([disabled]):hover {
    border-color: #409eff;
    color: white;
    background-color: #409eff;
    opacity: 1;
}

a[yui-button][type=success][plain] {
    color: #67C23A;
    background-color: #f0f9eb;
    border-color: #c2e7b0
}

a[yui-button][type=success][plain]:not([disabled]):hover {
    border-color: #67C23A;
    color: white;
    background-color: #67C23A;
    opacity: 1;
}

a[yui-button][type=warning][plain] {
    color: #ff9900;
    background-color: #fdf6ec;
    border-color: #f5dab1
}

a[yui-button][type=warning][plain]:not([disabled]):hover {
    border-color: #ff9900;
    color: white;
    background-color: #ff9900;
    opacity: 1;
}

a[yui-button][type=danger][plain] {
    color: #ed4014;
    background-color: #fef0f0;
    border-color: #fbc4c4
}

a[yui-button][type=danger][plain]:not([disabled]):hover {
    border-color: #ed4014;
    color: white;
    background-color: #ed4014;
    opacity: 1;
}

a[yui-button][type=info][plain] {
    color: #909399;
    background-color: #f4f4f5;
    border-color: #d3d4d6
}

a[yui-button][type=info][plain]:not([disabled]):hover {
    border-color: #909399;
    color: white;
    background-color: #909399;
    opacity: 1;
}

a[yui-button][radius] {
    border-radius: 20px;
}

a[yui-button][text] {
    padding: 0;
    background-color: transparent;
    border-width: 0;
    color: #409eff;
}

a[yui-button][text]:not([disabled]):hover {
    opacity: .8;
    background-color: transparent;
    border-width: 0;
    color: #409eff;
}

a[yui-button][disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

a[yui-button][disabled]:hover {
    opacity: 0.6;
}

div[yui-button-group] {
    display: inline-flex;
}

div[yui-button-group] > a[yui-button] {
    margin-right: 1px;
    border-radius: 0;
}

div[yui-button-group] > a[yui-button]:first-child {
    border-radius: 4px 0 0 4px;
}

div[yui-button-group] > a[yui-button]:last-child {
    border-right-width: 1px;
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}

/*button =========================================================================== end*/

/*card =========================================================================== start*/

div[yui-card] {
    border-radius: 4px;
    box-shadow: 1px 0 0 0 #ebeef5, 0 1px 0 0 #ebeef5, 1px 1px 0 0 #ebeef5, 1px 0 0 0 #ebeef5 inset, 0 1px 0 0 #ebeef5 inset;
    background-color: #fff;
    color: #303133;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    transition: box-shadow .5s;
}

div[yui-card][shadow=hover]:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

div[yui-card][shadow=always] {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

div[yui-card] > div[yui-header] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 10px;
    box-shadow: 0 0 0 0 #ebeef5, 0 1px 0 0 #ebeef5, 0 0 0 0 #ebeef5, 0 0 0 0 #ebeef5 inset, 0 0 0 0 #ebeef5 inset;
}

div[yui-card] > div[yui-body] {
    display: block;
    text-align: left;
    padding: 14px 10px;
    overflow-y: auto;
}

div[yui-card][table] {
    box-sizing: border-box;
    overflow: hidden;
}

div[yui-card][table] > div[yui-header] {
    border-radius: 4px 4px 0 0;
}

div[yui-card][table] > div[yui-body] {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

div[yui-card][table] > div[yui-body] > div {
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    display: block;
    width: 25%;
    border-radius: 0;
    box-shadow: 1px 0 0 0 #ebeef5, 0 1px 0 0 #ebeef5, 1px 1px 0 0 #ebeef5, 1px 0 0 0 #ebeef5 inset, 0 1px 0 0 #ebeef5 inset;
    transition: box-shadow .3s;
}

div[yui-card][table] > div[yui-body] > div:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

/*card =========================================================================== end*/

/*dialog =========================================================================== start*/
@keyframes yuiDialogShow {
    0% {
        transform: scale3d(0, 0, 1);

    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes yuiDialogClosed {
    0% {
        transform: scale3d(1, 1, 1);

    }
    100% {
        transform: scale3d(0, 0, 1);
    }
}

div[yui-dialog-mask] {
    background-color: rgba(55, 55, 55, .6);
    z-index: 2019;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.yui-dialog-show {
    -webkit-animation: yuiDialogShow .2s ease-out both;
    -moz-animation: yuiDialogShow .2s ease-out both;
    animation: yuiDialogShow .2s ease-out both;
}

.yui-dialog-closed {
    -webkit-animation: yuiDialogClosed .2s ease-out both;
    -moz-animation: yuiDialogClosed .2s ease-out both;
    animation: yuiDialogClosed .2s ease-out both;
}

div[yui-dialog-mask] > div[yui-dialog] {
    background-color: white;
    width: 30%;
    border-radius: 4px;
}

div[yui-dialog-mask] > div[yui-dialog] > div[yui-header] {
    display: flex;
    padding: 12px 10px;
    border-color: #ebeef5;
    border-style: solid;
    border-width: 0 0 1px 0;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

div[yui-dialog-mask] > div[yui-dialog] > div[yui-header] > div[yui-left] {
    font-size: 18px;
    display: block;
}

div[yui-dialog-mask] > div[yui-dialog] > div[yui-header] > div[yui-right] > i {
    cursor: pointer;
}

div[yui-dialog-mask] > div[yui-dialog] > div[yui-body] {
    display: block;
    padding: 12px;
    overflow-y: auto;
    word-break: break-all;
}

div[yui-dialog-mask] > div[yui-dialog] > div[yui-footer] {
    border-color: #ebeef5;
    border-style: solid;
    border-width: 1px 0 0 0;
    display: block;
    padding: 12px 10px;
    text-align: right;
}

div[yui-dialog-mask] > div[yui-dialog][messageBox] {
    width: 400px !important;
    padding: 0 5px;
}

div[yui-dialog-mask] > div[yui-dialog][messageBox] > div[yui-header] {
    border: 0;
}

div[yui-dialog-mask] > div[yui-dialog][messageBox] > div[yui-body] {
    color: #606266;
    font-size: 16px;
}

div[yui-dialog-mask] > div[yui-dialog][messageBox] > div[yui-footer] {
    border: 0;
}

div[yui-dialog-mask] > div[yui-dialog][messageBox] > div[yui-footer] > a {
    margin-left: 6px;
}

/*dialog =========================================================================== end*/

/*link =========================================================================== start*/
a[yui-link] {
    color: #606266;
    cursor: pointer;
}

a[yui-link]:not([disabled]):hover {
    opacity: .8;
}

a[yui-link]:visited {
    color: #303133;
}

a[yui-link][type=primary] {
    color: #409eff;
}

a[yui-link][type=primary]:visited {
    color: #2b85e4;
}

a[yui-link][type=success] {
    color: #67C23A;
}

a[yui-link][type=success]:visited {
    color: #28A00A;
}

a[yui-link][type=warning] {
    color: #ff9900;
}

a[yui-link][type=warning]:visited {
    color: #AA6E13;
}

a[yui-link][type=danger] {
    color: #ed4014;
}

a[yui-link][type=danger]:visited {
    color: #B72B16;
}

a[yui-link][underline=always] {
    text-decoration: underline;
}

a[yui-link][underline=hover]:not([disabled]):hover {
    text-decoration: underline;
}

a[yui-link][disabled] {
    cursor: not-allowed;
    opacity: .5;
}

/*link =========================================================================== end*/

/*menu =========================================================================== start*/
div[yui-menu] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: #dcdee2;
    border-width: 0 0 1px 0;
    position: relative;
    background-color: white;
    z-index: 2019;
}

div[yui-menu] > div[yui-left] {
    height: 100%;
    display: flex;
    align-items: center;
}

div[yui-menu] > div[yui-right] {
    height: 100%;
    display: flex;
    align-items: center;
}

div[yui-menu] a[yui-menu-item] {
    height: 100%;
    display: inline-block;
    padding: 18px 24px;
    box-sizing: border-box;
    cursor: pointer;
    color: #909399;
    word-break: keep-all;
    line-height: 24px;
    white-space: nowrap;
}

div[yui-menu] a[yui-menu-item]:hover {
    color: #606266;
}

div[yui-menu] a[yui-menu-item][checked] {
    color: #409eff;
    position: relative;
}

div[yui-menu] a[yui-menu-item][text-checked] {
    color: #409eff;
}

div[yui-menu] a[yui-menu-item][checked]:before {
    content: "";
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    position: absolute;
    background-color: #409eff;
}

div[yui-menu] a[yui-menu-item][only-text] {
    cursor: text;
    color: #303133;
}

div[yui-menu] div[contain-child-menu]:not([stretch]) {
    position: relative;
    height: 100%;
}

div[yui-menu] div[contain-child-menu] div[yui-child-menu] {
    position: absolute;
    top: calc(100% + 5px);
    background-color: white;
    left: 0;
    display: block;
    visibility: hidden;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    transition: height .3s;
    overflow: hidden;
    min-width: 100%;
}

div[yui-menu] div[contain-child-menu] div[yui-child-menu] {
    border-radius: 4px;
}

div[yui-menu] div[contain-child-menu][stretch] div[yui-child-menu] {
    width: 100%;
}

div[yui-menu] div[contain-child-menu] .yui-menu-icon {
    margin-left: 5px;
    font-size: 12px;
    transition: transform .8s;
    display: inline-block;
}

div[yui-menu] div[contain-child-menu] div[yui-child-menu] a[yui-menu-item] {
    height: auto;
    display: block;
}

div[yui-menu][theme=dark] {
    background-color: rgb(84, 92, 100);
    border-width: 0
}

div[yui-menu][theme=dark] a[yui-menu-item] {
    color: #c5c8ce;
}

div[yui-menu][theme=dark] a[yui-menu-item]:hover {
    color: #F2F6FC;
}

div[yui-menu][theme=dark] a[yui-menu-item][checked] {
    color: rgb(255, 208, 75);
    position: relative;
}

div[yui-menu][theme=dark] a[yui-menu-item][text-checked] {
    color: rgb(255, 208, 75);
}

div[yui-menu][theme=dark] a[yui-menu-item][checked]:before {
    content: "";
    background-color: rgb(255, 208, 75);
}

div[yui-menu][theme=dark] a[yui-menu-item][only-text] {
    color: white;
}

div[yui-menu][theme=dark] div[contain-child-menu] div[yui-child-menu] {
    background-color: rgb(84, 92, 100);
}

/*menu =========================================================================== end*/

/*message =========================================================================== start*/
div[yui-message-box] {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2020;
    top: 0;
}

div[yui-message-box] > div[yui-message] {
    min-width: 380px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #f4f4f5;
    transition: opacity .3s, top .3s, margin-top .3s;
    overflow: hidden;
    padding: 12px 12px 12px 17px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    position: relative;
    margin: 20px 0;
    color: #909399;
    z-index: 1995;
    top: -20px;
    opacity: 0;
}

div[yui-message-box] > div[yui-message] > i {
    margin-right: 5px;
}

div[yui-message-box] > div[yui-message][type=success] {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
}

div[yui-message-box] > div[yui-message][type=warning] {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #ff9900;
}

div[yui-message-box] > div[yui-message][type=danger] {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #ed4014;
}

div[yui-message-box] > div[yui-message][theme=dark] {
    background-color: #909399;
    border-color: #909399;
    color: white;
}

div[yui-message-box] > div[yui-message][theme=dark][type=success] {
    background-color: #67c23a;
    border-color: #67c23a;
    color: white;
}

div[yui-message-box] > div[yui-message][theme=dark][type=warning] {
    background-color: #ff9900;
    border-color: #ff9900;
    color: white;
}


div[yui-message-box] > div[yui-message][theme=dark][type=danger] {
    background-color: #ed4014;
    border-color: #ed4014;
    color: white;
}

/*message =========================================================================== end*/

/*notify =========================================================================== start*/
div[yui-notify-box] {
    position: fixed;
    width: 330px;
    top: 26px;
    right: 16px;
    z-index: 2020;
}

div[yui-notify-box] > div[yui-notify] {
    display: flex;
    width: 330px;
    padding: 14px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #ebeef5;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    transition: opacity .3s, left .3s, margin-top .3s;
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
    left: 330px;
    opacity: 0;
}

div[yui-notify-box] > div[yui-notify] > div[yui-left] {
    line-height: 24px;
    font-size: 18px;
    margin-right: 10px;
}

div[yui-notify-box] > div[yui-notify] > div[yui-center] > div[yui-header] {
    line-height: 24px;
    font-size: 18px;
    word-break: break-all;
    padding-right: 5px;
}

div[yui-notify-box] > div[yui-notify] > div[yui-center] > div[yui-body] {
    margin-top: 12px;
    font-size: 14px;
    color: #606266;
    word-break: break-all;
}

div[yui-notify-box] > div[yui-notify] > div[yui-right] {
    line-height: 24px;
    font-size: 18px;
    margin-left: auto;
}

div[yui-notify-box] > div[yui-notify] > div[yui-right] > i {
    cursor: pointer;
}

div[yui-notify-box] > div[yui-notify] > div[yui-left] > i {
    color: #606266;
}

div[yui-notify-box] > div[yui-notify] > div[yui-left] > i.yui-success {
    color: #67C23A;
}

div[yui-notify-box] > div[yui-notify] > div[yui-left] > i.yui-warning {
    color: #ff9900;
}

div[yui-notify-box] > div[yui-notify] > div[yui-left] > i.yui-danger {
    color: #ed4014;
}

/*notify =========================================================================== end*/

/*radio =========================================================================== start*/
div[yui-radio] {
    display: inline-block;
}

div[yui-radio] > a {
    color: #606266;
    font-size: 14px;
    display: inline-block;
    padding: 7px 0 7px 22px;
    margin-right: 22px;
    position: relative;
    line-height: 24px;
    cursor: pointer;
    background-color: white;
}

div[yui-radio] > a[disabled] {
    color: #c0c4cc;
    cursor: not-allowed;
}

div[yui-radio] > a:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #C0C4CC inset;
    background-color: white;
    left: 0;
    top: 30%;
}

div[yui-radio] > a[disabled]:before {
    content: "";
    box-shadow: 0 0 0 1px #e4e7ed inset;
    background-color: white;
}

div[yui-radio] > a:not([disabled]):hover:before {
    content: "";
    box-shadow: 0 0 0 1px #409eff inset;
}

div[yui-radio] > a[checked]:not([disabled]) {
    color: #409eff;
}

div[yui-radio] > a[checked]:not([disabled]):before {
    content: "";
    box-shadow: 0 0 0 5px #409eff inset;
}

div[yui-radio] > a[checked][disabled]:before {
    content: "";
    box-shadow: 0 0 0 5px #e4e7ed inset;
}

div[yui-radio][type=button] {
    overflow: hidden;
    display: inline-flex;
}

div[yui-radio][type=button] > a {
    color: #606266;
    border-style: solid;
    border-color: #dcdee2;
    border-width: 1px 0 1px 1px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    display: flex;
    padding: 7px 22px;
    margin-right: 0;
}

div[yui-radio][type=button] > a[disabled] {
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #fff;
    box-shadow: none;
}

div[yui-radio][type=button] > a:first-child {
    border-radius: 4px 0 0 4px;
}

div[yui-radio][type=button] > a:last-child {
    border-right-width: 1px;
    border-radius: 0 4px 4px 0;
}

div[yui-radio][type=button] > a:not([disabled]):hover {
    color: #409eff;
}

div[yui-radio][type=button] > a:before {
    content: "";
    width: 0;
    height: 0;
}

div[yui-radio][type=button] > a[checked]:not([disabled]) {
    background-color: #409eff;
    color: white;
    border-color: #409eff;
}

div[yui-radio][type=button] > a[checked][disabled] {
    background-color: #f2f6fc;
}

div[yui-radio][type=button] > a[checked]:not([disabled]) + a {
    border-left-color: transparent;
}

div[yui-radio][type=button][size=mini] > a {
    padding: 2px 12px;
}

div[yui-radio][type=button][size=small] > a {
    padding: 5px 15px;
}

div[yui-radio][type=button][size=large] > a {
    padding: 9px 28px;
}

/*radio =========================================================================== end*/

/*ribbon =========================================================================== start*/
div[yui-ribbon] {
    color: white;
    position: absolute;
    background-color: #409eff;
    text-align: center;
    padding: 3px 25px;
    font-size: 12px;
}

div[yui-ribbon][type=success] {
    background-color: #19be6b;
}

div[yui-ribbon][type=warning] {
    background-color: #E6A23C;
}

div[yui-ribbon][type=danger] {
    background-color: #F56C6C;
}

div[yui-ribbon][type=info] {
    background-color: #909399;
}

/*ribbon =========================================================================== end*/

/*tabs =========================================================================== start*/
.yui-tabs-checked-line {
    position: absolute;
    background-color: #409eff;
    transition: top .3s, left .3s, height .3s, width .3s;
}

div[yui-tabs] {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

div[yui-tabs] > div[yui-header] {
    box-sizing: border-box;
    border-color: #dcdee2;
    border-style: solid;
    border-width: 0 0 2px 0;
    display: flex;
    position: relative;
    width: 100%;
}

div[yui-tabs] > div[yui-header] > a {
    box-sizing: border-box;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
    color: #606266;
    position: relative;
    border-color: #dcdee2;
    border-style: solid;
    border-width: 0;
    font-size: 14px;
    cursor: pointer;
    display: block;
    white-space: nowrap;
}

div[yui-tabs] > div[yui-header][stretch] > a {
    flex-grow: 1;
}

div[yui-tabs] > div[yui-header] > a:hover {
    color: #409eff;
}

div[yui-tabs] > div[yui-header] > a[checked] {
    color: #409eff;
}

div[yui-tabs] > div[yui-header] > a[checked]:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 100%;
}

div[yui-tabs][type=card] > div[yui-header] {
    background-color: white;
    border-bottom-width: 1px;
}

div[yui-tabs][type=card] > div[yui-header] > a {
    border-width: 1px 0 0 1px;
}

div[yui-tabs][type=card] > div[yui-header] > a:first-child {
    border-radius: 4px 0 0 0;
}

div[yui-tabs][type=card] > div[yui-header] > a:last-child {
    border-right-width: 1px;
    border-radius: 0 4px 0 0;
}

div[yui-tabs][type=card] > div[yui-header] > a[checked]:before {
    background-color: white;
}

div[yui-tabs][type=border-card] {
    border-color: #dcdee2;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
}

div[yui-tabs][type=border-card] > div[yui-header] {
    background-color: #f8f8f9;
    border-bottom-width: 1px;
}

div[yui-tabs][type=border-card] > div[yui-header] > a {
    border-width: 0 1px 0 1px;
    border-color: transparent;
}

div[yui-tabs][type=border-card] > div[yui-header] > a[checked] {
    background-color: white;
    border-color: #dcdee2;
}

div[yui-tabs][type=border-card] > div[yui-header] > a:first-child {
    border-left-color: transparent;
}

div[yui-tabs][type=border-card] > div[yui-header][stretch] > a:last-child {
    border-right-color: transparent;
}

div[yui-tabs][type=border-card] > div[yui-header] > a[checked]:before {
    background-color: white;
}

div[yui-tabs][tab-position=bottom] > div[yui-header] {
    border-width: 2px 0 0 0;
    order: 2;
}

div[yui-tabs][tab-position=bottom][type=card] > div[yui-header] {
    border-width: 1px 0 0 0;
}

div[yui-tabs][tab-position=bottom][type=card] > div[yui-header] > a {
    border-top-width: 0;
    border-bottom-width: 1px;
}

div[yui-tabs][tab-position=bottom][type=card] > div[yui-header] > a[checked]:before {
    left: 0;
    top: -1px;
    background-color: white;
}

div[yui-tabs][tab-position=bottom][type=card] > div[yui-header] > a:first-child {
    border-radius: 0 0 0 4px;
}

div[yui-tabs][tab-position=bottom][type=card] > div[yui-header] > a:last-child {
    border-radius: 0 0 4px 0;
}

div[yui-tabs][tab-position=bottom][type=border-card] > div[yui-header] {
    border-width: 1px 0 0 0;
}

div[yui-tabs][tab-position=bottom][type=border-card] > div[yui-header] > a[checked]:before {
    top: -1px
}

div[yui-tabs][tab-position=left], div[yui-tabs][tab-position=right] {
    flex-wrap: nowrap;
}

div[yui-tabs][tab-position=left] > div[yui-header] {
    width: auto;
    display: block;
    border-width: 0 2px 0 0;
}

div[yui-tabs][tab-position=left] > div[yui-header] > a {
    display: block;
}

div[yui-tabs][tab-position=left][type=card] > div[yui-header] {
    border-width: 0 1px 0 0;
}

div[yui-tabs][tab-position=left][type=card] > div[yui-header] > a {
    border-right-width: 0;
}

div[yui-tabs][tab-position=left][type=card] > div[yui-header] > a:last-child {
    border-bottom-width: 1px;
    border-radius: 0 0 0 4px;
}

div[yui-tabs][tab-position=left][type=card] > div[yui-header] > a[checked]:before {
    height: 100%;
    width: 1px;
    left: 100%;
    top: 0
}

div[yui-tabs][tab-position=left][type=border-card] > div[yui-header] {
    border-width: 0 1px 0 0;
}

div[yui-tabs][tab-position=left][type=border-card] > div[yui-header] > a {
    border-width: 1px 0 1px 0;
}

div[yui-tabs][tab-position=left][type=border-card] > div[yui-header] > a:first-child {
    border-top-width: 0;
}

div[yui-tabs][tab-position=left][type=border-card] > div[yui-header] > a:last-child {
    border-bottom-width: 0;
}

div[yui-tabs][tab-position=left][type=border-card] > div[yui-header] > a[checked]:before {
    height: 100%;
    width: 1px;
    left: 100%;
    top: 0
}

div[yui-tabs][tab-position=right] {
    justify-content: space-between;
}

div[yui-tabs][tab-position=right] > div[yui-header] {
    width: auto;
    display: block;
    border-width: 0 0 0 2px;
    order: 2;
}

div[yui-tabs][tab-position=right] > div[yui-header] > a {
    display: block;
}

div[yui-tabs][tab-position=right][type=card] > div[yui-header] {
    border-width: 0 0 0 1px;
}

div[yui-tabs][tab-position=right][type=card] > div[yui-header] > a {
    border-left-width: 0;
    border-right-width: 1px;
}

div[yui-tabs][tab-position=right][type=card] > div[yui-header] > a:first-child {
    border-radius: 0 4px 0 0;
}

div[yui-tabs][tab-position=right][type=card] > div[yui-header] > a:last-child {
    border-radius: 0 0 4px 0;
    border-bottom-width: 1px;
}

div[yui-tabs][tab-position=right][type=card] > div[yui-header] > a[checked]:before {
    height: 100%;
    width: 1px;
    left: -1px;
    top: 0
}

div[yui-tabs][tab-position=right][type=border-card] > div[yui-header] {
    border-width: 0 0 0 1px;
}

div[yui-tabs][tab-position=right][type=border-card] > div[yui-header] > a {
    border-width: 1px 0 1px 0;
}

div[yui-tabs][tab-position=right][type=border-card] > div[yui-header] > a:first-child {
    border-top-width: 0;
}

div[yui-tabs][tab-position=right][type=border-card] > div[yui-header] > a:last-child {
    border-bottom-width: 0;
}

div[yui-tabs][tab-position=right][type=border-card] > div[yui-header] > a[checked]:before {
    height: 100%;
    width: 1px;
    left: -1px;
    top: 0
}

div[yui-tabs] > div[yui-header] > a[disabled] {
    color: #C0C4CC;
    cursor: not-allowed;
}

div[yui-tabs] > div[yui-body] {
    width: 100%;
    padding: 15px 0 0 0;
}

div[yui-tabs] > div[yui-body] > div[yui-tab-panel] {
    display: none;
}

div[yui-tabs] > div[yui-body] > div[yui-tab-panel][checked] {
    display: block;
}

div[yui-tabs][tab-position=bottom] > div[yui-body] {
    order: 1;
}

div[yui-tabs][tab-position=right] > div[yui-body] {
    width: auto;
    order: 1;
}

div[yui-tabs][tab-position=bottom] > div[yui-body] {
    padding: 0 0 15px 0;
}

div[yui-tabs][tab-position=left] > div[yui-body] {
    padding: 0 0 0 15px;
}

div[yui-tabs][tab-position=right] > div[yui-body] {
    padding: 0 15px 0 0;
}

div[yui-tabs][type=border-card] > div[yui-body] {
    padding: 15px;
}

/*tabs =========================================================================== end*/

/*tag =========================================================================== start*/
div[yui-tag] {
    background-color: #ecf5ff;
    display: inline-flex;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    color: #409eff;
    border: 1px solid #d9ecff;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    cursor: text;
}

div[yui-tag][type=success] {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67C23A;
}

div[yui-tag][type=warning] {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #ff9900;
}

div[yui-tag][type=danger] {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #ed4014;
}

div[yui-tag][type=info] {
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #909399;
}

div[yui-tag][theme=dark] {
    background-color: #409eff;
    color: #fff;
    border-color: #409eff;
}

div[yui-tag][type=success][theme=dark] {
    background-color: #67C23A;
    border-color: #67C23A;
    color: white;
}

div[yui-tag][type=warning][theme=dark] {
    background-color: #ff9900;
    border-color: #ff9900;
    color: white;
}

div[yui-tag][type=danger][theme=dark] {
    background-color: #ed4014;
    border-color: #ed4014;
    color: white;
}

div[yui-tag][type=info][theme=dark] {
    background-color: #909399;
    border-color: #909399;
    color: white;
}

div[yui-tag][theme=plain] {
    background-color: #fff;
    border-color: #b3d8ff;
    color: #409eff;
}

div[yui-tag][type=success][theme=plain] {
    background-color: #fff;
    border-color: #c2e7b0;
    color: #67c23a;
}

div[yui-tag][type=warning][theme=plain] {
    background-color: #fff;
    border-color: #f5dab1;
    color: #ff9900;
}

div[yui-tag][type=danger][theme=plain] {
    background-color: #fff;
    border-color: #fbc4c4;
    color: #ed4014;
}

div[yui-tag][type=info][theme=plain] {
    background-color: #fff;
    border-color: #d3d4d6;
    color: #909399;
}

div[yui-tag][size=large] {
    padding: 0 12px;
    line-height: 35px;
}

div[yui-tag][size=small] {
    padding: 0 6px;
    line-height: 26px;
}

div[yui-tag][size=mini] {
    padding: 0 3px;
    line-height: 22px;
}

/*tag =========================================================================== end*/

/*tooltip =========================================================================== start*/
div[yui-tooltip] {
    display: inline-block;
    position: relative;
}

div[yui-tooltip] > div[yui-tooltip-text] {
    position: absolute;
    background: #303133;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    display: block;
    white-space: nowrap;
    opacity: 0;
    transition: opacity .5s;
    text-align: left;
}

div[yui-tooltip] > div[yui-tooltip-text] > div.yui-tooltip-point {
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 6px;
    border-color: #303133 transparent transparent transparent;
}

div[yui-tooltip][theme=light] > div[yui-tooltip-text] {
    position: absolute;
    color: #303133;
    background: #fff;
    border: 1px solid #303133;
}

/*tooltip =========================================================================== end*/
