<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Card 卡片</title>
    <link rel="icon" type="image/x-icon" href="../../public/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <link rel="stylesheet" type="text/css" href="../../public/highLight/monokai-sublime.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="../../release/yui-min.css">
    <link rel="stylesheet" type="text/css" href="../../release/yui-iconfont-min.css">
</head>
<body>
<!--网页头部-->
<div class="page-header"></div>
<!--网页内容-->
<div class="page-content">
    <div class="page-title">
        Card 卡片
    </div>
    <div class="demo">
        <div class="module-title">
            不显示阴影
        </div>
        <div yui-card style="width: 450px">
            <div yui-header>
                <div yui-left>卡片</div>
                <div yui-right>
                    <a yui-button text>更多...</a>
                </div>
            </div>
            <div yui-body style="height: 150px">
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
            </div>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div yui-card&gt;
            &lt;div yui-header&gt;
                &lt;div yui-left&gt;卡片&lt;/div&gt;
                &lt;div yui-right&gt;
                    &lt;a yui-button text&gt;更多...&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div yui-body style="height: 150px"&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="demo">
        <div class="module-title">
            鼠标hover显示阴影
        </div>
        <div shadow="hover" yui-card style="width: 450px;">
            <div yui-header>
                <div yui-left>卡片</div>
                <div yui-right>
                    <a yui-button text>更多...</a>
                </div>
            </div>
            <div yui-body>
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
            </div>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div shadow="hover" yui-card&gt;
            &lt;div yui-header&gt;
                &lt;div yui-left&gt;卡片&lt;/div&gt;
                &lt;div yui-right&gt;
                    &lt;a yui-button text&gt;更多...&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div yui-body&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="demo">
        <div class="module-title">
            一直显示阴影
        </div>
        <div shadow="always" yui-card style="width: 450px;">
            <div yui-header>
                <div yui-left>卡片</div>
                <div yui-right>
                    <a yui-button text>更多...</a>
                </div>
            </div>
            <div yui-body>
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
                内容<br/>
            </div>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div shadow="always" yui-card&gt;
            &lt;div yui-header&gt;
                &lt;div yui-left&gt;卡片&lt;/div&gt;
                &lt;div yui-right&gt;
                    &lt;a yui-button text&gt;更多...&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div yui-body&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
                内容&lt;br/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="demo">
        <div class="module-title">
            卡片表格
        </div>
        <div yui-card table style="width: 800px">
            <div yui-header>
                <div yui-left>卡片表格</div>
                <div yui-right>
                    <a yui-button text>更多...</a>
                </div>
            </div>
            <div yui-body>
                <div>内容</div>
                <div>内容</div>
                <div>内容</div>
                <div>内容</div>
                <div>内容</div>
                <div>内容</div>
                <div>内容</div>
            </div>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div yui-card table&gt;
            &lt;div yui-header&gt;
                &lt;div yui-left&gt;卡片表格&lt;/div&gt;
                &lt;div yui-right&gt;
                    &lt;a yui-button text&gt;更多...&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div yui-body&gt;
                &lt;div&gt;内容&lt;/div&gt;
                &lt;div&gt;内容&lt;/div&gt;
                &lt;div&gt;内容&lt;/div&gt;
                &lt;div&gt;内容&lt;/div&gt;
                &lt;div&gt;内容&lt;/div&gt;
                &lt;div&gt;内容&lt;/div&gt;
                &lt;div&gt;内容&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;style&gt;

            div[yui-card][table] > div[yui-body] > div {
                height: 60px;
                width: 25%
            }

        &lt;/style&gt;
        </code></pre>
    </div>
    <div class="attr">
        <div class="module-title">
            yui-card
        </div>
        <table>
            <thead>
            <tr>
                <td>属性</td>
                <td>说明</td>
                <td>类型</td>
                <td>可选值 / 回调参数</td>
                <td>默认值 / 参数形式</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>shadow</td>
                <td>卡片阴影</td>
                <td>string</td>
                <td>hover / always</td>
                <td>--</td>
            </tr>
            <tr>
                <td>table</td>
                <td>
                    卡片表格形式， 设置 div[yui-card][table] > div[yui-body] > div
                    宽度为百分比来控制每行显示个数，默认每个宽度25%，即一行显示4个
                </td>
                <td>是否具有该属性</td>
                <td>--</td>
                <td>--</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="../../public/highLight/highlight.pack.js"></script>
<script src="../../public/index.js"></script>
<script src="../../release/yui-min.js"></script>
</html>