<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Divider 分割线</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_4lv9jsj494.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Divider 分割线
        <div class="desc">区隔内容的分割线。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
        </div>
        <span>青春是一个短暂的美梦, 当你醒来时, 它早已消失无踪</span>
        <div yui-divider></div>
        <span>少量的邪恶足以抵消全部高贵的品质, 害得人声名狼藉</span>
    </div>

    <div class="page-module">
        <div class="title">
            垂直分割
        </div>
        <span>雨纷纷</span>
        <div yui-divider vertical></div>
        <span>旧故里</span>
        <div yui-divider vertical></div>
        <span>草木深</span>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../static/js/index.js"></script>
</html>