<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - 安装</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        安装
        <div class="desc">yui的安装使用</div>
    </div>

    <div class="page-module">
        <div class="title">
            下载
        </div>
        <a href="../../yui.rar" style="margin-right: 8px" yui-button type="primary">
            点击下载
        </a>
        下载 yui 依赖文件，包括 yui.css, yui-icon.css 和 yui.js 三个文件。
    </div>

    <div class="page-module">
        <div class="title">
            引用
        </div>
        将依赖文件放在你的项目中，在你的项目文件（一般是html文件）中正确地引用这三个文件即可看到yui效果。
        <pre><code class="html">
        &lt;link rel="stylesheet" type="text/css" href="/path/yui.css"&gt;

        &lt;link rel="stylesheet" type="text/css" href="/path/yui-icon.css"&gt;
        </code></pre>
        <pre><code class="html">
        &lt;script type="text/javascript" src="/path/yui.js"&gt;&lt;/script&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            统一性
        </div>
        <div>
            五种 Type（类型）：
            <div yui-tag>主要 primary</div>
            <div yui-tag type="info">消息 info</div>
            <div yui-tag type="success">成功 success</div>
            <div yui-tag type="warning">警告 warning</div>
            <div yui-tag type="danger">危险 danger</div>
        </div>
        <div style="margin-top: 20px">
            四种 Size（尺寸）：
            <div yui-tag>默认 default</div>
            <div yui-tag size="medium">中等 medium</div>
            <div yui-tag size="small">小型 small</div>
            <div yui-tag size="mini">迷你 mini</div>
        </div>
        <div style="margin-top: 20px">
            三种 Effect（主题）：
            <div yui-tag effect="dark">深色 dark</div>
            <div yui-tag>浅色 light</div>
            <div yui-tag effect="plain">朴素 plain</div>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            注意
        </div>
        如果你还在使用IE浏览器，那就别在这浪费力气。
        Peace & Love.
    </div>

    <div class="page-module">
        <div class="title">
            GitHub 地址
        </div>
        <a yui-button type="text" href="https://github.com/yangzhimin1995/yui" target="_blank">
            https://github.com/yangzhimin1995/yui
        </a>
    </div>

    <div class="page-module">
        <div class="title">
            赞助
        </div>
        <div style="display: flex;align-items: center;justify-content: space-around">
            <img style="border: 1px solid #EBEEF5" src="../../static/images/alipay.png" alt="">
            <img style="border: 1px solid #EBEEF5" src="../../static/images/wechat.png" alt="">
        </div>
    </div>
</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
</html>