<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - 安装</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_4lv9jsj494.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        安装
        <div class="desc">yui的安装使用</div>
    </div>

    <div class="page-module">
        <div class="title">
            下载
        </div>
        <a href="../../yui.rar" style="margin-right: 8px" yui-button type="primary">
            点击下载
        </a>
        下载 yui 依赖文件，包括 yui.css, yui-icon.css 和 yui.js 三个文件。
    </div>

    <div class="page-module">
        <div class="title">
            引用
        </div>
        将依赖文件放在你的项目中，在你的项目文件（一般是html文件）中正确地引用这三个文件即可看到yui效果。
        <pre><code class="html">
        &lt;link rel="stylesheet" type="text/css" href="/path/yui.css"&gt;

        &lt;link rel="stylesheet" type="text/css" href="/path/yui-icon.css"&gt;
        </code></pre>
        <pre><code class="html">
        &lt;script type="text/javascript" src="/path/yui.js"&gt;&lt;/script&gt;
        </code></pre>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
</html>








