.demo {
    width: 800px;
    margin: 0 auto;
}

.demo .module {
    height: 300px;
    border: 1px solid #dcdee2;
    background-color: #f8f8f9;
    position: relative;
    overflow: hidden;
}