<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Dialog 对话框</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <link rel="stylesheet" type="text/css" href=" //at.alicdn.com/t/font_1521392_esyoq1kq996.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Dialog 对话框
        <div class="desc">在保留当前页面状态的情况下，告知用户并承载相关操作。</div>
    </div>

    <div class="page-module">
        <div class="title">
            对话框
        </div>
        <a yui-button type="text" onclick="yuiDialog('my-dialog')">
            点击打开Dialog
        </a>
        <div style="width: 30%" yui-dialog id="my-dialog">
            <div header>
                <div class="title">
                    提示
                </div>
                <i onclick="yuiDialogClosed('my-dialog')" class="yuiIcon closed"></i>
            </div>
            <div>这是一段信息</div>
            <div footer>
                <a yui-button onclick="yuiDialogClosed('my-dialog')" type="primary">确定</a>
                <a yui-button onclick="yuiDialogClosed('my-dialog')">取消</a>
            </div>
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
<script src="../../yui/js/index.js"></script>
</html>