<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Dialog 对话框</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_j7h3x2tterm.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Dialog 对话框
        <div class="desc">在保留当前页面状态的情况下，告知用户并承载相关操作。</div>
    </div>

    <div class="page-module">
        <div class="title">
            <div>基本用法</div>
            <div class="desc">Dialog 弹出一个对话框，适合需要定制性更大的场景。</div>
            <a yui-button type="text" onclick="openYuiDialog('yui-dialog-1')">
                点击打开Dialog
            </a>
            <div style="width: 30%"
                 before-close="handleClose"
                 yui-dialog
                 id="yui-dialog-1"
                 close-on-click-modal="false">
                <div yui-header>
                    <div class="title">
                        提示
                    </div>
                    <i yui-close-tag class="iconfont yui-icon-closed"></i>
                </div>
                <div>这是一段信息</div>
                <div yui-footer>
                    <a yui-button onclick="closeYuiDialog('yui-dialog-1')" type="primary">确定</a>
                    <a yui-button onclick="closeYuiDialog('yui-dialog-1')">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
<script src="../../yui/js/index.js"></script>
<script>
    function handleClose(id, dom) {
        alert("Dialog关闭前的回调");
    }
</script>
</html>