<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Dialog 对话框</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Dialog 对话框
        <div class="desc">在保留当前页面状态的情况下，告知用户并承载相关操作。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基本用法
        </div>
        <a yui-button type="text" onclick="yui.dialog.open('my-dialog')">点击打开Dialog</a>
        <div yui-dialog id="my-dialog">
            <div header>
                <div title>提示</div>
                <i class="yui-icon closed" onclick="yui.dialog.close('my-dialog')"></i>
            </div>
            <div body>这是一段信息</div>
            <div footer>
                <a yui-button type="primary" onclick="yui.dialog.close('my-dialog')">确定</a>
                <a yui-button onclick="yui.dialog.close('my-dialog')">取消</a>
            </div>
        </div>
        <pre><code class="html">
        &lt;a yui-button type="text" onclick="yui.dialog.open('my-dialog')"&gt;点击打开Dialog&lt;/a&gt;

        &lt;div yui-dialog id="my-dialog"&gt;
            &lt;div header&gt;
                &lt;div title&gt;提示&lt;/div&gt;
                &lt;i class="yui-icon closed" onclick="yui.dialog.close('my-dialog')"&gt;&lt;/i&gt;
            &lt;/div&gt;
            &lt;div body&gt;这是一段信息&lt;/div&gt;
            &lt;div footer&gt;
                &lt;a yui-button type="primary" onclick="yui.dialog.close('my-dialog')"&gt;确定&lt;/a&gt;
                &lt;a yui-button onclick="yui.dialog.close('my-dialog')"&gt;取消&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            全屏Dialog
        </div>
        <a yui-button type="text" onclick="yui.dialog.open('fullscreen-dialog')">点击打开全屏Dialog</a>
        <div yui-dialog id="fullscreen-dialog" fullscreen>
            <div header>
                <div title>提示</div>
                <i class="yui-icon closed" onclick="yui.dialog.close('fullscreen-dialog')"></i>
            </div>
            <div body>
                这是一段信息
            </div>
            <div footer>
                <a yui-button type="primary" onclick="yui.dialog.close('fullscreen-dialog')">确定</a>
                <a yui-button onclick="yui.dialog.close('fullscreen-dialog')">取消</a>
            </div>
        </div>
        <pre><code class="html">
        &lt;a yui-button type="text" onclick="yui.dialog.open('fullscreen-dialog')"&gt;点击打开全屏Dialog&lt;/a&gt;

        &lt;div yui-dialog id="fullscreen-dialog" fullscreen&gt;
            &lt;div header&gt;
                &lt;div title&gt;提示&lt;/div&gt;
                &lt;i class="yui-icon closed" onclick="yui.dialog.close('fullscreen-dialog')"&gt;&lt;/i&gt;
            &lt;/div&gt;
            &lt;div body&gt;
                这是一段信息
            &lt;/div&gt;
            &lt;div footer&gt;
                &lt;a yui-button type="primary" onclick="yui.dialog.close('fullscreen-dialog')"&gt;确定&lt;/a&gt;
                &lt;a yui-button onclick="yui.dialog.close('fullscreen-dialog')"&gt;取消&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
</html>