<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Alert 警告</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_4lv9jsj494.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Alert 警告
        <div class="desc">用于页面中展示重要的提示信息。</div>
    </div>

    <div class="page-module">
        <div class="title">
            浅色
        </div>
        <div yui-alert>
            <i class="yui-icon info"></i>
            <div content>消息</div>
        </div>
        <div yui-alert type="success">
            <i class="yui-icon success"></i>
            <div content>成功</div>
        </div>
        <div yui-alert type="warning">
            <i class="yui-icon warning"></i>
            <div content>警告</div>
        </div>
        <div yui-alert type="danger">
            <i class="yui-icon danger"></i>
            <div content>危险</div>
        </div>
        <pre><code class="html">
        &lt;div yui-alert&gt;
            &lt;i class="yui-icon info"&gt;&lt;/i&gt;
            &lt;div content&gt;消息&lt;/div&gt;
        &lt;/div&gt;

        &lt;div yui-alert type="success"&gt;
            &lt;i class="yui-icon success"&gt;&lt;/i&gt;
            &lt;div content&gt;成功&lt;/div&gt;
        &lt;/div&gt;

        &lt;div yui-alert type="warning"&gt;
            &lt;i class="yui-icon warning"&gt;&lt;/i&gt;
            &lt;div content&gt;警告&lt;/div&gt;
        &lt;/div&gt;

        &lt;div yui-alert type="danger"&gt;
            &lt;i class="yui-icon danger"&gt;&lt;/i&gt;
            &lt;div content&gt;危险&lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            深色
        </div>
        <div yui-alert effect="dark">
            <i class="yui-icon info"></i>
            <div content>消息</div>
        </div>
        <div yui-alert type="success" effect="dark">
            <i class="yui-icon success"></i>
            <div content>成功</div>
        </div>
        <div yui-alert type="warning" effect="dark">
            <i class="yui-icon warning"></i>
            <div content>警告</div>
        </div>
        <div yui-alert type="danger" effect="dark">
            <i class="yui-icon danger"></i>
            <div content>危险</div>
        </div>
        <pre><code class="html">
        &lt;div yui-alert effect="dark"&gt;
            &lt;i class="yui-icon info"&gt;&lt;/i&gt;
            &lt;div content&gt;消息&lt;/div&gt;
        &lt;/div&gt;

        &lt;div yui-alert type="success" effect="dark"&gt;
            &lt;i class="yui-icon success"&gt;&lt;/i&gt;
            &lt;div content&gt;成功&lt;/div&gt;
        &lt;/div&gt;

        &lt;div yui-alert type="warning" effect="dark"&gt;
            &lt;i class="yui-icon warning"&gt;&lt;/i&gt;
            &lt;div content&gt;警告&lt;/div&gt;
        &lt;/div&gt;

        &lt;div yui-alert type="danger" effect="dark"&gt;
            &lt;i class="yui-icon danger"&gt;&lt;/i&gt;
            &lt;div content&gt;危险&lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            带有辅助性文字
        </div>
        <div yui-alert has-info>
            <i class="yui-icon info"></i>
            <div content>
                <div title>带辅助性文字介绍</div>
                <div info>
                    这是一句绕口令：黑灰化肥会挥发发灰黑化肥挥发；灰黑化肥会挥发发黑灰化肥发挥。 黑灰化肥会挥发发灰黑化肥黑灰挥发化为灰……
                </div>
            </div>
        </div>
        <div yui-alert effect="dark" has-info>
            <i class="yui-icon info"></i>
            <div content>
                <div title>带辅助性文字介绍</div>
                <div info>
                    这是一句绕口令：黑灰化肥会挥发发灰黑化肥挥发；灰黑化肥会挥发发黑灰化肥发挥。 黑灰化肥会挥发发灰黑化肥黑灰挥发化为灰……
                </div>
            </div>
        </div>
        <pre><code class="html">
        &lt;div yui-alert has-info&gt;
            &lt;i class="yui-icon info"&gt;&lt;/i&gt;
            &lt;div content&gt;
                &lt;div title&gt;带辅助性文字介绍&lt;/div&gt;
                &lt;div info&gt;
                    这是一句绕口令：黑灰化肥会挥发发灰黑化肥挥发；灰黑化肥会挥发发黑灰化肥发挥。 黑灰化肥会挥发发灰黑化肥黑灰挥发化为灰……
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div yui-alert effect="dark" has-info&gt;
            &lt;i class="yui-icon info"&gt;&lt;/i&gt;
            &lt;div content&gt;
                &lt;div title&gt;带辅助性文字介绍&lt;/div&gt;
                &lt;div info&gt;
                    这是一句绕口令：黑灰化肥会挥发发灰黑化肥挥发；灰黑化肥会挥发发黑灰化肥发挥。 黑灰化肥会挥发发灰黑化肥黑灰挥发化为灰……
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
<style>
    div[yui-alert] {
        margin: 10px 0;
    }
</style>
</html>