<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Alert 警告</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <link rel="stylesheet" type="text/css" href=" //at.alicdn.com/t/font_1521392_esyoq1kq996.css"/>
</head>
<body>
<div class="page-content">

    <div class="page-title">
        Alert 警告
        <div class="desc">用于页面中展示重要的提示信息。</div>
    </div>

    <div class="page-module">
        <div class="title">
            浅色
        </div>
        <div yui-alert>
            <div class="yuiIcon info"></div>
            <div title>消息提示的文案</div>
        </div>
        <div yui-alert type="success">
            <div class="yuiIcon success"></div>
            <div title>
                成功提示的文案
            </div>
        </div>
        <div yui-alert type="warning">
            <div class="yuiIcon warning"></div>
            <div title>
                警告提示的文案
            </div>
        </div>
        <div yui-alert type="danger">
            <div class="yuiIcon danger"></div>
            <div title>
                危险提示的文案
            </div>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            深色
        </div>
        <div yui-alert effect="dark">
            <div class="yuiIcon info"></div>
            <div title>消息提示的文案</div>
        </div>
        <div yui-alert type="success" effect="dark">
            <div class="yuiIcon success"></div>
            <div title>
                成功提示的文案
            </div>
        </div>
        <div yui-alert type="warning" effect="dark">
            <div class="yuiIcon warning"></div>
            <div title>
                警告提示的文案
            </div>
        </div>
        <div yui-alert type="danger" effect="dark">
            <div class="yuiIcon danger"></div>
            <div title>
                危险提示的文案
            </div>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            多行
        </div>
        <div yui-alert is-rows>
            <div class="yuiIcon info"></div>
            <div title>
                消息提示的文案
                <div description>
                    文字说明文字说明文字说明文字说明文字说明文字说明
                </div>
            </div>
        </div>
        <div yui-alert is-rows effect="dark">
            <div class="yuiIcon info"></div>
            <div title>
                消息提示的文案
                <div description>
                    文字说明文字说明文字说明文字说明文字说明文字说明
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<!--非必须引入-->
<script src="../../yui/js/index.js"></script>
<script>
    function yuiAlertClose(dom) {
        yuiMessage("设置了回调的 Alert")
    }

    function yuiAlertNotClose(dom) {
        yuiMessage("设置了回调的 Alert ，通过 return false 阻止关闭");
        return false
    }
</script>
</html>