<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - demo</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <!--    <link rel="stylesheet" type="text/css" href=" //at.alicdn.com/t/font_1521392_esyoq1kq996.css"/>-->
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Select 选择器
        <div class="desc">当选项过多时，使用下拉菜单展示并选择内容。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
            <div class="desc">适用广泛的基础单选</div>
        </div>
        <div yui-select>
            <label>
                <input readonly="readonly" type="text"  placeholder="请选择" yui-input-inner/>
            </label>
            <div panel>

            </div>
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
<!--<script src="../../yui/js/index.js"></script>-->
</html>