<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Select 选择器</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Select 选择器
        <div class="desc">当选项过多时，使用下拉菜单展示并选择内容。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
        </div>
        <div yui-select change="mySelectChange" id="my-select">
            <label>
                <input type="text" autocomplete="off" placeholder="请选择"/>
                <span suffix><i class="yui-icon arrow-down"></i></span>
            </label>
            <div panel>
                <a value="1" menu-item>黄金糕</a>
                <a value="2" menu-item>狮子头</a>
                <a value="3" menu-item>螺蛳粉</a>
                <a value="4" menu-item disabled>双皮奶</a>
                <a value="5" menu-item>蚵仔煎</a>
            </div>
        </div>
        <div style="margin-top: 12px">
            <a type="primary" plain yui-button onclick="getSelectData()">获取选中数据</a>
        </div>
    </div>
</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
<script>
    function mySelectChange(value, label) {
        if (value === '3') {
            yui.message.danger(`拒绝选中 ${label}`);
            return false
        }
        yui.message.success(`选中 ${label}`);
    }

    function getSelectData() {
        const {value, label} = yui.select.data('my-select');
        yui.message.success(`选中 label: ${label},value: ${value}`, {effect: 'dark'});
    }
</script>
<style>
    div[yui-input] {
        width: 240px;
    }
</style>
</html>








