<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Tooltip 文字提示</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Tooltip 文字提示
        <div class="desc">常用于展示鼠标 hover 时的提示信息。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
            <div class="desc">
                在这里我们提供 9 种不同方向的展示方式，可以通过以下完整示例来理解，选择你要的效果。
            </div>
            <div class="tooltip-demo" style="margin-top: 60px">
                <div yui-tooltip style="display: inline-block">
                    <div text>Top Left 提示文字</div>
                    <a yui-button>上左</a>
                </div>
                <div yui-tooltip style="display: inline-block">
                    <a yui-button>上左</a>
                </div>
                <div yui-tooltip style="display: inline-block">
                    <a yui-button>上左</a>
                </div>
            </div>
            <div class="tooltip-demo align">
                <div>
                    <div yui-tooltip>
                        <a yui-button>上左</a>
                    </div>
                    <div yui-tooltip>
                        <a yui-button>上左</a>
                    </div>
                    <div yui-tooltip>
                        <a yui-button>上左</a>
                    </div>
                </div>
                <div style="float: right">
                    <div yui-tooltip>
                        <a yui-button>上左</a>
                    </div>
                    <div yui-tooltip>
                        <a yui-button>上左</a>
                    </div>
                    <div yui-tooltip>
                        <a yui-button>上左</a>
                    </div>
                </div>
            </div>
            <div class="tooltip-demo">
                <div yui-tooltip style="display: inline-block">
                    <a yui-button>上左</a>
                </div>
                <div yui-tooltip style="display: inline-block">
                    <a yui-button>上左</a>
                </div>
                <div yui-tooltip style="display: inline-block">
                    <a yui-button>上左</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
</html>