<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Tooltip 文字提示</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Tooltip 文字提示
        <div class="desc">常用于展示鼠标 hover 时的提示信息。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
            <div class="desc">
                在这里我们提供 12 种不同方向的展示方式，可以通过以下完整示例来理解，选择你要的效果。
            </div>
            <div class="tooltip-demo" style="margin-top: 60px">
                <div yui-tooltip placement="top-start">
                    <div text>Top Left 提示文字</div>
                    <a yui-button>上左</a>
                </div>
                <div yui-tooltip placement="top">
                    <div text>Top Center 提示文字</div>
                    <a yui-button>上边</a>
                </div>
                <div yui-tooltip placement="top-end">
                    <div text>Top Right 提示文字</div>
                    <a yui-button>上右</a>
                </div>
            </div>
            <div class="tooltip-demo align">
                <div>
                    <div yui-tooltip placement="left-start">
                        <div text>Left Top 提示文字</div>
                        <a yui-button>左上</a>
                    </div>
                    <br/>
                    <div yui-tooltip placement="left">
                        <div text>Left Center 提示文字</div>
                        <a yui-button>左边</a>
                    </div>
                    <br/>
                    <div yui-tooltip placement="left-end">
                        <div text>Left Bottom 提示文字</div>
                        <a yui-button>左下</a>
                    </div>
                </div>
                <div style="float: right">
                    <div yui-tooltip placement="right-start">
                        <div text>Right Top 提示文字</div>
                        <a yui-button>右上</a>
                    </div>
                    <br/>
                    <div yui-tooltip placement="right">
                        <div text>Right Center 提示文字</div>
                        <a yui-button>右边</a>
                    </div>
                    <br/>
                    <div yui-tooltip placement="right-end">
                        <div text>Right Bottom 提示文字</div>
                        <a yui-button>右下</a>
                    </div>
                </div>
            </div>
            <div class="tooltip-demo">
                <div yui-tooltip placement="bottom-start">
                    <div text>Bottom Left 提示文字</div>
                    <a yui-button>下左</a>
                </div>
                <div yui-tooltip placement="bottom">
                    <div text>Bottom Center 提示文字</div>
                    <a yui-button>下边</a>
                </div>
                <div yui-tooltip placement="bottom-end">
                    <div text>Bottom Right 提示文字</div>
                    <a yui-button>下右</a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            主题
            <div class="desc">
                Tooltip 组件提供了两个不同的主题：dark和light。
            </div>
        </div>
        <div yui-tooltip placement="top">
            <div text>Top Center</div>
            <a yui-button>Dark</a>
        </div>
        <div yui-tooltip effect="light" placement="bottom">
            <div text>Bottom Center</div>
            <a yui-button>Light</a>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            更多 Content
            <div class="desc">
                展示多行文本或者是设置文本内容的格式
            </div>
        </div>
        <div yui-tooltip placement="top">
            <div text>多行信息<br/>第二行信息</div>
            <a yui-button>Top Center</a>
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
<script src="../../yui/js/index.js"></script>
</html>