<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Anchor 锚点</title>
    <link rel="icon" type="image/x-icon" href="../../public/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <link rel="stylesheet" type="text/css" href="../../public/highLight/monokai-sublime.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="../../yui/yui.css">
    <link rel="stylesheet" type="text/css" href="../../yui/iconfont.css">
</head>
<body>
<!--网页头部-->
<div class="page-header"></div>
<!--网页内容-->
<div class="page-content">
    <div class="page-title">
        快速定位模块位置
    </div>
    <div scroll-top="32%" click-top="25%" yui-anchor align-center yui-click="anchorClick">
        <a value="user">用户管理</a>
        <a value="role">角色管理</a>
        <a value="dict">字典管理</a>
        <a value="order">订单管理</a>
    </div>
    <div class="module">
        头部
    </div>
    <div yui-anchor-module="user">
        用户管理
    </div>
    <div yui-anchor-module="role">
        角色管理
    </div>
    <div yui-anchor-module="dict">
        字典管理
    </div>
    <div yui-anchor-module="order">
        订单管理
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div scroll-top="32%" click-top="25%" yui-anchor align-center yui-click="anchorClick"&gt;
            &lt;a value="user"&gt;用户管理&lt;/a&gt;
            &lt;a value="role"&gt;角色管理&lt;/a&gt;
            &lt;a value="dict"&gt;字典管理&lt;/a&gt;
            &lt;a value="order"&gt;订单管理&lt;/a&gt;
        &lt;/div&gt;

        &lt;div class="module"&gt;
            头部
        &lt;/div&gt;

        &lt;div yui-anchor-module="user"&gt;
            用户管理
        &lt;/div&gt;

        &lt;div yui-anchor-module="role"&gt;
            角色管理
        &lt;/div&gt;

        &lt;div yui-anchor-module="dict"&gt;
            字典管理
        &lt;/div&gt;

        &lt;div yui-anchor-module="order"&gt;
            订单管理
        &lt;/div&gt;

        &lt;script&gt;

            function anchorClick(value) {
                if (value === 'dict') {
                    yuiMessage(`阻止跳转到 ${value} 模块`, {type: "danger", delay: 1000});
                    return false
                }
                yuiMessage(`跳转到 ${value} 模块`, {type: "success", delay: 1000})
            }

        &lt;/script&gt;

        &lt;style&gt;

            div[yui-anchor-module], .module {
                height: 500px;
                box-sizing: border-box;
                background-color: #F5F5F5;
                border: 1px solid #b3d8ff;
                margin: 150px auto;
                width: 1200px;
            }

        &lt;/style&gt;
        </code></pre>
    </div>
    <div class="attr">
        <div class="module-title">
            yui-anchor
        </div>
        <table>
            <thead>
            <tr>
                <td>属性</td>
                <td>说明</td>
                <td>类型</td>
                <td>可选值 / 回调参数</td>
                <td>默认值 / 参数形式</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>click-top</td>
                <td>点击锚点时对应模块跳转到的位置距离顶部的大小</td>
                <td>number：数字（px）<br/>percent：视窗高度的百分数</td>
                <td>--</td>
                <td>25%</td>
            </tr>
            <tr>
                <td>scroll-top</td>
                <td>模块滚动到距离顶部多少时相应的锚点变成选中状态</td>
                <td>number：数字（px）<br/>percent：视窗高度的百分数</td>
                <td>--</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>align-center</td>
                <td>锚点菜单位置是否需要垂直居中</td>
                <td>是否具有该属性</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>top</td>
                <td>菜单距离上边的偏移量（fixed定位）</td>
                <td>原生style属性</td>
                <td>--</td>
                <td>0px</td>
            </tr>
            <tr>
                <td>left</td>
                <td>菜单距离左边的偏移量（fixed定位）</td>
                <td>原生style属性</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>bottom</td>
                <td>菜单距离下边的偏移量（fixed定位）（如果设置了top，那么该属性无效）</td>
                <td>原生style属性</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>right</td>
                <td>菜单距离右边的偏移量（fixed定位）（如果设置了left，那么该属性无效）</td>
                <td>原生style属性</td>
                <td>--</td>
                <td>0px</td>
            </tr>
            <tr>
                <td>yui-click</td>
                <td>点击锚点时的回调，如果返回false，则阻止模块的滚动</td>
                <td>functionName：方法名</td>
                <td>name：被点击的锚点名称</td>
                <td>(name)</td>
            </tr>
            </tbody>
        </table>
        <div class="module-title">
            yui-anchor > div
        </div>
        <table>
            <thead>
            <tr>
                <td>属性</td>
                <td>说明</td>
                <td>类型</td>
                <td>可选值 / 回调参数</td>
                <td>默认值 / 参数形式</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>value</td>
                <td>锚点的值</td>
                <td>string</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>checked</td>
                <td>锚点选中状态</td>
                <td>是否具有该属性</td>
                <td>--</td>
                <td>--</td>
            </tr>
            </tbody>
        </table>
        <div class="module-title">
            yui-anchor-module
        </div>
        <table>
            <thead>
            <tr>
                <td>属性</td>
                <td>说明</td>
                <td>类型</td>
                <td>可选值 / 回调参数</td>
                <td>默认值 / 参数形式</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>yui-anchor-module</td>
                <td>标识为锚点模块，与锚点的值对应</td>
                <td>string</td>
                <td>--</td>
                <td>--</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="../../public/highLight/highlight.pack.js"></script>
<script src="../../public/index.js"></script>
<script src="../../yui/yui.js"></script>
<script>
    function anchorClick(value) {
        if (value === 'order') {
            yuiMessage(`阻止跳转到 ${dict} 模块`, {type: "danger", delay: 1000});
            return false
        }
        yuiMessage(`跳转到 ${value} 模块`, {type: "success", delay: 1000})
    }
</script>
</html>