body {
    margin: 0;
    padding: 0;
    color: #303133;
    min-width: 1200px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 2020;
    min-width: 1200px;
}

.page-header > div[yui-menu] {
    padding: 0 5%;
}

.page-header .submenu-panel {
    width: 600px;
    left: -210px !important;
}

.page-header .submenu-panel .submenu-list {
    display: flex;
    flex-wrap: wrap;
}

.page-header .submenu-panel .submenu-list > a[menu-item] {
    width: 200px;
    text-align: left;
}

.page-content {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.page-title {
    text-align: center;
    font-size: 22px;
    padding: 120px 0 20px 0;
    color: #1f2f3d;
    line-height: 1.5em;
}

.page-title > .desc {
    text-align: center;
    font-size: 15px;
    color: #5e6d82;
    line-height: 26px;
}

.page-module {
    border: 1px solid #ebebeb;
    padding: 18px;
    background: white;
    border-radius: 4px;
    margin: 40px 0;
}

.page-module > .title {
    font-weight: 400;
    color: #1f2f3d;
    font-size: 18px;
    padding-bottom: 16px;
}

.page-module .row {
    margin-bottom: 20px;
}

.page-module .row:last-child {
    margin-bottom: 0;
}

.page-module .row-flex {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.page-module .row-flex > div {
    margin-right: 30px;
}

.hljs {
    border-radius: 5px;
}
