body {
    margin: 0;
    padding: 0;
    color: #303133;
    min-width: 1200px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.page-content {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.page-title {
    text-align: center;
    font-size: 22px;
    padding: 60px 0 20px 0;
    color: #1f2f3d;
    line-height: 1.5em;
}

.page-title > .desc {
    text-align: center;
    font-size: 15px;
    color: #5e6d82;
    line-height: 26px;
}

.page-module {
    border: 1px solid #ebebeb;
    padding: 18px;
    background: white;
    border-radius: 4px;
    margin: 40px 0;
}

.page-module > .title {
    font-weight: 400;
    color: #1f2f3d;
    font-size: 18px;
}

.page-module > .title > .desc {
    font-size: 15px;
    color: #5e6d82;
    line-height: 26px;
    padding: 8px 0 16px 0;
}

.page-module .row {
    margin-bottom: 20px;
}

.page-module .row:last-child {
    margin-bottom: 0;
}

.page-module .row-flex {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.page-module .row-flex > div {
    margin-right: 30px;
}

div[yui-alert] {
    margin: 16px 0;
}

div[yui-badge] {
    margin: 0 16px;
}

div[yui-card] > div[body] > div {
    margin-bottom: 18px;
}

div[yui-card] .body-style {
    padding: 14px;
}

div[yui-card] .body-style > div {
    display: flex;
    margin-top: 14px;
    color: #999;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
}

div[yui-card].shadow-card {
    padding: 14px 0;
    width: 230px;
    text-align: center
}

.color-box {
    width: 185px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
}

.color-box.big {
    width: 320px;
}

.color-box.black {
    color: #303133;
}

.color-box .text {
    padding: 16px;
}

.color-box.big .text {
    padding: 20px;
}

.color-box .text > div {
    font-size: 12px;
    opacity: .69;
    line-height: 24px;
}

.color-box .mini-box {
    width: 100%;
    display: flex;
}

.color-box .mini-box > div {
    height: 40px;
    flex-grow: 1;
}

.color-box.transparent {
    border: 1px solid #fcc3c3;
    background: linear-gradient(
            to bottom right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 1px),
            #fcc3c3 50%,
            rgba(0, 0, 0, 0) calc(50% + 1px),
            rgba(0, 0, 0, 0) 100%
    )
}

.border-table {
    color: #606266;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5em;
    border-spacing: 2px;
    border-color: grey;
    width: 100%;
}

.border-table th, .border-table td {
    border-bottom: 1px solid #dcdfe6;
    padding: 15px;
    text-align: left;
}

.border-radius {
    color: #666;
    font-size: 18px;
}

.border-radius .value {
    color: #333;
    font-size: 16px;
    margin: 10px 0;
}

.border-radius .box {
    height: 60px;
    width: 110px;
    border: 1px solid #d7dae2;
    border-radius: 0;
    margin-top: 20px;
}

.border-shadow {
    height: 100px;
    width: 50%;
    border: 1px solid #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

.border-shadow-text {
    line-height: 50px;
    color: #666;
    font-size: 14px;
}