<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Checkbox 多选框</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Checkbox 多选框
        <div class="desc">一组备选项中进行多选</div>
    </div>

    <div class="page-module">
        <div class="title">
            多选框组
            <div class="desc">
                适用于多个勾选框绑定到同一个数组的情景，通过是否勾选来表示这一组选项中选中的项。
            </div>
        </div>
        <div yui-checkbox-group id="my-checkbox">
            <a value="复选款A" yui-checkbox checked>复选款 A</a>
            <a value="复选款B" yui-checkbox>复选款 B</a>
            <a value="复选款C" yui-checkbox>复选款 C</a>
            <a value="禁用" yui-checkbox disabled>禁用</a>
            <a value="选中且禁用" yui-checkbox checked disabled>选中且禁用</a>
        </div>
        <div style="margin-top: 16px">
            <a onclick="getStateData()" type="primary" yui-button plain>获取状态数据</a>
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
<script src="../../yui/js/index.js"></script>
<script>
    function getStateData() {
        const data = getYuiCheckboxState("my-checkbox");
        yuiMessage(`选中：${JSON.stringify(data['checked'])}`, {type: 'success'});
        yuiMessage(`未选中：${JSON.stringify(data['unchecked'])}`);
    }
</script>
</html>