<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Checkbox 多选框</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_4lv9jsj494.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Checkbox 多选框
        <div class="desc">一组备选项中进行多选</div>
    </div>

    <div class="page-module">
        <div class="title">
            多选框组
        </div>
        <div yui-checkbox-group id="my-checkbox">
            <a value="复选款A" yui-checkbox checked>复选款 A</a>
            <a value="复选款B" yui-checkbox>复选款 B</a>
            <a value="复选款C" yui-checkbox>复选款 C</a>
            <a value="禁用" yui-checkbox disabled>禁用</a>
            <a value="选中且禁用" yui-checkbox checked disabled>选中且禁用</a>
        </div>
        <div style="margin-top: 16px">
            <a onclick="getCheckboxChecked()" type="primary" yui-button plain>获取状态数据</a>
        </div>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script>
    function getCheckboxChecked() {
        const data = yuiCheckboxData("my-checkbox");
        yui.message.success(`选中：${JSON.stringify(data['checked'])}`);
        yuiMessage(`未选中：${JSON.stringify(data['unchecked'])}`);
    }
</script>
</html>