<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Checkbox 多选框</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Checkbox 多选框
        <div class="desc">一组备选项中进行多选</div>
    </div>

    <div class="page-module">
        <div class="title">
            多选框组
        </div>
        <div yui-checkbox-group id="my-checkbox" change="myCheckboxChange">
            <a value="复选款A" yui-checkbox>复选款 A</a>
            <a value="复选款B" yui-checkbox>复选款 B</a>
            <a value="复选款C" yui-checkbox checked>复选款 C</a>
            <a value="禁用" yui-checkbox disabled>禁用</a>
            <a value="选中且禁用" yui-checkbox checked disabled>选中且禁用</a>
        </div>
        <div style="margin-top: 16px">
            <a onclick="getCheckboxChecked()" type="primary" yui-button plain>获取状态数据</a>
        </div>
        <pre><code class="html">
        &lt;div yui-checkbox-group id="my-checkbox" change="myCheckboxChange"&gt;
            &lt;a value="复选款A" yui-checkbox&gt;复选款 A&lt;/a&gt;
            &lt;a value="复选款B" yui-checkbox&gt;复选款 B&lt;/a&gt;
            &lt;a value="复选款C" yui-checkbox checked&gt;复选款 C&lt;/a&gt;
            &lt;a value="禁用" yui-checkbox disabled&gt;禁用&lt;/a&gt;
            &lt;a value="选中且禁用" yui-checkbox checked disabled&gt;选中且禁用&lt;/a&gt;
        &lt;/div&gt;

        &lt;a onclick="getCheckboxChecked()" type="primary" yui-button plain&gt;获取状态数据&lt;/a&gt;

        &lt;script&gt;

            function myCheckboxChange(value, checked) {
                if (value === "复选款A") {
                    yui.message.danger(`拒绝${checked ? '取消选中' : '选中'} ${value}`);
                    return false
                }
                yui.message.info(`${checked ? '取消选中' : '选中'} ${value}`);
            }

            function getCheckboxChecked() {
                const data = yui.checkbox.data("my-checkbox");
                yui.message.success(`选中：${JSON.stringify(data['checked'])}`, {effect: 'dark'});
                yuiMessage(`未选中：${JSON.stringify(data['unchecked'])}`, {effect: 'dark'});
            }

        &lt;/script&gt;
        </code></pre>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
<script>
    function myCheckboxChange(value, checked) {
        if (value === "复选款A") {
            yui.message.danger(`拒绝${checked ? '取消选中' : '选中'} ${value}`);
            return false
        }
        yui.message.info(`${checked ? '取消选中' : '选中'} ${value}`);
    }

    function getCheckboxChecked() {
        const data = yui.checkbox.data("my-checkbox");
        yui.message.success(`选中：${JSON.stringify(data['checked'])}`, {effect: 'dark'});
        yuiMessage(`未选中：${JSON.stringify(data['unchecked'])}`, {effect: 'dark'});
    }
</script>
</html>