<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Popover 弹出框</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_sp4avpx238.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Popover 弹出框
        <div class="desc">基础用法</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
            <div class="desc">
                Popover 的属性与 Tooltip 很类似，它们都是基于Vue-popper开发的，
                因此对于重复属性，请参考 Tooltip 的文档，在此文档中不做详尽解释。
            </div>
        </div>
        <div yui-tooltip placement="top" popover trigger="click">
            <div text style="width: 160px">
                <div style="margin-bottom: 8px;white-space: normal">
                    这是一段内容这是一段内容确定删除吗？
                </div>
                <div style="text-align: right">
                    <a yui-button type="text">取消</a>
                    <a yui-button size="mini" type="danger">删除</a>
                </div>
            </div>
            <a yui-button>删除</a>
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
<script src="../../yui/js/index.js"></script>
</html>