<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Popover 弹出框</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_4lv9jsj494.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Popover 弹出框
        <div class="desc">常用于点击时弹出确认信息。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
        </div>
        <div yui-popover placement="top" trigger="hover">
            <a yui-button>Hover 激活</a>
            <div panel style="width: 200px">
                <div title>标题</div>
                <div content>
                    这是一段内容,这是一段内容,这是一段内容,这是一段内容。
                </div>
            </div>
        </div>
        <div yui-popover placement="bottom">
            <a yui-button>Click 激活</a>
            <div panel style="width: 200px">
                <div title>标题</div>
                <div content>
                    这是一段内容,这是一段内容,这是一段内容,这是一段内容。
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
</html>








