body {
    margin: 0;
    padding: 0;
    color: #303133;
    min-width: 1200px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body > .page-header {
    position: fixed;
    width: 100%;
    z-index: 2020;
    min-width: 1200px;
}

body > .page-header .more-row {
    display: flex;
}

body > .page-header .more-row > a {
    width: 220px;
}

body > .page-content {
    padding: 100px 0 0 0;
}

.red-border {
    border: 1px solid red;
}

.page-title {
    text-align: center;
    padding: 20px 0;
    color: #303133;
    font-size: 24px;
}

.page-title > .desc {
    font-size: 14px;
    padding-top: 5px;
    color: #909399;
}

.module-title {
    text-align: center;
    padding: 40px 0 20px 0;
    color: #303133;
    font-size: 18px;
}

.module-title > .desc {
    font-size: 12px;
    padding-top: 5px;
    color: #909399;
}

.code {
    width: 60%;
    min-width: 1200px;
    margin: 0 auto 30px auto;
    border-radius: 4px;
}

.hljs {
    border-radius: 5px;
}

.attr {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.attr .module-title {
    color: white;
    font-weight: bold;
}

.attr table {
    width: 1200px;
    margin: 0 auto 50px;
}


.attr table > thead > tr > td {
    font-weight: bold;
    font-size: 14px;
    color: #909399;
    padding: 10px 12px;
}

.attr table > tbody > tr > td {
    line-height: 30px;
    color: #EBEEF5;
    padding: 10px 12px;
    max-width: 400px;
    word-break: break-word;
    vertical-align: top;
}

.attr table > tbody > tr > td:nth-child(1) {
    width: 250px;
}

.attr table > tbody > tr > td:nth-child(2) {
    width: 200px;
}

.attr table > tbody > tr > td:nth-child(3) {
    width: 200px;
}

.attr table > tbody > tr > td:nth-child(4) {
    width: 300px;
}

.attr table > tbody > tr > td:nth-child(5) {
    width: 250px;
}

.child-menu-row {
    display: flex;
}