<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Link 文字链接</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_sp4avpx238.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Link 文字链接
        <div class="desc">文字超链接</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
            <div class="desc">基础的文字链接用法。</div>
        </div>
        <div class="row">
            <a href="#" yui-link>默认链接</a>
            <a href="#" yui-link type="info">信息链接</a>
            <a href="#" yui-link type="primary">主要链接</a>
            <a href="#" yui-link type="success">成功链接</a>
            <a href="#" yui-link type="warning">警告链接</a>
            <a href="#" yui-link type="danger">危险链接</a>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            禁用状态
            <div class="desc">文字链接不可用状态。</div>
        </div>
        <div class="row">
            <a href="#" yui-link disabled>默认链接</a>
            <a href="#" yui-link type="info" disabled>信息链接</a>
            <a href="#" yui-link type="primary" disabled>主要链接</a>
            <a href="#" yui-link type="success" disabled>成功链接</a>
            <a href="#" yui-link type="warning" disabled>警告链接</a>
            <a href="#" yui-link type="danger" disabled>危险链接</a>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            下划线
            <div class="desc">文字链接下划线。</div>
        </div>
        <div class="row">
            <a href="#" yui-link>无下划线</a>
            <a href="#" yui-link underline>有下划线</a>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            图标
            <div class="desc">带图标的文字链接可增强辨识度。</div>
        </div>
        <div class="row">
            <a href="#" yui-link><i yui-icon class="iconfont yui-icon-update"></i>编辑</a>
            <a href="#" yui-link>查看<i yui-icon class="iconfont yui-icon-eye"></i></a>
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
</html>