<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Link 文字链接</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Link 文字链接
        <div class="desc">文字超链接</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
        </div>
        <div class="row">
            <a href="#" yui-link>默认链接</a>
            <a href="#" yui-link type="info">信息链接</a>
            <a href="#" yui-link type="primary">主要链接</a>
            <a href="#" yui-link type="success">成功链接</a>
            <a href="#" yui-link type="warning">警告链接</a>
            <a href="#" yui-link type="danger">危险链接</a>
        </div>
        <pre><code class="html">
        &lt;a href="#" yui-link&gt;默认链接&lt;/a&gt;

        &lt;a href="#" yui-link type="info"&gt;信息链接&lt;/a&gt;

        &lt;a href="#" yui-link type="primary"&gt;主要链接&lt;/a&gt;

        &lt;a href="#" yui-link type="success"&gt;成功链接&lt;/a&gt;

        &lt;a href="#" yui-link type="warning"&gt;警告链接&lt;/a&gt;

        &lt;a href="#" yui-link type="danger"&gt;危险链接&lt;/a&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            禁用状态
        </div>
        <div class="row">
            <a href="#" yui-link disabled>默认链接</a>
            <a href="#" yui-link type="info" disabled>信息链接</a>
            <a href="#" yui-link type="primary" disabled>主要链接</a>
            <a href="#" yui-link type="success" disabled>成功链接</a>
            <a href="#" yui-link type="warning" disabled>警告链接</a>
            <a href="#" yui-link type="danger" disabled>危险链接</a>
        </div>
        <pre><code class="html">
        &lt;a href="#" yui-link disabled&gt;默认链接&lt;/a&gt;

        &lt;a href="#" yui-link type="info" disabled&gt;信息链接&lt;/a&gt;

        &lt;a href="#" yui-link type="primary" disabled&gt;主要链接&lt;/a&gt;

        &lt;a href="#" yui-link type="success" disabled&gt;成功链接&lt;/a&gt;

        &lt;a href="#" yui-link type="warning" disabled&gt;警告链接&lt;/a&gt;

        &lt;a href="#" yui-link type="danger" disabled&gt;危险链接&lt;/a&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            下划线
        </div>
        <div class="row">
            <a href="#" yui-link>无下划线</a>
            <a href="#" yui-link underline>有下划线</a>
        </div>
        <pre><code class="html">
        &lt;a href="#" yui-link&gt;无下划线&lt;/a&gt;

        &lt;a href="#" yui-link underline&gt;有下划线&lt;/a&gt;
        </code></pre>
    </div>
</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
</html>