<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Tooltip 文字提示</title>
    <link rel="icon" type="image/x-icon" href="../../public/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <link rel="stylesheet" type="text/css" href="../../public/highLight/monokai-sublime.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="../../yui/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../yui/yui.css">
</head>
<body>
<!--网页头部-->
<div class="page-header"></div>
<!--网页内容-->
<div class="page-content">
    <div class="page-title">
        Tooltip 文字提示
    </div>
    <div class="demo">
        <div class="module-title">
            12个方向
        </div>
        <div yui-tooltip content="上左提示文字" position="top-start">
            <a yui-button size="small">上左</a>
        </div>
        <div yui-tooltip content="上边提示文字">
            <a yui-button size="small">上边</a>
        </div>
        <div yui-tooltip content="上右提示文字" position="top-end">
            <a yui-button size="small">上右</a>
        </div>
    </div>
    <div class="columns-demo">
        <div>
            <div>
                <div yui-tooltip content="左上提示文字" position="left-start">
                    <a yui-button size="small">左上</a>
                </div>
            </div>
            <div>
                <div yui-tooltip content="左边提示文字" position="left">
                    <a yui-button size="small">左边</a>
                </div>
            </div>
            <div>
                <div yui-tooltip content="左下提示文字" position="left-end">
                    <a yui-button size="small">左下</a>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div yui-tooltip content="右上提示文字" position="right-start">
                    <a yui-button size="small">右上</a>
                </div>
            </div>
            <div>
                <div yui-tooltip content="右边提示文字" position="right">
                    <a yui-button size="small">右边</a>
                </div>
            </div>
            <div>
                <div yui-tooltip content="右下提示文字" position="right-end">
                    <a yui-button size="small">右下</a>
                </div>
            </div>
        </div>
    </div>
    <div class="demo">
        <div yui-tooltip content="下左提示文字" position="bottom-start">
            <a yui-button size="small">下左</a>
        </div>
        <div yui-tooltip content="下边提示文字" position="bottom">
            <a yui-button size="small">下边</a>
        </div>
        <div yui-tooltip content="下右提示文字" position="bottom-end">
            <a yui-button size="small">下右</a>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div yui-tooltip content="上左提示文字" position="top-start"&gt;
            &lt;a yui-button size="small"&gt;上左&lt;/a&gt;
        &lt;/div&gt;

        &lt;div yui-tooltip content="上边提示文字"&gt;
            &lt;a yui-button size="small"&gt;上边&lt;/a&gt;
        &lt;/div&gt;

        &lt;div yui-tooltip content="上右提示文字" position="top-end"&gt;
            &lt;a yui-button size="small"&gt;上右&lt;/a&gt;
        &lt;/div&gt;


        &lt;div yui-tooltip content="左上提示文字" position="left-start"&gt;
            &lt;a yui-button size="small"&gt;左上&lt;/a&gt;
        &lt;/div&gt;

        &lt;div yui-tooltip content="左边提示文字" position="left"&gt;
            &lt;a yui-button size="small"&gt;左边&lt;/a&gt;
        &lt;/div&gt;

        &lt;div yui-tooltip content="左下提示文字" position="left-end"&gt;
            &lt;a yui-button size="small"&gt;左下&lt;/a&gt;
        &lt;/div&gt;


        &lt;div yui-tooltip content="右上提示文字" position="right-start"&gt;
            &lt;a yui-button size="small"&gt;右上&lt;/a&gt;
        &lt;/div&gt;

        &lt;div&gt;
            &lt;div yui-tooltip content="右边提示文字" position="right"&gt;
                &lt;a yui-button size="small"&gt;右边&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div yui-tooltip content="右下提示文字" position="right-end"&gt;
            &lt;a yui-button size="small"&gt;右下&lt;/a&gt;
        &lt;/div&gt;


        &lt;div yui-tooltip content="下左提示文字" position="bottom-start"&gt;
            &lt;a yui-button size="small"&gt;下左&lt;/a&gt;
        &lt;/div&gt;

        &lt;div yui-tooltip content="下边提示文字" position="bottom"&gt;
            &lt;a yui-button size="small"&gt;下边&lt;/a&gt;
        &lt;/div&gt;

        &lt;div yui-tooltip content="下右提示文字" position="bottom-end"&gt;
            &lt;a yui-button size="small"&gt;下右&lt;/a&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="demo">
        <div class="module-title">
            两个主题
            <div class="desc">
                默认深色
            </div>
        </div>
        <div yui-tooltip content="深色主题">
            <a yui-button size="small">深色</a>
        </div>
        <div yui-tooltip theme="light" content="浅色主题">
            <a yui-button size="small">浅色</a>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div yui-tooltip content="深色主题"&gt;
            &lt;a yui-button size="small"&gt;深色&lt;/a&gt;
        &lt;/div&gt;

        &lt;div yui-tooltip theme="light" content="浅色主题"&gt;
            &lt;a yui-button size="small"&gt;浅色&lt;/a&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="demo">
        <div class="module-title">
            自定义内容
        </div>
        <div yui-tooltip>
            <div yui-tooltip-text>
                多行信息<br/>第二行信息
            </div>
            <a yui-button size="small">多行信息</a>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div yui-tooltip&gt;
            &lt;div yui-tooltip-text&gt;
                多行信息&lt;br/&gt;第二行信息
            &lt;/div&gt;
            &lt;a yui-button size="small"&gt;多行信息&lt;/a&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="attr">
        <div class="module-title">
            yui-tooltip
        </div>
        <table>
            <thead>
            <tr>
                <td>属性</td>
                <td>说明</td>
                <td>类型</td>
                <td>可选值 / 回调参数</td>
                <td>默认值 / 参数形式</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>theme</td>
                <td>主题</td>
                <td>string</td>
                <td>light / dark</td>
                <td>light</td>
            </tr>
            <tr>
                <td>value</td>
                <td>显示的文字</td>
                <td>string</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>position</td>
                <td>显示的位置</td>
                <td>string</td>
                <td>
                    top-start / top / top-end
                    left-start / left / left-end
                    right-start / right / right-end
                    bottom-start / bottom / bottom-end
                </td>
                <td>top</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="../../public/highLight/highlight.pack.js"></script>
<script src="../../public/index.js"></script>
<script src="../../yui/yui.js"></script>
</html>