.demo {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.demo a[yui-button] {
    width: 120px;
}

.columns-demo {
    display: flex;
    justify-content: center
}

.columns-demo > div:first-child {
    margin-right: 400px;
}

.columns-demo a[yui-button] {
    margin: 5px 0;
    height: 100px;
}