<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Button</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Button 按钮
        <div class="desc">常用的操作按钮。</div>
    </div>

    <div class="page-module">
        <div class="title">
            <div>基础用法</div>
            <div class="desc">基础的按钮用法。</div>
        </div>
        <div>
            <a yui-button>默认按钮</a>
            <a yui-button type="primary">主要按钮</a>
            <a yui-button type="success">成功按钮</a>
            <a yui-button type="warning">警告按钮</a>
            <a yui-button type="danger">危险按钮</a>
            <a yui-button type="info">信息按钮</a>
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
</html>