<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Radio 单选框</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Radio 单选框
        <div class="desc">在一组备选项中进行单选</div>
    </div>

    <div class="page-module">
        <div class="title">
            单选框组
        </div>
        <div yui-radio-group id="my-radio" change="myRadioChange">
            <a value="备选项A" yui-radio>备选项 A</a>
            <a value="备选项B" yui-radio>备选项 B</a>
            <a value="备选项C" yui-radio>备选项 C</a>
            <a value="禁用" yui-radio disabled>禁用</a>
            <a value="禁用并选中" yui-radio checked disabled>禁用并选中</a>
        </div>
        <div style="margin-top: 16px">
            <a onclick="getRadioChecked()" type="primary" yui-button plain>获取选中数据</a>
        </div>
        <pre><code class="html">
        &lt;div yui-radio-group id="my-radio" change="myRadioChange"&gt;
            &lt;a value="备选项A" yui-radio&gt;备选项 A&lt;/a&gt;
            &lt;a value="备选项B" yui-radio&gt;备选项 B&lt;/a&gt;
            &lt;a value="备选项C" yui-radio&gt;备选项 C&lt;/a&gt;
            &lt;a value="禁用" yui-radio disabled&gt;禁用&lt;/a&gt;
            &lt;a value="禁用并选中" yui-radio checked disabled&gt;禁用并选中&lt;/a&gt;
        &lt;/div&gt;

        &lt;a onclick="getRadioChecked()" type="primary" yui-button plain&gt;获取选中数据&lt;/a&gt;

        &lt;script&gt;

            function myRadioChange(value) {
                if (value === "备选项A") {
                    yui.message.danger(`拒绝选中 ${value}`);
                    return false
                }
                yui.message.success(`选中 ${value}`);
            }

            function getRadioChecked() {
                const value = yui.radio.data('my-radio');
                yui.message.success(`当前选中：${value}`, {effect: 'dark'});
            }

        &lt;/script&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            按钮样式
        </div>
        <div class="row">
            <div yui-radio-group>
                <a value="备选项A" yui-radio-button>备选项 A</a>
                <a value="备选项B" yui-radio-button>备选项 B</a>
                <a value="备选项C" yui-radio-button>备选项 C</a>
                <a value="禁用" yui-radio-button disabled>禁用</a>
                <a value="禁用并选中" yui-radio-button disabled checked>禁用并选中</a>
            </div>
        </div>
        <div class="row">
            <div yui-radio-group size="medium">
                <a value="备选项A" yui-radio-button>备选项 A</a>
                <a value="备选项B" yui-radio-button>备选项 B</a>
                <a value="备选项C" yui-radio-button>备选项 C</a>
                <a value="禁用" yui-radio-button disabled>禁用</a>
                <a value="禁用并选中" yui-radio-button disabled checked>禁用并选中</a>
            </div>
        </div>
        <div class="row">
            <div yui-radio-group size="small">
                <a value="备选项A" yui-radio-button>备选项 A</a>
                <a value="备选项B" yui-radio-button>备选项 B</a>
                <a value="备选项C" yui-radio-button>备选项 C</a>
                <a value="禁用" yui-radio-button disabled>禁用</a>
                <a value="禁用并选中" yui-radio-button disabled checked>禁用并选中</a>
            </div>
        </div>
        <div class="row">
            <div yui-radio-group size="mini">
                <a value="备选项A" yui-radio-button>备选项 A</a>
                <a value="备选项B" yui-radio-button>备选项 B</a>
                <a value="备选项C" yui-radio-button>备选项 C</a>
                <a value="禁用" yui-radio-button disabled>禁用</a>
                <a value="禁用并选中" yui-radio-button disabled checked>禁用并选中</a>
            </div>
        </div>
        <pre><code class="html">
        &lt;div class="row"&gt;
            &lt;div yui-radio-group&gt;
                &lt;a value="备选项A" yui-radio-button&gt;备选项 A&lt;/a&gt;
                &lt;a value="备选项B" yui-radio-button&gt;备选项 B&lt;/a&gt;
                &lt;a value="备选项C" yui-radio-button&gt;备选项 C&lt;/a&gt;
                &lt;a value="禁用" yui-radio-button disabled&gt;禁用&lt;/a&gt;
                &lt;a value="禁用并选中" yui-radio-button disabled checked&gt;禁用并选中&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="row"&gt;
            &lt;div yui-radio-group size="medium"&gt;
                &lt;a value="备选项A" yui-radio-button&gt;备选项 A&lt;/a&gt;
                &lt;a value="备选项B" yui-radio-button&gt;备选项 B&lt;/a&gt;
                &lt;a value="备选项C" yui-radio-button&gt;备选项 C&lt;/a&gt;
                &lt;a value="禁用" yui-radio-button disabled&gt;禁用&lt;/a&gt;
                &lt;a value="禁用并选中" yui-radio-button disabled checked&gt;禁用并选中&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="row"&gt;
            &lt;div yui-radio-group size="small"&gt;
                &lt;a value="备选项A" yui-radio-button&gt;备选项 A&lt;/a&gt;
                &lt;a value="备选项B" yui-radio-button&gt;备选项 B&lt;/a&gt;
                &lt;a value="备选项C" yui-radio-button&gt;备选项 C&lt;/a&gt;
                &lt;a value="禁用" yui-radio-button disabled&gt;禁用&lt;/a&gt;
                &lt;a value="禁用并选中" yui-radio-button disabled checked&gt;禁用并选中&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="row"&gt;
            &lt;div yui-radio-group size="mini"&gt;
                &lt;a value="备选项A" yui-radio-button&gt;备选项 A&lt;/a&gt;
                &lt;a value="备选项B" yui-radio-button&gt;备选项 B&lt;/a&gt;
                &lt;a value="备选项C" yui-radio-button&gt;备选项 C&lt;/a&gt;
                &lt;a value="禁用" yui-radio-button disabled&gt;禁用&lt;/a&gt;
                &lt;a value="禁用并选中" yui-radio-button disabled checked&gt;禁用并选中&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
<script>
    function myRadioChange(value) {
        if (value === "备选项A") {
            yui.message.danger(`拒绝选中 ${value}`);
            return false
        }
        yui.message.success(`选中 ${value}`);
    }

    function getRadioChecked() {
        const value = yui.radio.data('my-radio');
        yui.message.success(`当前选中：${value}`, {effect: 'dark'});
    }
</script>
</html>