<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Color 色彩</title>
    <link rel="icon" type="image/x-icon" href="../../public/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="../../yui/yui.css">
    <link rel="stylesheet" type="text/css" href="../../yui/iconfont.css">
</head>
<body>
<!--网页头部-->
<div class="page-header"></div>
<!--网页内容-->
<div class="page-content">
    <div class="page-title">
        Color 色彩
    </div>

    <div class="yui-primary-color">
        <div class="module-title">
            主要颜色
        </div>

        <div style="margin-top: 0" class="yui-color-box">
            <div class="yui-top yui-plain-blue">
                朴素蓝色
                <div>#ecf5ff</div>
                <div>rgb(236,245,255)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-plain-border-blue">
                朴素边框蓝色
                <div>#b3d8ff</div>
                <div>rgb(179,216,255)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-light-blue">
                轻蓝色
                <div>#5cadff</div>
                <div>rgb(92, 173, 255)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(92, 173, 255,1)">rgba(92, 173, 255,1)</div>
                <div style="background-color: rgba(92, 173, 255,0.9)">rgba(92, 173, 255,0.9)</div>
                <div style="background-color: rgba(92, 173, 255,0.8)">rgba(92, 173, 255,0.8)</div>
                <div style="background-color: rgba(92, 173, 255,0.7)">rgba(92, 173, 255,0.7)</div>
                <div style="background-color: rgba(92, 173, 255,0.6)">rgba(92, 173, 255,0.6)</div>
                <div style="background-color: rgba(92, 173, 255,0.5)">rgba(92, 173, 255,0.5)</div>
                <div style="background-color: rgba(92, 173, 255,0.4)">rgba(92, 173, 255,0.4)</div>
                <div style="background-color: rgba(92, 173, 255,0.3)">rgba(92, 173, 255,0.3)</div>
                <div style="background-color: rgba(92, 173, 255,0.2)">rgba(92, 173, 255,0.2)</div>
                <div style="background-color: rgba(92, 173, 255,0.1)">rgba(92, 173, 255,0.1)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-colorful-blue">
                鲜艳的蓝色
                <div>#409EFF</div>
                <div>rgb(64, 158, 255)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(64, 158, 255,1)">rgba(64, 158, 255,1)</div>
                <div style="background-color: rgba(64, 158, 255,0.9)">rgba(64, 158, 255,0.9)</div>
                <div style="background-color: rgba(64, 158, 255,0.8)">rgba(64, 158, 255,0.8)</div>
                <div style="background-color: rgba(64, 158, 255,0.7)">rgba(64, 158, 255,0.7)</div>
                <div style="background-color: rgba(64, 158, 255,0.6)">rgba(64, 158, 255,0.6)</div>
                <div style="background-color: rgba(64, 158, 255,0.5)">rgba(64, 158, 255,0.5)</div>
                <div style="background-color: rgba(64, 158, 255,0.4)">rgba(64, 158, 255,0.4)</div>
                <div style="background-color: rgba(64, 158, 255,0.3)">rgba(64, 158, 255,0.3)</div>
                <div style="background-color: rgba(64, 158, 255,0.2)">rgba(64, 158, 255,0.2)</div>
                <div style="background-color: rgba(64, 158, 255,0.1)">rgba(64, 158, 255,0.1)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-deep-blue">
                深沉的蓝色
                <div>#2d8cf0</div>
                <div>rgb(45, 140, 240)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(45, 140, 240,1)">rgba(45, 140, 240,1)</div>
                <div style="background-color: rgba(45, 140, 240,0.9)">rgba(45, 140, 240,0.9)</div>
                <div style="background-color: rgba(45, 140, 240,0.8)">rgba(45, 140, 240,0.8)</div>
                <div style="background-color: rgba(45, 140, 240,0.7)">rgba(45, 140, 240,0.7)</div>
                <div style="background-color: rgba(45, 140, 240,0.6)">rgba(45, 140, 240,0.6)</div>
                <div style="background-color: rgba(45, 140, 240,0.5)">rgba(45, 140, 240,0.5)</div>
                <div style="background-color: rgba(45, 140, 240,0.4)">rgba(45, 140, 240,0.4)</div>
                <div style="background-color: rgba(45, 140, 240,0.3)">rgba(45, 140, 240,0.3)</div>
                <div style="background-color: rgba(45, 140, 240,0.2)">rgba(45, 140, 240,0.2)</div>
                <div style="background-color: rgba(45, 140, 240,0.1)">rgba(45, 140, 240,0.1)</div>
            </div>
        </div>


        <div class="yui-color-box">
            <div class="yui-top yui-dark-blue">
                重蓝色
                <div>#2b85e4</div>
                <div>rgb(43, 133, 228)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(43, 133, 228,1)">rgba(43, 133, 228,1)</div>
                <div style="background-color: rgba(43, 133, 228,0.9)">rgba(43, 133, 228,0.9)</div>
                <div style="background-color: rgba(43, 133, 228,0.8)">rgba(43, 133, 228,0.8)</div>
                <div style="background-color: rgba(43, 133, 228,0.7)">rgba(43, 133, 228,0.7)</div>
                <div style="background-color: rgba(43, 133, 228,0.6)">rgba(43, 133, 228,0.6)</div>
                <div style="background-color: rgba(43, 133, 228,0.5)">rgba(43, 133, 228,0.5)</div>
                <div style="background-color: rgba(43, 133, 228,0.4)">rgba(43, 133, 228,0.4)</div>
                <div style="background-color: rgba(43, 133, 228,0.3)">rgba(43, 133, 228,0.3)</div>
                <div style="background-color: rgba(43, 133, 228,0.2)">rgba(43, 133, 228,0.2)</div>
                <div style="background-color: rgba(43, 133, 228,0.1)">rgba(43, 133, 228,0.1)</div>
            </div>
        </div>
    </div>

    <div class="yui-success-color">
        <div class="module-title">
            辅助色 - 成功、安全
        </div>

        <div class="yui-color-box" style="margin-top: 0">
            <div class="yui-top yui-plain-green">
                朴素绿色
                <div>#f0f9eb</div>
                <div>rgb(240,249,235)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-plain-border-green">
                朴素边框绿色
                <div>#c2e7b0</div>
                <div>rgb(194,231,176)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-colorful-green">
                鲜艳绿色
                <div>#67C23A</div>
                <div>rgb(103, 194, 58)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(103, 194, 58,1)">rgba(103, 194, 58,1)</div>
                <div style="background-color: rgba(103, 194, 58,0.9)">rgba(103, 194, 58,0.9)</div>
                <div style="background-color: rgba(103, 194, 58,0.8)">rgba(103, 194, 58,0.8)</div>
                <div style="background-color: rgba(103, 194, 58,0.7)">rgba(103, 194, 58,0.7)</div>
                <div style="background-color: rgba(103, 194, 58,0.6)">rgba(103, 194, 58,0.6)</div>
                <div style="background-color: rgba(103, 194, 58,0.5)">rgba(103, 194, 58,0.5)</div>
                <div style="background-color: rgba(103, 194, 58,0.4)">rgba(103, 194, 58,0.4)</div>
                <div style="background-color: rgba(103, 194, 58,0.3)">rgba(103, 194, 58,0.3)</div>
                <div style="background-color: rgba(103, 194, 58,0.2)">rgba(103, 194, 58,0.2)</div>
                <div style="background-color: rgba(103, 194, 58,0.1)">rgba(103, 194, 58,0.1)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-deep-green">
                深沉绿色
                <div>#19be6b</div>
                <div>rgb(25, 190, 107)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(25, 190, 107,1)">rgba(25, 190, 107,1)</div>
                <div style="background-color: rgba(25, 190, 107,0.9)">rgba(25, 190, 107,0.9)</div>
                <div style="background-color: rgba(25, 190, 107,0.8)">rgba(25, 190, 107,0.8)</div>
                <div style="background-color: rgba(25, 190, 107,0.7)">rgba(25, 190, 107,0.7)</div>
                <div style="background-color: rgba(25, 190, 107,0.6)">rgba(25, 190, 107,0.6)</div>
                <div style="background-color: rgba(25, 190, 107,0.5)">rgba(25, 190, 107,0.5)</div>
                <div style="background-color: rgba(25, 190, 107,0.4)">rgba(25, 190, 107,0.4)</div>
                <div style="background-color: rgba(25, 190, 107,0.3)">rgba(25, 190, 107,0.3)</div>
                <div style="background-color: rgba(25, 190, 107,0.2)">rgba(25, 190, 107,0.2)</div>
                <div style="background-color: rgba(25, 190, 107,0.1)">rgba(25, 190, 107,0.1)</div>
            </div>
        </div>
    </div>

    <div class="yui-warning-color">
        <div class="module-title">
            辅助色 - 警告、预警
        </div>

        <div class="yui-color-box" style="margin-top: 0">
            <div class="yui-top yui-plain-yellow">
                朴素黄色
                <div>#fdf6ec</div>
                <div>rgb(253,246,236)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-plain-border-yellow">
                朴素边框黄色
                <div>#f5dab1</div>
                <div>rgb(245,218,177)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-colorful-yellow">
                鲜艳黄色
                <div>#ff9900</div>
                <div>rgb(255, 153, 0)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(255, 153, 0,1)">rgba(255, 153, 0,1)</div>
                <div style="background-color: rgba(255, 153, 0,0.9)">rgba(255, 153, 0,0.9)</div>
                <div style="background-color: rgba(255, 153, 0,0.8)">rgba(255, 153, 0,0.8)</div>
                <div style="background-color: rgba(255, 153, 0,0.7)">rgba(255, 153, 0,0.7)</div>
                <div style="background-color: rgba(255, 153, 0,0.6)">rgba(255, 153, 0,0.6)</div>
                <div style="background-color: rgba(255, 153, 0,0.5)">rgba(255, 153, 0,0.5)</div>
                <div style="background-color: rgba(255, 153, 0,0.4)">rgba(255, 153, 0,0.4)</div>
                <div style="background-color: rgba(255, 153, 0,0.3)">rgba(255, 153, 0,0.3)</div>
                <div style="background-color: rgba(255, 153, 0,0.2)">rgba(255, 153, 0,0.2)</div>
                <div style="background-color: rgba(255, 153, 0,0.1)">rgba(255, 153, 0,0.1)</div>
            </div>
        </div>
        <div class="yui-color-box">
            <div class="yui-top yui-deep-yellow">
                深沉黄色
                <div>#E6A23C</div>
                <div>rgb(230, 162, 60)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(230, 162, 60,1)">rgba(230, 162, 60,1)</div>
                <div style="background-color: rgba(230, 162, 60,0.9)">rgba(230, 162, 60,0.9)</div>
                <div style="background-color: rgba(230, 162, 60,0.8)">rgba(230, 162, 60,0.8)</div>
                <div style="background-color: rgba(230, 162, 60,0.7)">rgba(230, 162, 60,0.7)</div>
                <div style="background-color: rgba(230, 162, 60,0.6)">rgba(230, 162, 60,0.6)</div>
                <div style="background-color: rgba(230, 162, 60,0.5)">rgba(230, 162, 60,0.5)</div>
                <div style="background-color: rgba(230, 162, 60,0.4)">rgba(230, 162, 60,0.4)</div>
                <div style="background-color: rgba(230, 162, 60,0.3)">rgba(230, 162, 60,0.3)</div>
                <div style="background-color: rgba(230, 162, 60,0.2)">rgba(230, 162, 60,0.2)</div>
                <div style="background-color: rgba(230, 162, 60,0.1)">rgba(230, 162, 60,0.1)</div>
            </div>
        </div>
    </div>

    <div class="yui-danger-color">
        <div class="module-title">
            辅助色 - 失败、危险
        </div>

        <div class="yui-color-box" style="margin-top: 0">
            <div class="yui-top yui-plain-red">
                朴素红色
                <div>#fef0f0</div>
                <div>rgb(254,240,240)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-plain-border-red">
                朴素边框红色
                <div>#fbc4c4</div>
                <div>rgb(251,196,196)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-colorful-red">
                鲜艳红色
                <div>#ed4014</div>
                <div>rgb(237, 64, 20)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(237, 64, 20,1)">rgba(237, 64, 20,1)</div>
                <div style="background-color: rgba(237, 64, 20,0.9)">rgba(237, 64, 20,0.9)</div>
                <div style="background-color: rgba(237, 64, 20,0.8)">rgba(237, 64, 20,0.8)</div>
                <div style="background-color: rgba(237, 64, 20,0.7)">rgba(237, 64, 20,0.7)</div>
                <div style="background-color: rgba(237, 64, 20,0.6)">rgba(237, 64, 20,0.6)</div>
                <div style="background-color: rgba(237, 64, 20,0.5)">rgba(237, 64, 20,0.5)</div>
                <div style="background-color: rgba(237, 64, 20,0.4)">rgba(237, 64, 20,0.4)</div>
                <div style="background-color: rgba(237, 64, 20,0.3)">rgba(237, 64, 20,0.3)</div>
                <div style="background-color: rgba(237, 64, 20,0.2)">rgba(237, 64, 20,0.2)</div>
                <div style="background-color: rgba(237, 64, 20,0.1)">rgba(237, 64, 20,0.1)</div>
            </div>
        </div>
        <div class="yui-color-box">
            <div class="yui-top yui-deep-red">
                深沉红色
                <div>#F56C6C</div>
                <div>rgb(245, 108, 108)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(245, 108, 108,1)">rgba(245, 108, 108,1)</div>
                <div style="background-color: rgba(245, 108, 108,0.9)">rgba(245, 108, 108,0.9)</div>
                <div style="background-color: rgba(245, 108, 108,0.8)">rgba(245, 108, 108,0.8)</div>
                <div style="background-color: rgba(245, 108, 108,0.7)">rgba(245, 108, 108,0.7)</div>
                <div style="background-color: rgba(245, 108, 108,0.6)">rgba(245, 108, 108,0.6)</div>
                <div style="background-color: rgba(245, 108, 108,0.5)">rgba(245, 108, 108,0.5)</div>
                <div style="background-color: rgba(245, 108, 108,0.4)">rgba(245, 108, 108,0.4)</div>
                <div style="background-color: rgba(245, 108, 108,0.3)">rgba(245, 108, 108,0.3)</div>
                <div style="background-color: rgba(245, 108, 108,0.2)">rgba(245, 108, 108,0.2)</div>
                <div style="background-color: rgba(245, 108, 108,0.1)">rgba(245, 108, 108,0.1)</div>
            </div>
        </div>
    </div>

    <div class="yui-info-color">
        <div class="module-title">
            辅助色 - 信息、提示
        </div>

        <div class="yui-color-box" style="margin-top: 0">
            <div class="yui-top yui-plain-sky-blue">
                朴素天蓝色
                <div>#EAF7FE</div>
                <div>rgb(234,247,254)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-plain-border-sky-blue">
                朴素边框天蓝色
                <div>#C0E9FC</div>
                <div>rgb(192,233,252)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-sky-blue">
                天蓝色
                <div>#2db7f5</div>
                <div>rgb(45, 183, 245)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(45, 183, 245,1)">rgba(45, 183, 245,1)</div>
                <div style="background-color: rgba(45, 183, 245,0.9)">rgba(45, 183, 245,0.9)</div>
                <div style="background-color: rgba(45, 183, 245,0.8)">rgba(45, 183, 245,0.8)</div>
                <div style="background-color: rgba(45, 183, 245,0.7)">rgba(45, 183, 245,0.7)</div>
                <div style="background-color: rgba(45, 183, 245,0.6)">rgba(45, 183, 245,0.6)</div>
                <div style="background-color: rgba(45, 183, 245,0.5)">rgba(45, 183, 245,0.5)</div>
                <div style="background-color: rgba(45, 183, 245,0.4)">rgba(45, 183, 245,0.4)</div>
                <div style="background-color: rgba(45, 183, 245,0.3)">rgba(45, 183, 245,0.3)</div>
                <div style="background-color: rgba(45, 183, 245,0.2)">rgba(45, 183, 245,0.2)</div>
                <div style="background-color: rgba(45, 183, 245,0.1)">rgba(45, 183, 245,0.1)</div>
            </div>
        </div>

        <div class="yui-color-box" style="margin-top: 0">
            <div class="yui-top yui-plain-gray">
                朴素轻灰色
                <div>#f4f4f5</div>
                <div>rgb(244,244,245)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-plain-border-gray">
                朴素边框轻灰色
                <div>#d3d4d6</div>
                <div>rgb(211,212,214)</div>
            </div>
        </div>

        <div class="yui-color-box">
            <div class="yui-top yui-light-gray">
                轻灰色
                <div>#909399</div>
                <div>rgb(144, 147, 153)</div>
            </div>
            <div class="yui-bottom">
                <div style="background-color: rgba(144, 147, 153,1)">rgba(144, 147, 153,1)</div>
                <div style="background-color: rgba(144, 147, 153,0.9)">rgba(144, 147, 153,0.9)</div>
                <div style="background-color: rgba(144, 147, 153,0.8)">rgba(144, 147, 153,0.8)</div>
                <div style="background-color: rgba(144, 147, 153,0.7)">rgba(144, 147, 153,0.7)</div>
                <div style="background-color: rgba(144, 147, 153,0.6)">rgba(144, 147, 153,0.6)</div>
                <div style="background-color: rgba(144, 147, 153,0.5)">rgba(144, 147, 153,0.5)</div>
                <div style="background-color: rgba(144, 147, 153,0.4)">rgba(144, 147, 153,0.4)</div>
                <div style="background-color: rgba(144, 147, 153,0.3)">rgba(144, 147, 153,0.3)</div>
                <div style="background-color: rgba(144, 147, 153,0.2)">rgba(144, 147, 153,0.2)</div>
                <div style="background-color: rgba(144, 147, 153,0.1)">rgba(144, 147, 153,0.1)</div>
            </div>
        </div>
    </div>

    <div class="yui-text-color">
        <div class="module-title">
            文字颜色
        </div>

        <div class="yui-little-color-box" style="margin-top: 0">
            <div class="yui-primary-text">
                主要文字
                <div>#303133</div>
                <div>rgb(23, 35, 61)</div>
            </div>
            <div class="yui-normal-text">
                常规文字
                <div>#606266</div>
                <div>rgb(96, 98, 102)</div>
            </div>
            <div class="yui-minor-text">
                次要文字
                <div>#909399</div>
                <div>rgb(144, 147, 153)</div>
            </div>
            <div class="yui-placeholder-text">
                占位文字
                <div>#C0C4CC</div>
                <div>rgb(192, 196, 204)</div>
            </div>
            <div class="yui-title-text">
                标题
                <div>#17233d</div>
                <div>rgb(23, 35, 61)</div>
            </div>
            <div class="yui-content-text">
                正文
                <div>#515a6e</div>
                <div>rgb(81, 90, 110)</div>
            </div>
            <div class="yui-desc-text">
                说明
                <div>#808695</div>
                <div>rgb(128, 134, 149)</div>
            </div>
            <div class="yui-invalid-text">
                失效
                <div>#c5c8ce</div>
                <div>rgb(197, 200, 206)</div>
            </div>
        </div>
    </div>

    <div class="yui-border-color">
        <div class="module-title">
            边框颜色
        </div>

        <div class="yui-little-color-box" style="margin-top: 0">
            <div class="yui-border-1">
                一级边框
                <div>#DCDFE6</div>
                <div>rgb(220, 223, 230)</div>
            </div>
            <div class="yui-border-2">
                二级边框
                <div>#E4E7ED</div>
                <div>rgb(228, 231, 237)</div>
            </div>
            <div class="yui-border-3">
                三级边框
                <div>#EBEEF5</div>
                <div>rgb(235, 238, 245)</div>
            </div>
            <div class="yui-border-4">
                四级边框
                <div>#F2F6FC</div>
                <div>rgb(242, 246, 252)</div>
            </div>
            <div class="yui-deep-border">
                深色边框
                <div>#dcdee2</div>
                <div>rgb(232, 234, 236)</div>
            </div>
            <div class="yui-line">
                分割线
                <div>#e8eaec</div>
                <div>rgb(232, 234, 236)</div>
            </div>
        </div>
    </div>

    <div class="yui-bg-color">
        <div class="module-title">
            背景颜色
        </div>

        <div class="yui-little-color-box" style="margin-top: 0">
            <div class="yui-color-1">
                背景色1
                <div>#f8f8f9</div>
                <div>rgb(232, 234, 236)</div>
            </div>
            <div class="yui-color-2">
                背景色2
                <div>#F5F5F5</div>
                <div>rgb(245, 245, 245)</div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../public/highLight/highlight.pack.js"></script>
<script src="../../public/index.js"></script>
<script src="../../yui/yui.js"></script>
</html>