<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Loading 加载</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_jayxtlcus3.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Loading 加载
        <div class="desc">加载数据时显示动效。</div>
    </div>

    <div class="page-module">
        <div class="title">
            <div>区域加载</div>
            <div class="desc">在卡片等容器中加载数据时显示。</div>
        </div>
        <div style="margin-bottom: 10px">
            <a yui-button type="primary" onclick="yuiLoading('my-loading')">开启Loading</a>
            <a yui-button onclick="yuiLoadingClosed('my-loading')">关闭Loading</a>
        </div>
        <div yui-loading id="my-loading">
            <div yui-card style="height: 300px;padding: 20px">
                这是一段内容。
            </div>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            <div>整页加载。</div>
            <div class="desc">页面数据加载时显示</div>
        </div>
        <a yui-button type="primary" onclick="startfullscreenLoading()">开启全屏加载</a>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
<script src="../../yui/js/index.js"></script>
<script>
    function startfullscreenLoading() {
        yuifullscreenLoading({text: '3秒后关闭'});
        setTimeout(() => {
            yuifullscreenLoadingClosed();
        }, 3000)
    }
</script>
</html>