<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Menu 导航菜单</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Menu 导航菜单
        <div class="desc">为网站提供导航功能的菜单。</div>
    </div>

    <div class="page-module">
        <div class="title">
            顶栏
        </div>
        <div yui-menu>
            <div left>
                <a href="#" menu-item>处理中心</a>
                <div submenu>
                    <a href="#" menu-item checked>
                        我的工作台
                        <i class="yui-icon arrow-down"></i>
                    </a>
                    <div panel>
                        <a href="#" menu-item>选项1</a>
                        <a href="#" menu-item text-checked>选项2</a>
                        <a href="#" menu-item>选项3</a>
                        <a href="#" menu-item>选项4</a>
                    </div>
                </div>
                <a href="#" menu-item disabled>消息中心</a>
                <a href="#" menu-item>订单管理</a>
            </div>
            <div right>
                <a href="#" menu-item>登录</a>
                <a href="#" menu-item>注册</a>
                <a menu-item only-text>联系方式：123456</a>
            </div>
        </div>
        <pre><code class="html">
        &lt;div yui-menu&gt;
            &lt;div left&gt;
                &lt;a href="#" menu-item&gt;处理中心&lt;/a&gt;
                &lt;div submenu&gt;
                    &lt;a href="#" menu-item checked&gt;
                        我的工作台
                        &lt;i class="yui-icon arrow-down"&gt;&lt;/i&gt;
                    &lt;/a&gt;
                    &lt;div panel&gt;
                        &lt;a href="#" menu-item&gt;选项1&lt;/a&gt;
                        &lt;a href="#" menu-item text-checked&gt;选项2&lt;/a&gt;
                        &lt;a href="#" menu-item&gt;选项3&lt;/a&gt;
                        &lt;a href="#" menu-item&gt;选项4&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;a href="#" menu-item disabled&gt;消息中心&lt;/a&gt;
                &lt;a href="#" menu-item&gt;订单管理&lt;/a&gt;
            &lt;/div&gt;
            &lt;div right&gt;
                &lt;a href="#" menu-item&gt;登录&lt;/a&gt;
                &lt;a href="#" menu-item&gt;注册&lt;/a&gt;
                &lt;a menu-item only-text&gt;联系方式：123456&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
</html>