<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Card 卡片</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Card 卡片
        <div class="desc">将信息聚合在卡片容器中展示。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
            <div class="desc">包含标题，内容和操作。</div>
        </div>
        <div yui-card>
            <div header>
                <div class="left">卡片名称</div>
                <div class="right">
                    <a yui-button type="text">操作按钮</a>
                </div>
            </div>
            <div body>
                <div>列表内容 1</div>
                <div>列表内容 2</div>
                <div>列表内容 3</div>
                <div>列表内容 4</div>
            </div>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            简单卡片
            <div class="desc">卡片可以只有内容区域。</div>
        </div>
        <div yui-card>
            <div body>
                <div>列表内容 1</div>
                <div>列表内容 2</div>
                <div>列表内容 3</div>
                <div>列表内容 4</div>
            </div>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            带图片
            <div class="desc">可配置定义更丰富的内容展示。</div>
        </div>
        <div class="row-flex">
            <div yui-card>
                <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
                     alt="">
                <div class="body-style">
                    好吃的汉堡
                    <div>
                        2020年3月27日
                        <a yui-button type="text">操作按钮</a>
                    </div>
                </div>
            </div>
            <div yui-card>
                <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
                     alt="">
                <div class="body-style">
                    好吃的汉堡
                    <div>
                        2020年3月27日
                        <a yui-button type="text">操作按钮</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            卡片阴影
            <div class="desc">可对阴影的显示进行配置。</div>
        </div>
        <div class="row-flex">
            <div yui-card class="shadow-card">
                总是显示
            </div>
            <div shadow="hover" yui-card class="shadow-card">
                鼠标悬浮时显示
            </div>
            <div shadow="never" yui-card class="shadow-card">
                从不显示
            </div>
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
</html>