<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Badge 标记</title>
    <link rel="icon" type="image/x-icon" href="../../public/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <link rel="stylesheet" type="text/css" href="../../public/highLight/monokai-sublime.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="../../yui/yui.css">
    <link rel="stylesheet" type="text/css" href="../../yui/iconfont.css">
</head>
<body>
<!--网页头部-->
<div class="page-header"></div>
<!--网页内容-->
<div class="page-content">
    <div class="page-title">
        Badge 标记
    </div>
    <div class="demo">
        <div class="module-title">
            基础用法
        </div>
        <div yui-badge>
            <a yui-button>评论</a>
            <sup>12</sup>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div yui-badge&gt;
            &lt;a yui-button&gt;评论&lt;/a&gt;
            &lt;sup&gt;12&lt;/sup&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="demo">
        <div class="module-title">
            自定义样式
        </div>
        <div yui-badge>
            <a yui-button type="success">
                新品上市
            </a>
            <sup style="background-color: #ecf5ff;border-color:  #b3d8ff;color: #409eff">
                new
            </sup>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div yui-badge&gt;
            &lt;a yui-button type="success"&gt;新品上市&lt;/a&gt;
            &lt;sup style="background-color: #ecf5ff;border-color:  #b3d8ff;color: #409eff"&gt;
                new
            &lt;/sup&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="demo">
        <div class="module-title">
            讨厌的小圆点
        </div>
        <div yui-badge>
            <a yui-button>立即体验</a>
            <sup dot></sup>
        </div>
        <div yui-badge>
            <div>领取奖励</div>
            <sup dot style="background-color: #409eff;border-color: #409eff"></sup>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div yui-badge&gt;
            &lt;a yui-button&gt;立即体验&lt;/a&gt;
            &lt;sup dot&gt;&lt;/sup&gt;
        &lt;/div&gt;

        &lt;div yui-badge&gt;
            &lt;div&gt;领取奖励&lt;/div&gt;
            &lt;sup dot style="background-color: #409eff;border-color: #409eff"&gt;&lt;/sup&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="attr">
        <div class="module-title">
            yui-badge > sup
        </div>
        <table>
            <thead>
            <tr>
                <td>属性</td>
                <td>说明</td>
                <td>类型</td>
                <td>可选值 / 回调参数</td>
                <td>默认值 / 参数形式</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>dot</td>
                <td>小圆点形式</td>
                <td>是否具有该属性</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>background-color</td>
                <td>背景颜色（小圆点形式也可用）</td>
                <td>原生style属性</td>
                <td>--</td>
                <td>#ed4014</td>
            </tr>
            <tr>
                <td>border-color</td>
                <td>边框颜色（小圆点形式也可用）</td>
                <td>原生style属性</td>
                <td>--</td>
                <td>#ed4014</td>
            </tr>
            <tr>
                <td>color</td>
                <td>文字颜色</td>
                <td>原生style属性</td>
                <td>--</td>
                <td>#fff</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="../../public/highLight/highlight.pack.js"></script>
<script src="../../public/index.js"></script>
<script src="../../yui/yui.js"></script>
</html>