<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - NumberRun 数字滚动</title>
    <link rel="icon" type="image/x-icon" href="../../public/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <link rel="stylesheet" type="text/css" href="../../public/highLight/monokai-sublime.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="../../yui/yui.css">
    <link rel="stylesheet" type="text/css" href="../../yui/iconfont.css">
</head>
<body>
<!--网页头部-->
<div class="page-header"></div>
<!--网页内容-->
<div class="page-content">
    <div class="demo">
        <div class="page-title">
            NumberRun 数字滚动
        </div>
        <div class="demo">
            <a type="primary" yui-button size="mini" onclick="yuiNumberRun('num1', 200)">
                开始
            </a>
            <span id="num1">200</span>
        </div>
    </div>
</div>
</body>
<script src="../../public/highLight/highlight.pack.js"></script>
<script src="../../public/index.js"></script>
<script src="../../yui/yui.js"></script>
</html>