<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Switch 开关</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_4lv9jsj494.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Switch 开关
        <div class="desc">表示两种相互对立的状态间的切换，多用于触发「开/关」。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基本用法
        </div>
        <div yui-switch id="my-switch">
            <span switch></span>
        </div>
        <div style="margin-top: 16px">
            <a onclick="getSwitchValue()" type="primary" yui-button plain>获取开关状态</a>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            文字描述
        </div>
        <div style="margin:10px 0 30px">
            <div yui-switch value="false">
                <span inactive-text>按年付费</span>
                <span switch style="background-color: #409eff"></span>
                <span active-text>按月付费</span>
            </div>
        </div>
        <div yui-switch change="mySwitchChange" class="my-switch">
            <span inactive-text>关闭</span>
            <span switch></span>
            <span active-text>开启</span>
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            禁用状态
        </div>
        <div yui-switch disabled>
            <span switch></span>
        </div>
        <div yui-switch disabled value="false">
            <span switch></span>
        </div>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
<script>
    function mySwitchChange(value) {
        if (value) {
            yui.message.danger('已关闭')
        } else {
            yui.message.success('已开启')
        }
    }

    function getSwitchValue() {
        const value = yui.switch.data('my-switch');
        yui.message[value ? 'success' : 'danger'](`开关状态：${value ? '开启' : '关闭'}`)
    }
</script>
<style>
    div.my-switch > span[switch] {
        background-color: #13CE66;
    }

    div[value='false'].my-switch > span[switch] {
        background-color: #FF4949;
    }

    div.my-switch > span[active-text] {
        color: #13CE66;
    }

    div[value='false'].my-switch > span[inactive-text] {
        color: #FF4949;
    }
</style>
</html>