<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - NumRun 数字滚动</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        NumRun 数字滚动
        <div class="desc">数字滚动特效</div>
    </div>

    <div class="page-module">
        <div class="title">
            递增
        </div>
        <a onclick="startAdd()" yui-button>开始滚动</a>
        <span yui-num-run id="my-add">
            0
        </span>
    </div>

    <div class="page-module">
        <div class="title">
            递减
        </div>
        <a onclick="startReduce()" yui-button>开始滚动</a>
        <span yui-num-run id="my-cut">
            500
        </span>
    </div>

    <div class="page-module">
        <div class="title">
            支持小数
        </div>
        <a onclick="startDotAdd()" yui-button>开始滚动</a>
        <span yui-num-run id="my-dot-add">
            0.00
        </span>
    </div>

    <div class="page-module">
        <div class="title">
            小数递减
        </div>
        <a onclick="startDotReduce()" yui-button>开始滚动</a>
        <span yui-num-run id="my-dot-reduce">
            500.00
        </span>
    </div>
</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
<script>
    function startAdd() {
        yui.numRun.start('my-add', {
            fromVal: 0,
            toVal: 381,
            callback: (id, dom) => {
                yui.message.success('数字滚动完成，将会自动重置');
                setTimeout(() => {
                    dom.innerText = 0;
                },3000)
            }
        })
    }

    function startReduce() {
        yui.numRun.start('my-cut', {
            fromVal: 521,
            toVal: 381,
            callback: (id, dom) => {
                yui.message.success('数字滚动完成，将会自动重置');
                setTimeout(() => {
                    dom.innerText = 521;
                },3000)
            }
        })
    }

    function startDotAdd() {
        yui.numRun.start('my-dot-add', {
            fromVal: 0,
            toVal: 381.68,
            callback: (id, dom) => {
                yui.message.success('数字滚动完成，将会自动重置');
                setTimeout(() => {
                    dom.innerText = 381.68;
                },3000)
            }
        })
    }

    function startDotReduce() {
        yui.numRun.start('my-dot-reduce', {
            fromVal: 521,
            toVal: 381.68,
            callback: (id, dom) => {
                yui.message.success('数字滚动完成，将会自动重置');
                setTimeout(() => {
                    dom.innerText = 381.68;
                },3000)
            }
        })
    }
</script>
<style>
    span[yui-num-run] {
        font-size: 18px;
        margin-left: 18px;
    }
</style>
</html>