<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - BackTop 回到顶部</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        BackTop 回到顶部
        <div class="desc">返回页面顶部的操作按钮</div>
    </div>

    <div class="page-module">
        <div class="title">
            基础用法
        </div>
        <div style="font-size: 14px">滑动页面即可看到右下方的按钮。</div>
        <div yui-back-top><span icon></span></div>
        <pre><code class="html">
        &lt;div yui-back-top&gt;
            &lt;span icon&gt;&lt;/span&gt;
        &lt;/div&gt;
        </code></pre>
    </div>

    <div style="height: 1200px"></div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
</html>