<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - notify 通知</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_sp4avpx238.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        notify 通知
        <div class="desc">悬浮出现在页面角落，显示全局的通知提醒消息。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基本用法
            <div class="desc">适用性广泛的通知栏</div>
        </div>
        <a yui-button onclick="yuiNotify(
            '标题名称',
            '这是提示文案这是提示文案这是提示文案这是提示文案这是提示文案这是提示文案这是提示文案这是提示文案')">
            可自动关闭
        </a>
        <a yui-button onclick="yuiNotify('提示','这是一条不会自动关闭的消息',{duration:0})">不会自动关闭</a>
    </div>

    <div class="page-module">
        <div class="title">
            带有倾向性
            <div class="desc">
                带有 icon，常用来显示「成功、警告、消息、错误」类的系统消息
            </div>
        </div>
        <a yui-button onclick="yuiNotify('消息','这是一条消息的提示消息',{type:'info'})">消息</a>
        <a yui-button onclick="yuiNotify('成功','这是一条成功的提示消息',{type:'success'})">成功</a>
        <a yui-button onclick="yuiNotify('警告','这是一条警告的提示消息',{type:'warning'})">警告</a>
        <a yui-button onclick="yuiNotify('危险','这是一条危险的提示消息',{type:'danger'})">危险</a>
    </div>

    <div class="page-module">
        <div class="title">
            自定义弹出位置
            <div class="desc">
                可以让 Notification 从屏幕四角中的任意一角弹出
            </div>
        </div>
        <a yui-button onclick="yuiNotify('自定义位置','右上角弹出的消息')">右上角</a>
        <a yui-button onclick="yuiNotify('自定义位置','右下角弹出的消息',{position:'bottom-right'})">右下角</a>
        <a yui-button onclick="yuiNotify('自定义位置','左下角弹出的消息',{position:'bottom-left'})">左下角</a>
        <a yui-button onclick="yuiNotify('自定义位置','左上角弹出的消息',{position:'top-left'})">左上角</a>
    </div>

    <div class="page-module">
        <div class="title">
            使用 HTML 片段
            <div class="desc">
                message 属性支持传入 HTML 片段
            </div>
        </div>
        <a yui-button onclick="yuiNotify('HTML 片段',
        '<strong>这是 <i>HTML</i> 片段</strong>',{dangerouslyUseHTMLString:true})">
            使用 HTML 片段
        </a>
    </div>

    <div class="page-module">
        <div class="title">
            隐藏关闭按钮
            <div class="desc">可以不显示关闭按钮</div>
        </div>
        <a yui-button onclick="yuiNotify('Info','这是一条没有关闭按钮的消息',{showClose:false,type:'success'})">
            隐藏关闭按钮
        </a>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
<script src="../../yui/js/index.js"></script>
</html>