<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - notify 通知</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_jayxtlcus3.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        notify 通知
        <div class="desc">悬浮出现在页面角落，显示全局的通知提醒消息。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基本用法
            <div class="desc">适用性广泛的通知栏</div>
        </div>
        <a yui-button onclick="yuiNotify(
            '标题名称',
            '这是提示文案这是提示文案这是提示文案这是提示文案这是提示文案这是提示文案这是提示文案这是提示文案')">
            可自动关闭
        </a>
        <a yui-button>不会自动关闭</a>
    </div>
    <!--    <div yui-notify-box>-->
    <!--        <div yui-notify>-->
    <!--            <i type-icon class="iconfont yui-icon-success"></i>-->
    <!--            <div text>-->
    <!--                <div title>提示</div>-->
    <!--                <div content>-->
    <!--                    这是一条不会自动关闭的消息-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <i close-icon class="iconfont yui-icon-closed"></i>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
</html>