<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Notify 通知</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_rz9eqmbar6m.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/highLight/monokai-sublime.css">
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Notify 通知
        <div class="desc">悬浮出现在页面角落，显示全局的通知提醒消息。</div>
    </div>

    <div class="page-module">
        <div class="title">
            基本用法
        </div>
        <a yui-button onclick="yuiNotify({title:'标题名称',message:'这是一条自动关闭的消息'})">
            可自动关闭
        </a>
        <a yui-button onclick="yuiNotify({title:'标题名称',message:'这是一条不会自动关闭的消息',duration:0})">
            不会自动关闭
        </a>
        <pre><code class="html">
        &lt;a yui-button onclick="yuiNotify({title:'标题名称',message:'这是一条自动关闭的消息'})"&gt;
            可自动关闭
        &lt;/a&gt;
        &lt;a yui-button onclick="yuiNotify({title:'标题名称',message:'这是一条不会自动关闭的消息',duration:0})"&gt;
            不会自动关闭
        &lt;/a&gt;
        </code></pre>
    </div>

    <div class="page-module">
        <div class="title">
            带有倾向性
        </div>
        <a yui-button onclick="yui.notify.info({title:'消息',message:'这是一条消息的通知'})">
            消息
        </a>
        <a yui-button onclick="yuiNotify({title:'成功',message:'这是一条成功的通知',type:'success'})">
            成功
        </a>
        <a yui-button onclick="yui.notify.warning({title:'警告',message:'这是一条警告的通知'})">
            警告
        </a>
        <a yui-button onclick="yuiNotify({title:'危险',message:'这是一条危险的通知',type:'danger'})">
            危险
        </a>
        <pre><code class="html">
        &lt;a yui-button onclick="yui.notify.info({title:'消息',message:'这是一条消息的通知'})"&gt;
            消息
        &lt;/a&gt;
        &lt;a yui-button onclick="yuiNotify({title:'成功',message:'这是一条成功的通知',type:'success'})"&gt;
            成功
        &lt;/a&gt;
        &lt;a yui-button onclick="yui.notify.warning({title:'警告',message:'这是一条警告的通知'})"&gt;
            警告
        &lt;/a&gt;
        &lt;a yui-button onclick="yuiNotify({title:'危险',message:'这是一条危险的通知',type:'danger'})"&gt;
            危险
        &lt;/a&gt;
        </code></pre>
    </div>
</div>
</body>
<script src="../../yui/js/index.js"></script>
<script src="../../plugins/highLight/highlight.pack.js"></script>
<script src="../../static/js/index.js"></script>
</html>