<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - MessageBox 弹框</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <!--非必须引入-->
    <link rel="stylesheet" type="text/css" href=" //at.alicdn.com/t/font_1521392_esyoq1kq996.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        MessageBox 弹框
        <div class="desc">
            模拟系统的消息提示框而实现的一套模态对话框组件，用于消息提示、确认消息和提交内容。
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            消息提示
            <div class="desc">
                当用户进行操作时会被触发，该对话框中断用户操作，直到用户确认知晓后才可关闭。
            </div>
        </div>
        <a onclick="openAlert()" yui-button type="text">点击打开 Message Box</a>
    </div>

    <div class="page-module">
        <div class="title">
            确认消息
            <div class="desc">
                提示用户确认其已经触发的动作，并询问是否进行此操作时会用到此对话框。
            </div>
        </div>
        <a onclick="openConfirm()" yui-button type="text">点击打开 Message Box</a>
    </div>

    <div class="page-module">
        <div class="title">
            自定义样式
            <div class="desc">
                可自定义按钮属性等
            </div>
        </div>
        <a onclick="openCustom()" yui-button type="text">点击打开 Message Box</a>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
<script src="../../yui/js/index.js"></script>
<script>
    function openAlert() {
        $yuiMessageBox.alert('标题名称', '这是一段内容', {
            callback: action => {
                yuiMessage(`action: ${action}`, {
                    message: `action: ${action}`
                });
            }
        })
    }

    function openConfirm() {
        $yuiMessageBox.confirm('提示', '此操作将永久删除该文件, 是否继续?', {
            callback: action => {
                yuiMessage(`action: ${action}`, {
                    message: `action: ${action}`
                });
            }
        })
    }

    function openCustom() {
        yuiMessageBox('确认消息', '检测到未保存的内容，是否在离开页面前保存修改？', {
            showTypeIcon: true,
            icon: ['yuiIcon', 'warning'],
            iconColor: '#F56C6C',
            confirmBtnText: '保存',
            confirmBtnAttrs: {type: 'success'},
            showCancelBtn: true,
            cancelBtnText: '放弃保存',
            cancelBtnAttrs: {type: 'warning'},
            callback: action => {
                if (action === 'confirm') {
                    $yuiMessage.success('保存')
                }
                if (action === 'cancel') {
                    $yuiMessage.danger('放弃保存并离开页面')
                }
                if (action === 'close') {
                    $yuiMessage.info('停留在当前页面')
                }
            }
        })
    }
</script>
</html>