<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Color 色彩</title>
    <!--必须引入-->
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <!--非必须引入-->
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Color 色彩
        <div class="desc">
            为了避免视觉传达差异，使用一套特定的调色板来规定颜色，为你所搭建的产品提供一致的外观视觉感受。
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            primary
        </div>
        <div class="color-box white" style="background: #409EFF">
            #409EFF
        </div>
        <div class="color-box" style="background: #b3d8ff">
            #b3d8ff
        </div>
        <div class="color-box" style="background: #ecf5ff">
            #ecf5ff
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            info
        </div>
        <div class="color-box white" style="background: #909399">
            #909399
        </div>
        <div class="color-box" style="background: #d3d4d6">
            #d3d4d6
        </div>
        <div class="color-box" style="background: #f4f4f5">
            #f4f4f5
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            success
        </div>
        <div class="color-box white" style="background: #67c23a">
            #67c23a
        </div>
        <div class="color-box" style="background: #c2e7b0">
            #c2e7b0
        </div>
        <div class="color-box" style="background: #f0f9eb">
            #f0f9eb
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            warning
        </div>
        <div class="color-box white" style="background: #e6a23c">
            #e6a23c
        </div>
        <div class="color-box" style="background: #f5dab1">
            #f5dab1
        </div>
        <div class="color-box" style="background: #fdf6ec">
            #fdf6ec
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            danger
        </div>
        <div class="color-box white" style="background: #f56c6c">
            #f56c6c
        </div>
        <div class="color-box" style="background: #fbc4c4">
            #fbc4c4
        </div>
        <div class="color-box" style="background: #fef0f0">
            #fef0f0
        </div>
    </div>
</div>
</body>
<!--必须引入-->
<!--非必须引入-->
</html>