<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Color 色彩</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../yui/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1521392_4lv9jsj494.css"/>
</head>
<body>
<div class="page-content">
    <div class="page-title">
        Color 色彩
        <div class="desc">
            为了避免视觉传达差异，使用一套特定的调色板来规定颜色，为你所搭建的产品提供一致的外观视觉感受。
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            主色
        </div>
        <div class="box" style="background: #409EFF">
            #409EFF
        </div>
        <div class="box" style="background: #b3d8ff;color: #409EFF">
            #b3d8ff
        </div>
        <div class="box" style="background: #ecf5ff;color: #409EFF">
            #ecf5ff
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            信息
        </div>
        <div class="box" style="background: #909399">
            #909399
        </div>
        <div class="box" style="background: #d3d4d6;color: #909399">
            #d3d4d6
        </div>
        <div class="box" style="background: #f4f4f5;color: #909399">
            #f4f4f5
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            成功
        </div>
        <div class="box" style="background: #67c23a">
            #67c23a
        </div>
        <div class="box" style="background: #c2e7b0;color: #67c23a">
            #c2e7b0
        </div>
        <div class="box" style="background: #f0f9eb;color: #67c23a">
            #f0f9eb
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            警告
        </div>
        <div class="box" style="background: #e6a23c">
            #e6a23c
        </div>
        <div class="box" style="background: #f5dab1;color: #e6a23c">
            #f5dab1
        </div>
        <div class="box" style="background: #fdf6ec;color: #e6a23c">
            #fdf6ec
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            危险
        </div>
        <div class="box" style="background: #f56c6c">
            #f56c6c
        </div>
        <div class="box" style="background: #fbc4c4;color: #f56c6c">
            #fbc4c4
        </div>
        <div class="box" style="background: #fef0f0;color: #f56c6c">
            #fef0f0
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            文字
        </div>
        <div class="box" style="background: #303133">
            #303133
        </div>
        <div class="box" style="background: #606266">
            #606266
        </div>
        <div class="box" style="background: #909399">
            #909399
        </div>
        <div class="box" style="background: #C0C4CC">
            #C0C4CC
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            边框
        </div>
        <div class="box" style="background: #DCDFE6;color: #303133">
            #DCDFE6
        </div>
        <div class="box" style="background: #E4E7ED;color: #303133">
            #E4E7ED
        </div>
        <div class="box" style="background: #EBEEF5;color: #303133">
            #EBEEF5
        </div>
        <div class="box" style="background: #F2F6FC;color: #303133">
            #F2F6FC
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            投影
        </div>
        <div class="box" style="background: #fff;color: #303133;width: 500px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)">
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
        </div>
        <div class="box" style="background: #fff;color: #303133;width: 500px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)">
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
        </div>
    </div>

    <div class="page-module">
        <div class="title">
            其他
        </div>
        <div class="box" style="background: #13CE66">
            #13CE66
        </div>
        <div class="box" style="background: #FF4949">
            #FF4949
        </div>
    </div>

</div>
</body>
<script src="../../yui/js/index.js"></script>
<style>
    .box {
        display: inline-block;
        width: 240px;
        padding: 24px 10px;
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
    }
</style>
</html>