&lt;a yui-button onclick="yui.notify.info({title:'消息',message:'这是一条消息的通知'})"&gt;
    消息
&lt;/a&gt;
&lt;a yui-button onclick="yuiNotify({title:'成功',message:'这是一条成功的通知',type:'success'})"&gt;
    成功
&lt;/a&gt;
&lt;a yui-button onclick="yui.notify.warning({title:'警告',message:'这是一条警告的通知'})"&gt;
    警告
&lt;/a&gt;
&lt;a yui-button onclick="yuiNotify({title:'危险',message:'这是一条危险的通知',type:'danger'})"&gt;
    危险
&lt;/a&gt;


&lt;a yui-button onclick="yuiNotify({title:'标题名称',message:'这是一条自动关闭的消息'})"&gt;
    可自动关闭
&lt;/a&gt;
&lt;a yui-button onclick="yuiNotify({title:'标题名称',message:'这是一条不会自动关闭的消息',duration:0})"&gt;不会自动关闭&lt;/a&gt;