&lt;div yui-dropdown&gt;
    &lt;a yui-button type="text"&gt;
        下拉菜单 &lt;i class="yui-icon arrow-down"&gt;&lt;/i&gt;
    &lt;/a&gt;
    &lt;div panel style="width: 100px"&gt;
        &lt;a menu-item&gt;黄金糕&lt;/a&gt;
        &lt;a menu-item&gt;狮子头&lt;/a&gt;
        &lt;a menu-item&gt;螺蛳粉&lt;/a&gt;
        &lt;a menu-item disabled&gt;双皮奶&lt;/a&gt;
        &lt;a menu-item divided&gt;蚵仔煎&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div yui-dropdown trigger="click"&gt;
    &lt;a yui-button type="text"&gt;
        下拉菜单 &lt;i class="yui-icon arrow-down"&gt;&lt;/i&gt;
    &lt;/a&gt;
    &lt;div panel style="width: 100px"&gt;
        &lt;a menu-item&gt;黄金糕&lt;/a&gt;
        &lt;a menu-item&gt;狮子头&lt;/a&gt;
        &lt;a menu-item&gt;螺蛳粉&lt;/a&gt;
        &lt;a menu-item disabled&gt;双皮奶&lt;/a&gt;
        &lt;a menu-item divided&gt;蚵仔煎&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
