/* ============================= 公共样式 start ============================= */

.iconfont {
    position: relative;
}

[close-icon] {
    cursor: pointer;
}

[yui-icon] {
    margin: 0 3px;
    position: relative;
}

div[yui-modal] {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000;
    z-index: 2020;
    transition: opacity .3s;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ============================= 公共样式 end ============================= */


/* ============================= alert start ============================= */

div[yui-alert] {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    transition: opacity .2s;
    background-color: #f4f4f5;
    justify-content: space-between;
    font-size: 13px;
    line-height: 18px;
    color: #909399;
}

div[yui-alert][type='success'] {
    background-color: #f0f9eb;
    color: #67c23a;
}

div[yui-alert][type='warning'] {
    background-color: #fdf6ec;
    color: #e6a23c;
}

div[yui-alert][type='danger'] {
    background-color: #fef0f0;
    color: #f56c6c;
}

div[yui-alert][effect='dark'] {
    background-color: #909399;
    color: #fff;
}

div[yui-alert][type='success'][effect='dark'] {
    background-color: #67c23a;
    color: #fff;
}

div[yui-alert][type='warning'][effect='dark'] {
    background-color: #e6a23c;
    color: #fff;
}

div[yui-alert][type='danger'][effect='dark'] {
    background-color: #f56c6c;
    color: #fff;
}

div[yui-alert] div[icon] {
    margin-right: 8px;
}

div[yui-alert][is-rows] div[icon] {
    font-size: 26px;
}

div[yui-alert][center] div[icon] {
    text-align: right;
    flex-grow: 1;
}

div[yui-alert] > div[title] {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div[yui-alert][center] div[title] {
    text-align: center;
}

div[yui-alert][is-rows] div[title] {
    font-weight: 700;
}

div[yui-alert][is-rows] div[description] {
    margin-top: 6px;
    font-weight: normal;
    white-space: normal;
}

div[yui-alert] div[close-icon] {
    color: #c0c4cc;
    font-size: 13px;
    line-height: 18px;
    flex-shrink: 0;
    padding-left: 8px;
    align-self: flex-start;
    cursor: pointer;
}

div[yui-alert][effect='dark'] div[close-icon] {
    color: #fff;
}

/* ============================= alert end ============================= */

/* ============================= badge start ============================= */

div[yui-badge] {
    display: inline-block;
    position: relative;
}

div[yui-badge] sup {
    z-index: 1;
    position: absolute;
    background-color: #f56c6c;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #fff;
    top: 0;
    right: 10px;
    transform: translateY(-50%) translateX(100%);
}

div[yui-badge][type='primary'] sup {
    background-color: #409EFF;
}

div[yui-badge][type='info'] sup {
    background-color: #909399;
}

div[yui-badge][type='success'] sup {
    background-color: #67c23a;
}

div[yui-badge][type='warning'] sup {
    background-color: #e6a23c;
}

div[yui-badge][is-dot]:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #f56c6c;
    position: absolute;
    border-radius: 50%;
    top: -4px;
    right: -4px;
    z-index: 1;
    border: 1px solid #fff;
}

/* ============================= badge end ============================= */

/* ============================= button start ============================= */

a[yui-button] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    border-style: solid;
    border-color: #dcdfe6;
    border-width: 1px;
    color: #606266;
    font-weight: 500;
    padding: 12px 18px;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

a[yui-button][type='primary'] {
    color: #fff;
    background: #409eff;
    border-color: #409eff;
}

a[yui-button][type='info'] {
    color: #fff;
    background-color: #909399;
    border-color: #909399;
}

a[yui-button][type='success'] {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
}

a[yui-button][type='warning'] {
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
}

a[yui-button][type='danger'] {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
}

a[yui-button][plain] {
    background: #fff;
    color: #909399;
}

a[yui-button][type='info'][plain] {
    color: #909399;
    background-color: #f4f4f5;
    border-color: #d3d4d6
}

a[yui-button][type='primary'][plain] {
    color: #409eff;
    background-color: #ecf5ff;
    border-color: #b3d8ff;
}

a[yui-button][type='success'][plain] {
    color: #67c23a;
    background-color: #f0f9eb;
    border-color: #c2e7b0
}

a[yui-button][type='warning'][plain] {
    color: #e6a23c;
    background-color: #fdf6ec;
    border-color: #f5dab1
}

a[yui-button][type='danger'][plain] {
    color: #f56c6c;
    background-color: #fef0f0;
    border-color: #fbc4c4
}

a[yui-button]:not([disabled]):hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}

a[yui-button][plain]:not([disabled]):hover {
    border-color: #3a8ee6;
    background-color: #fff;
    color: #3a8ee6;
}

a[yui-button][type='info']:not([disabled]):hover {
    color: #fff;
    background-color: #909399;
    border-color: #909399;
    opacity: .8;
}

a[yui-button][type='primary']:not([disabled]):hover {
    color: #fff;
    background: #409eff;
    border-color: #409eff;
    opacity: .8;
}

a[yui-button][type='success']:not([disabled]):hover {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
    opacity: .8;
}

a[yui-button][type='warning']:not([disabled]):hover {
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
    opacity: .8;
}

a[yui-button][type='danger']:not([disabled]):hover {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
    opacity: .8;
}

a[yui-button][radius] {
    border-radius: 20px;
}

a[yui-button][circle] {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

a[yui-button][disabled] {
    cursor: not-allowed;
    opacity: .6;
}

a[yui-button][type='text'] {
    border-color: transparent;
    color: #409eff;
    background-color: transparent;
    padding: 0;
    height: auto;
}

a[yui-button][type='text']:hover {
    opacity: .8;
    border-color: transparent;
    color: #409eff;
    background-color: transparent;
}

a[yui-button][type='text'][disabled] {
    opacity: .8;
    color: #c0c4cc;
    cursor: not-allowed;
}

div[yui-button-group] {
    display: inline-flex;
}

div[yui-button-group] > a[yui-button] {
    border-radius: 0;
    margin-right: 1px;
}

div[yui-button-group] > a[yui-button]:first-child {
    border-radius: 4px 0 0 4px;
}

div[yui-button-group] > a[yui-button]:last-child {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}

a[yui-button][size='medium'] {
    height: 36px;
    padding: 10px 20px;
}

a[yui-button][size='small'] {
    height: 32px;
    padding: 9px 15px;
}

a[yui-button][size='mini'] {
    height: 28px;
    padding: 7px 15px;
}

/* ============================= button end ============================= */

/* ============================= card start ============================= */

div[yui-card] {
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: hidden;
    color: #303133;
    transition: .3s;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

div[yui-card][shadow='hover'], div[yui-card][shadow='never'] {
    box-shadow: 0 2px 12px 0 transparent;
}

div[yui-card][shadow='hover']:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

div[yui-card] > div[header] {
    padding: 18px 20px;
    border-bottom: 1px solid #ebeef5;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

div[yui-card] > div[body] {
    padding: 20px;
    color: #303133;
    font-size: 14px;
}

/* ============================= card end ============================= */


/* ============================= checkbox start ============================= */

div[yui-checkbox-group] {

}

div[yui-checkbox-group] > a[yui-checkbox] {
    display: inline-block;
    line-height: 1;
    color: #606266;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 24px;
    transition: .3s;
}

div[yui-checkbox-group] > a[yui-checkbox]:last-child {
    margin-right: 0;
}

a[yui-checkbox] > div[box] {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    top: 2px;
    transition: .3s;
    margin: 0 6px;
}

a[yui-checkbox]:hover > div[box] {
    border-color: #409eff;
}

div[yui-checkbox-group] > a[yui-checkbox][checked] {
    color: #409eff;
}

a[yui-checkbox][checked] > div[box] {
    background-color: #409eff;
    border-color: #409eff;
}

a[yui-checkbox][checked] > div[box]:after {
    box-sizing: content-box;
    content: "";
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(1);
    width: 3px;
    transition: transform .15s ease-in .05s;
    transform-origin: center;
}

div[yui-checkbox-group] > a[yui-checkbox][disabled] {
    color: #c0c4cc;
    cursor: not-allowed;
}

a[yui-checkbox][disabled] > div[box] {
    background-color: #edf2fc;
    border-color: #dcdfe6;
    cursor: not-allowed;
}

a[yui-checkbox][disabled] > div[box]:after {
    border-color: #c0c4cc;
}

/* ============================= checkbox end ============================= */


/* ============================= dialog start ============================= */

div[yui-dialog] {
    z-index: 2021;
    width: 50%;
    visibility: hidden;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: .3s;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    padding: 20px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
}

div[yui-dialog][fullscreen] {
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    box-shadow: 0 1px 3px transparent;
    height: 0;
}

div[yui-dialog] > div[header] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
    font-size: 18px;
    color: #303133;
    margin-bottom: 30px;
}

div[yui-dialog] > div[header] [close-icon] {
    align-self: flex-start;
    flex-shrink: 0;
}

div[yui-dialog] > div[footer] {
    margin-top: 30px;
    text-align: right;
}

/* ============================= dialog end ============================= */


/* ============================= link start ============================= */

a[yui-link] {
    text-decoration: none;
    color: #606266;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}

a[yui-link][type='primary'] {
    color: #409eff;
}

a[yui-link][type='info'] {
    color: #909399;
}

a[yui-link][type='success'] {
    color: #67c23a;
}

a[yui-link][type='warning'] {
    color: #e6a23c;
}

a[yui-link][type='danger'] {
    color: #f56c6c;
}

a[yui-link]:not([disabled]):hover {
    color: #409eff;
}

a[yui-link][type='primary']:not([disabled]):hover {
    color: #409eff;
    opacity: .8;
}

a[yui-link][type='info']:not([disabled]):hover {
    color: #909399;
    opacity: .8;
}

a[yui-link][type='success']:not([disabled]):hover {
    color: #67c23a;
    opacity: .8;
}

a[yui-link][type='warning']:not([disabled]):hover {
    color: #e6a23c;
    opacity: .8;
}

a[yui-link][type='danger']:not([disabled]):hover {
    color: #f56c6c;
    opacity: .8;
}

a[yui-link][disabled] {
    opacity: .6;
    cursor: not-allowed;
}

a[yui-link][underline]:hover:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #409eff;
    bottom: -1px;
}

a[yui-link][underline][type='info']:hover:before {
    background-color: #909399;
}

a[yui-link][underline][type='success']:hover:before {
    background-color: #67c23a;
}

a[yui-link][underline][type='warning']:hover:before {
    background-color: #e6a23c;
}

a[yui-link][underline][type='danger']:hover:before {
    background-color: #f56c6c;
}

/* ============================= link end ============================= */


/* ============================= loading start ============================= */

div[yui-loading] {
    position: relative;
}

div[yui-loading-modal] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 0;
    opacity: 0;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

div[yui-loading-modal] > div[body] {
    text-align: center;
    color: #409eff;
    font-size: 18px;
    transition: 3s;
}

div[yui-loading-modal] > div[body] > i[icon] {
    display: block;
}

div[yui-loading-modal] > div[body] > div[text] {
    margin-top: 5px;
    font-size: 14px;
}

/* ============================= loading end ============================= */


/* ============================= message start ============================= */

div[yui-message-box] {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2021;
    top: 0;
}

div[yui-message-box] > div[yui-message] {
    min-width: 380px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #f4f4f5;
    transition: .3s;
    overflow: hidden;
    padding: 12px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    position: relative;
    margin: 20px 0;
    color: #909399;
    z-index: 1995;
    top: -20px;
    opacity: 0;
}

div[yui-message-box] > div[yui-message][type='primary'] {
    color: #409eff;
    background-color: #ecf5ff;
    border-color: #b3d8ff;
}

div[yui-message-box] > div[yui-message][type='success'] {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
}

div[yui-message-box] > div[yui-message][type='warning'] {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c;
}

div[yui-message-box] > div[yui-message][type='danger'] {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
}

div[yui-message-box] > div[yui-message][effect='dark'] {
    background-color: #909399;
    border-color: #909399;
    color: white;
}

div[yui-message-box] > div[yui-message][effect='dark'][type='success'] {
    background-color: #67c23a;
    border-color: #67c23a;
}

div[yui-message-box] > div[yui-message][effect='dark'][type='warning'] {
    background-color: #e6a23c;
    border-color: #e6a23c;
}

div[yui-message-box] > div[yui-message][effect='dark'][type='danger'] {
    background-color: #f56c6c;
    border-color: #f56c6c;
}

div[yui-message] > div[body] {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

div[yui-message] > div[body] > [icon] {
    margin-right: 12px;
}

div[yui-message] > [yui-message-close-icon] {
    cursor: pointer;
    padding-left: 12px;
    font-size: 12px;
}

div[yui-message][center] > div[body] {
    justify-content: center;
}

/* ============================= message end ============================= */


/* ============================= notify start ============================= */

div[yui-notify-box] {
    position: fixed;
    width: 330px;
    z-index: 2021;
}

div[yui-notify-box] > div[yui-notify] {
    display: flex;
    width: 330px;
    padding: 14px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #ebeef5;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    transition: .3s;
    overflow: hidden;
    position: relative;
    margin-bottom: 24px;
    left: 330px;
    opacity: 0;
}

div[yui-notify] > i[icon] {
    font-size: 24px;
    padding-right: 8px;
    color: #909399;
}

div[yui-notify][type='success'] > i[icon] {
    color: #67c23a;
}

div[yui-notify][type='warning'] > i[icon] {
    color: #e6a23c;
}

div[yui-notify][type='danger'] > i[icon] {
    color: #f56c6c;
}

div[yui-notify] > div[body] {
    flex-grow: 1;
}

div[yui-notify] > div[body] > div[title] {
    font-weight: 700;
    font-size: 16px;
    color: #303133;
    margin: 0;
    padding-top: 1px;
}

div[yui-notify] > div[body] > div[message] {
    font-size: 14px;
    line-height: 21px;
    margin: 6px 0 0;
    color: #606266;
    text-align: justify;
}

div[yui-notify] > i[close-icon] {
    cursor: pointer;
    color: #909399;
    font-size: 16px;
    padding-left: 8px;
    margin-top: 4px;
}

/* ============================= notify end ============================= */


/* ============================= radio start ============================= */

div[yui-radio-group] {
    display: inline-flex;
    align-items: center;
}

a[yui-radio] {
    display: inline-block;
    line-height: 1;
    color: #606266;
    font-size: 14px;
    padding: 7px 0 7px 22px;
    margin-right: 22px;
    position: relative;
    cursor: pointer;
    background-color: white;
}

a[yui-radio]:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #C0C4CC inset;
    background-color: white;
    left: 0;
}

a[yui-radio]:not([disabled]):hover:before {
    box-shadow: 0 0 0 1px #409eff inset;
}

a[yui-radio][checked]:not([disabled]) {
    color: #409eff;
}

a[yui-radio][checked]:not([disabled]):before {
    content: "";
    box-shadow: 0 0 0 5px #409eff inset;
}

a[yui-radio][disabled] {
    color: #c0c4cc;
    cursor: not-allowed;
}

a[yui-radio][disabled]:before {
    content: "";
    box-shadow: 0 0 0 1px #e4e7ed inset;
    background-color: white;
}

a[yui-radio][checked][disabled]:before {
    content: "";
    box-shadow: 0 0 0 5px #e4e7ed inset;
}

a[yui-radio-button] {
    color: #606266;
    border-style: solid;
    border-color: #dcdee2;
    border-width: 1px 0 1px 1px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    display: flex;
    padding: 12px 20px;
    margin-right: 0;
    cursor: pointer;
    line-height: 1;
    font-size: 14px;
}

a[yui-radio-button]:first-child {
    border-radius: 4px 0 0 4px;
}

a[yui-radio-button]:last-child {
    border-right-width: 1px;
    border-radius: 0 4px 4px 0;
}

a[yui-radio-button]:not([disabled]):hover {
    color: #409eff;
}

a[yui-radio-button][checked]:not([disabled]) {
    background-color: #409eff;
    color: white;
    border-color: #409eff;
}

a[yui-radio-button][checked]:not([disabled]) + a {
    border-left-color: transparent;
}

a[yui-radio-button][disabled] {
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #fff;
    box-shadow: none;
}

a[yui-radio-button][checked][disabled] {
    background-color: #f2f6fc;
    color: #c0c4cc;
    cursor: not-allowed;
}

div[yui-radio-group][size='medium'] > a[yui-radio-button] {
    padding: 10px 18px;
}

div[yui-radio-group][size='small'] > a[yui-radio-button] {
    padding: 9px 15px;
}

div[yui-radio-group][size='mini'] > a[yui-radio-button] {
    padding: 7px 15px;
}

a[yui-radio][border] {
    border-style: solid;
    border-color: #dcdfe6;
    border-width: 1px;
    padding: 12px 20px 12px 34px;
    border-radius: 4px;
    position: relative;
}

a[yui-radio][border][checked] {
    border-color: #409eff;
}

a[yui-radio][border]:before {
    left: 12.5%;
}

div[yui-radio-group][size='medium'] > a[yui-radio][border] {
    padding: 10px 18px 10px 32px;
}

div[yui-radio-group][size='small'] > a[yui-radio][border] {
    padding: 9px 15px 9px 29px;
}

div[yui-radio-group][size='mini'] > a[yui-radio][border] {
    padding: 7px 15px 7px 29px;
}

/* ============================= radio end ============================= */


/* ============================= tag start ============================= */

div[yui-tag] {
    background-color: #ecf5ff;
    display: inline-flex;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    color: #409eff;
    border: 1px solid #d9ecff;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    cursor: text;
    transition: .3s;
    transform: rotateY(0deg);
}

div[yui-tag][type=info] {
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #909399;
}

div[yui-tag][type=success] {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67C23A;
}

div[yui-tag][type=warning] {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c;
}

div[yui-tag][type=danger] {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
}

div[yui-tag][effect="dark"] {
    background-color: #409eff;
    color: #fff;
    border-color: #409eff;
}

div[yui-tag][type=info][effect="dark"] {
    background-color: #909399;
    border-color: #909399;
    color: white;
}

div[yui-tag][type=success][effect="dark"] {
    background-color: #67C23A;
    border-color: #67C23A;
    color: white;
}

div[yui-tag][type=warning][effect="dark"] {
    background-color: #e6a23c;
    border-color: #e6a23c;
    color: white;
}

div[yui-tag][type=danger][effect="dark"] {
    background-color: #f56c6c;
    border-color: #f56c6c;
    color: white;
}

div[yui-tag][effect="plain"] {
    background-color: #fff;
    border-color: #b3d8ff;
    color: #409eff;
}

div[yui-tag][type=info][effect="plain"] {
    background-color: #fff;
    border-color: #d3d4d6;
    color: #909399;
}

div[yui-tag][type=success][effect="plain"] {
    background-color: #fff;
    border-color: #c2e7b0;
    color: #67c23a;
}

div[yui-tag][type=warning][effect="plain"] {
    background-color: #fff;
    border-color: #f5dab1;
    color: #e6a23c;
}

div[yui-tag][type=danger][effect="plain"] {
    background-color: #fff;
    border-color: #fbc4c4;
    color: #f56c6c;
}

div[yui-tag][size='medium'] {
    line-height: 26px;
}

div[yui-tag][size=small] {
    padding: 0 8px;
    line-height: 22px;
}

div[yui-tag][size=mini] {
    padding: 0 5px;
    line-height: 19px;
}

div[yui-tag] > [close-icon] {
    font-size: 12px;
    margin-left: 8px;
    cursor: pointer;
}

/* ============================= tag end ============================= */


/* ============================= tooltip start ============================= */

div[yui-tooltip] {
    position: relative;
    display: inline-block;
}

div[yui-tooltip] > div[text] {
    position: absolute;
    z-index: 1;
    background: #303133;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    display: block;
    white-space: nowrap;
    opacity: 0;
    transition: .3s;
    text-align: left;
}

div[yui-tooltip] > div[point] {
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 6px;
    border-color: transparent;
    opacity: 0;
    transition: .3s;
    z-index: 1;
}

div[yui-tooltip][effect='light'] > div[text] {
    border: 1px solid #303133;
    background-color: #fff;
    color: #303133;
}

div[yui-tooltip][placement='top-start'] > div[text] {
    left: 0;
    bottom: calc(100% + 8px);
}

div[yui-tooltip][placement='top-start'] > div[point] {
    left: 6px;
    top: -8px;
}

div[yui-tooltip][placement='top'] > div[text] {
    bottom: calc(100% + 8px);
}

div[yui-tooltip][placement='top'] > div[point] {
    top: -8px;
}

div[yui-tooltip][placement='top-end'] > div[text] {
    bottom: calc(100% + 8px);
}

div[yui-tooltip][placement='top-end'] > div[point] {
    right: 6px;
    top: -8px;
}

div[yui-tooltip][placement='left-start'] > div[text] {
    right: calc(100% + 8px);
}

div[yui-tooltip][placement='left-start'] > div[point] {
    left: -8px;
    top: 6px;
}

div[yui-tooltip][placement='left'] > div[text] {
    right: calc(100% + 8px);
}

div[yui-tooltip][placement='left'] > div[point] {
    left: -8px;
}

div[yui-tooltip][placement='left-end'] > div[text] {
    right: calc(100% + 8px);
    bottom: 0
}

div[yui-tooltip][placement='left-end'] > div[point] {
    left: -8px;
    bottom: 6px;
}

div[yui-tooltip][placement='right-start'] > div[text] {
    left: calc(100% + 8px);
}

div[yui-tooltip][placement='right-start'] > div[point] {
    right: -8px;
    top: 6px;
}

div[yui-tooltip][placement='right'] > div[text] {
    left: calc(100% + 8px);
}

div[yui-tooltip][placement='right'] > div[point] {
    right: -8px;
}

div[yui-tooltip][placement='right-end'] > div[text] {
    left: calc(100% + 8px);
    bottom: 0
}

div[yui-tooltip][placement='right-end'] > div[point] {
    right: -8px;
    bottom: 6px;
}

div[yui-tooltip][placement='bottom-start'] > div[text] {
    top: calc(100% + 8px);
}

div[yui-tooltip][placement='bottom-start'] > div[point] {
    left: 6px;
    bottom: -8px;
}

div[yui-tooltip][placement='bottom'] > div[text] {
    top: calc(100% + 8px);
}

div[yui-tooltip][placement='bottom'] > div[point] {
    bottom: -8px;
}

div[yui-tooltip][placement='bottom-end'] > div[text] {
    right: 0;
    top: calc(100% + 8px);
}

div[yui-tooltip][placement='bottom-end'] > div[point] {
    right: 6px;
    bottom: -8px;
}

div[yui-tooltip]:hover > div[text] {
    opacity: 1;
}

div[yui-tooltip]:hover > div[point] {
    opacity: 1;
}

/* ============================= tooltip end ============================= */