/* ============================= 公共样式 start ============================= */

[yui-icon] {
    position: relative;
}

/* ============================= 公共样式 end ============================= */


/* ============================= alert start ============================= */

div[yui-alert] {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    transition: opacity .2s;
    background-color: #f4f4f5;
    font-size: 13px;
    line-height: 1;
    color: #909399;
}

div[yui-alert][type='success'] {
    background-color: #f0f9eb;
    color: #67c23a;
}

div[yui-alert][type='warning'] {
    background-color: #fdf6ec;
    color: #e6a23c;
}

div[yui-alert][type='danger'] {
    background-color: #fef0f0;
    color: #f56c6c;
}

div[yui-alert][effect='dark'] {
    background-color: #909399;
    color: #fff;
}

div[yui-alert][type='success'][effect='dark'] {
    background-color: #67c23a;
    color: #fff;
}

div[yui-alert][type='warning'][effect='dark'] {
    background-color: #e6a23c;
    color: #fff;
}

div[yui-alert][type='danger'][effect='dark'] {
    background-color: #f56c6c;
    color: #fff;
}

div[yui-alert] > .yui-icon {
    margin-right: 8px;
}

div[yui-alert] > div[content] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div[yui-alert][has-info] .yui-icon {
    font-size: 24px;
}

div[yui-alert][has-info] > div[content] {
    line-height: 1.3;
}

div[yui-alert][has-info] > div[content] > div[title] {
    font-size: 13px;
    font-weight: 700;
}

div[yui-alert][has-info] > div[content] > div[info] {
    font-size: 12px;
    margin: 5px 0 0;
    white-space: normal;
}

/* ============================= alert end ============================= */


/* ============================= backTop start ============================= */

div[yui-back-top] {
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    z-index: 2021;
    cursor: pointer;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

div[yui-back-top]:hover {
    background-color: #f2f6fc;
}

div[yui-back-top] > span[icon] {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #409eff transparent;
}

/* ============================= backTop end ============================= */


/* ============================= badge start ============================= */

div[yui-badge] {
    display: inline-block;
    position: relative;
}

div[yui-badge] sup {
    z-index: 1;
    position: absolute;
    background-color: #f56c6c;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #fff;
    top: 0;
    right: 10px;
    transform: translateY(-50%) translateX(100%);
}

div[yui-badge][type='primary'] sup {
    background-color: #409EFF;
}

div[yui-badge][type='info'] sup {
    background-color: #909399;
}

div[yui-badge][type='success'] sup {
    background-color: #67c23a;
}

div[yui-badge][type='warning'] sup {
    background-color: #e6a23c;
}

div[yui-badge][is-dot]:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #f56c6c;
    position: absolute;
    border-radius: 50%;
    top: -4px;
    right: -4px;
    z-index: 1;
    border: 1px solid #fff;
}

/* ============================= badge end ============================= */


/* ============================= button start ============================= */

a[yui-button] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    border-style: solid;
    border-color: #dcdfe6;
    border-width: 1px;
    color: #606266;
    font-weight: 500;
    padding: 12px 18px;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    line-height: 1;
}

a[yui-button][type='primary'] {
    color: #fff;
    background: #409eff;
    border-color: #409eff;
}

a[yui-button][type='info'] {
    color: #fff;
    background-color: #909399;
    border-color: #909399;
}

a[yui-button][type='success'] {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
}

a[yui-button][type='warning'] {
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
}

a[yui-button][type='danger'] {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
}

a[yui-button][plain] {
    background: #fff;
}

a[yui-button][type='info'][plain] {
    color: #909399;
    background-color: #f4f4f5;
    border-color: #d3d4d6
}

a[yui-button][type='primary'][plain] {
    color: #409eff;
    background-color: #ecf5ff;
    border-color: #b3d8ff;
}

a[yui-button][type='success'][plain] {
    color: #67c23a;
    background-color: #f0f9eb;
    border-color: #c2e7b0
}

a[yui-button][type='warning'][plain] {
    color: #e6a23c;
    background-color: #fdf6ec;
    border-color: #f5dab1
}

a[yui-button][type='danger'][plain] {
    color: #f56c6c;
    background-color: #fef0f0;
    border-color: #fbc4c4
}

a[yui-button]:not([disabled]):hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}

a[yui-button][plain]:not([disabled]):hover {
    border-color: #3a8ee6;
    background-color: #fff;
    color: #3a8ee6;
}

a[yui-button][type='info']:not([disabled]):hover {
    color: #fff;
    background-color: #909399;
    border-color: #909399;
    opacity: .8;
}

a[yui-button][type='primary']:not([disabled]):hover {
    color: #fff;
    background: #409eff;
    border-color: #409eff;
    opacity: .8;
}

a[yui-button][type='success']:not([disabled]):hover {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
    opacity: .8;
}

a[yui-button][type='warning']:not([disabled]):hover {
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
    opacity: .8;
}

a[yui-button][type='danger']:not([disabled]):hover {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
    opacity: .8;
}

a[yui-button][disabled] {
    cursor: not-allowed;
    opacity: .6;
}

a[yui-button][type='text'] {
    border-color: transparent;
    color: #409eff;
    background-color: transparent;
    padding: 0;
    height: auto;
}

a[yui-button][type='text']:hover {
    opacity: .8;
    border-color: transparent;
    color: #409eff;
    background-color: transparent;
}

a[yui-button][type='text'][disabled] {
    opacity: .8;
    color: #c0c4cc;
    cursor: not-allowed;
}

div[yui-button-group] {
    display: inline-flex;
}

div[yui-button-group] > a[yui-button] {
    border-radius: 0;
    margin-right: 1px;
}

div[yui-button-group] > a[yui-button]:first-child {
    border-radius: 4px 0 0 4px;
}

div[yui-button-group] > a[yui-button]:last-child {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}

a[yui-button][size='medium'] {
    height: 36px;
    padding: 10px 20px;
}

a[yui-button][size='small'] {
    height: 32px;
    padding: 9px 15px;
}

a[yui-button][size='mini'] {
    height: 28px;
    padding: 7px 15px;
}

/* ============================= button end ============================= */


/* ============================= card start ============================= */

div[yui-card] {
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: hidden;
    color: #303133;
    transition: .3s;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    font-size: 14px;
}

div[yui-card][shadow='hover'], div[yui-card][shadow='never'] {
    box-shadow: 0 2px 12px 0 transparent;
}

div[yui-card][shadow='hover']:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

div[yui-card] > div[header] {
    padding: 18px 20px;
    border-bottom: 1px solid #ebeef5;
    box-sizing: border-box;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

div[yui-card] > div[body] {
    padding: 20px;
}

/* ============================= card end ============================= */


/* ============================= checkbox start ============================= */

div[yui-checkbox-group] {
    display: inline-block;
}

div[yui-checkbox-group] > a[yui-checkbox] {
    display: inline-block;
    line-height: 1;
    color: #606266;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 24px;
    transition: .3s;
    user-select: none;
}

div[yui-checkbox-group] > a[yui-checkbox]:last-child {
    margin-right: 0;
}

a[yui-checkbox] > div[box] {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    top: 2px;
    transition: .3s;
    margin: 0 6px;
}

a[yui-checkbox]:hover > div[box] {
    border-color: #409eff;
}

div[yui-checkbox-group] > a[yui-checkbox][checked] {
    color: #409eff;
}

a[yui-checkbox][checked] > div[box] {
    background-color: #409eff;
    border-color: #409eff;
}

a[yui-checkbox][checked] > div[box]:after {
    box-sizing: content-box;
    content: "";
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(1);
    width: 3px;
    transition: transform .15s ease-in .05s;
    transform-origin: center;
}

div[yui-checkbox-group] > a[yui-checkbox][disabled] {
    color: #c0c4cc;
    cursor: not-allowed;
}

a[yui-checkbox][disabled] > div[box] {
    background-color: #edf2fc;
    border-color: #dcdfe6;
    cursor: not-allowed;
}

a[yui-checkbox][disabled] > div[box]:after {
    border-color: #c0c4cc;
}

/* ============================= checkbox end ============================= */


/* ============================= dialog start ============================= */

div[yui-modal] {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 2021;
    opacity: 0;
    transition: .3s;
    text-align: left;
    color: #303133;
}

div[yui-dialog] {
    height: auto;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    width: 30%;
    font-size: 14px;
    display: none;
    transition: .3s;
    top: 0;
}

div[yui-dialog][fullscreen] {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 0;
    left: 0;
    top: -20px;
    z-index: 2021;
}

div[yui-dialog] > div[header] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

div[yui-dialog] > div[header] > div[title] {
    font-size: 18px;
}

div[yui-dialog] > div[header] i.yui-icon.closed {
    cursor: pointer;
}

div[yui-dialog] > div[body] {
    color: #606266;
    font-size: 14px;
    word-break: break-all;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 20px 0;
}

div[yui-dialog][fullscreen] > div[body] {
    overflow-y: auto;
    height: calc(100vh - 200px);
}

div[yui-dialog] > div[footer] {
    text-align: right;
    padding: 20px;
}

div[yui-dialog][fullscreen] > div[footer] {
    padding: 20px 20px 0;
}

/* ============================= dialog end ============================= */


/* ============================= divider start ============================= */

div[yui-divider] {
    display: block;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    background-color: #dcdfe6;
    position: relative;
}

div[yui-divider][vertical] {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    position: relative;
}

/* ============================= divider end ============================= */


/* ============================= dropdown start ============================= */

div[yui-popover][yui-dropdown] i.yui-icon.arrow-down {
    font-size: 12px;
    margin-left: 3px;
}

div[yui-popover][yui-dropdown] > div[panel][bottom] {
    min-width: 10px;
    top: calc(100% + 12px);
    padding: 10px 0;
}

div[yui-popover][yui-dropdown] > div[panel] {
    visibility: hidden;
}

div[yui-popover][yui-dropdown] > div[panel] > a[menu-item] {
    display: block;
    line-height: 36px;
    padding: 0 20px;
    margin: 0;
    font-size: 14px;
    color: #606266;
    cursor: pointer;
    outline: none;
    text-align: center;
}

div[yui-popover][yui-dropdown] > div[panel] > a[menu-item]:not([disabled]):hover {
    background-color: #ecf5ff;
    color: #66b1ff;
}

div[yui-popover][yui-dropdown] > div[panel] > a[menu-item][disabled] {
    cursor: not-allowed;
    color: #bbb;
}

div[yui-popover][yui-dropdown] > div[panel] > a[menu-item][divided] {
    position: relative;
    margin-top: 6px;
    border-top: 1px solid #ebeef5;
}

div[yui-popover][yui-dropdown] > div[panel] > a[menu-item][divided]:before {
    content: "";
    height: 6px;
    display: block;
    margin: 0 -20px;
    background-color: #fff;
}

/* ============================= dropdown end ============================= */


/* ============================= input start ============================= */

div[yui-input] {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

div[yui-input] [inner] {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    cursor: pointer;
}

input::-webkit-input-placeholder {
    color: #C0C4CC;
    font-family: inherit;
    font-size: 14px;
}

div[yui-input] [inner]:focus {
    outline: none;
    border-color: #409eff;
}

div[yui-input] [inner][disabled] {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
}

div[yui-input] textarea[inner] {
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    min-height: 55px;
}

textarea::-webkit-input-placeholder {
    color: #C0C4CC;
    font-family: inherit;
    font-size: 14px;
}

/* ============================= input end ============================= */


/* ============================= link start ============================= */

a[yui-link] {
    text-decoration: none;
    color: #606266;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}

a[yui-link][type='primary'] {
    color: #409eff;
}

a[yui-link][type='info'] {
    color: #909399;
}

a[yui-link][type='success'] {
    color: #67c23a;
}

a[yui-link][type='warning'] {
    color: #e6a23c;
}

a[yui-link][type='danger'] {
    color: #f56c6c;
}

a[yui-link]:not([disabled]):hover {
    color: #409eff;
}

a[yui-link][type='primary']:not([disabled]):hover {
    color: #409eff;
    opacity: .8;
}

a[yui-link][type='info']:not([disabled]):hover {
    color: #909399;
    opacity: .8;
}

a[yui-link][type='success']:not([disabled]):hover {
    color: #67c23a;
    opacity: .8;
}

a[yui-link][type='warning']:not([disabled]):hover {
    color: #e6a23c;
    opacity: .8;
}

a[yui-link][type='danger']:not([disabled]):hover {
    color: #f56c6c;
    opacity: .8;
}

a[yui-link][disabled] {
    opacity: .6;
    cursor: not-allowed;
}

a[yui-link][underline]:hover:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #409eff;
    bottom: -1px;
}

a[yui-link][underline][type='info']:hover:before {
    background-color: #909399;
}

a[yui-link][underline][type='success']:hover:before {
    background-color: #67c23a;
}

a[yui-link][underline][type='warning']:hover:before {
    background-color: #e6a23c;
}

a[yui-link][underline][type='danger']:hover:before {
    background-color: #f56c6c;
}

/* ============================= link end ============================= */


/* ============================= loading start ============================= */

div[yui-loading] {
    position: relative;
}

div[yui-loading][fullscreen] {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

div[yui-loading] > div[modal] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

div[yui-loading] > div[modal] > div[content] {
    text-align: center;
    color: #409eff;
    font-size: 14px;
}

div[yui-loading] > div[modal] > div[content] > i.yui-icon.loading {
    display: inline-block;
}

div[yui-loading] > div[modal] > div[content] > div[text] {
    margin-top: 6px;
}

/* ============================= loading end ============================= */


/* ============================= menu start ============================= */

div[yui-menu] {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 2020;
}

div[yui-menu] > div[left] {
    display: flex;
    box-sizing: border-box;
}

div[yui-menu] > div[right] {
    display: flex;
    box-sizing: border-box;
}

div[yui-menu] a[menu-item] {
    font-size: 14px;
    color: #303133;
    padding: 20px 20px;
    cursor: pointer;
    position: relative;
    transition: border-color .3s, background-color .3s, color .3s;
    box-sizing: border-box;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    height: 100%;
    border-style: solid;
    border-color: transparent;
    border-width: 0 0 2px 0;
    display: block;
    text-align: center;
}

div[yui-menu] a[menu-item]:hover,
div[yui-menu] div[submenu]:hover > a[menu-item] {
    color: #409eff;
}

div[yui-menu] a[menu-item][checked] {
    color: #409eff;
    border-bottom-color: #409eff;
}

div[yui-menu] a[menu-item][text-checked] {
    color: #409eff;
}

div[yui-menu] a[menu-item][disabled] {
    color: #303133;
    opacity: .25;
    cursor: not-allowed;
}

div[yui-menu] a[menu-item][checked][disabled] {
    color: #409eff;
}

div[yui-menu] a[menu-item][only-text] {
    color: #303133;
    cursor: text;
}

div[yui-menu] div[submenu] {
    position: relative;
}

div[yui-menu] div[submenu] i.yui-icon.arrow-down {
    font-size: 12px;
    margin-left: 3px;
}

div[yui-menu] div[submenu] div[panel] {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    z-index: 2021;
    border: none;
    padding: 5px 0;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background-color: white;
    display: none;
    opacity: 0;
    transition: .3s;
    overflow: hidden;
}

div[yui-menu] div[submenu] div[panel] > a[menu-item] {
    padding: 10px;
}

/* ============================= menu end ============================= */


/* ============================= message start ============================= */

div[yui-message-container] {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2021;
    top: 0;
}

div[yui-message-container] > div[yui-message] {
    min-width: 380px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #f4f4f5;
    transition: .3s;
    overflow: hidden;
    padding: 12px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    position: relative;
    margin: 20px 0;
    color: #909399;
    z-index: 1995;
    top: -20px;
    opacity: 0;
}

div[yui-message-container] > div[yui-message][type='primary'] {
    color: #409eff;
    background-color: #ecf5ff;
    border-color: #b3d8ff;
}

div[yui-message-container] > div[yui-message][type='success'] {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
}

div[yui-message-container] > div[yui-message][type='warning'] {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c;
}

div[yui-message-container] > div[yui-message][type='danger'] {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
}

div[yui-message-container] > div[yui-message][effect='dark'] {
    background-color: #909399;
    border-color: #909399;
    color: white;
}

div[yui-message-container] > div[yui-message][effect='dark'][type='success'] {
    background-color: #67c23a;
    border-color: #67c23a;
}

div[yui-message-container] > div[yui-message][effect='dark'][type='warning'] {
    background-color: #e6a23c;
    border-color: #e6a23c;
}

div[yui-message-container] > div[yui-message][effect='dark'][type='danger'] {
    background-color: #f56c6c;
    border-color: #f56c6c;
}

div[yui-message-container] > div[yui-message] > .yui-icon {
    margin-right: 8px;
}

/* ============================= message end ============================= */


/* ============================= messageBox start ============================= */

div[yui-message-box] {
    width: 420px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    font-size: 18px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    text-align: left;
    overflow: hidden;
    align-self: center;
    position: relative;
    top: -20px;
    transition: .3s;
}

div[yui-message-box] > div[header] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 10px;
}

div[yui-message-box] > div[header] > i.yui-icon.closed {
    cursor: pointer;
}

div[yui-message-box] > div[body] {
    line-height: 24px;
    color: #606266;
    font-size: 14px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

div[yui-message-box] > div[body] > i.yui-icon {
    margin-right: 8px;
    font-size: 22px;
    color: #909399;
}

div[yui-message-box][type='success'] > div[body] > i.yui-icon {
    color: #67c23a;
}

div[yui-message-box][type='warning'] > div[body] > i.yui-icon {
    color: #e6a23c;
}

div[yui-message-box][type='danger'] > div[body] > i.yui-icon {
    color: #f56c6c;
}

div[yui-message-box] > div[footer] {
    text-align: right;
    padding: 5px 15px 0;
}

div[yui-message-box] > div[footer] > a[yui-button] {
    margin-left: 6px;
}

/* ============================= messageBox end ============================= */


/* ============================= popover start ============================= */

div[yui-popover] {
    display: inline-block;
    position: relative;
}

div[yui-popover] > div[panel] {
    position: absolute;
    min-width: 150px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    padding: 12px;
    z-index: 2000;
    color: #606266;
    line-height: 1.4;
    text-align: justify;
    font-size: 14px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    word-break: break-all;
    transition: opacity .3s;
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
}

div[yui-popover] > div[panel] > div[title] {
    color: #303133;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 12px;
}

div[arrow] {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
}

div[arrow]:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
}

div[yui-popover] > div[panel][top] {
    bottom: calc(100% + 8px);
}

div[yui-popover] div[arrow][top] {
    border-bottom-width: 0;
    border-top-color: #ebeef5;
    bottom: -6px;
    left: calc(50% - 6px);
}

div[yui-popover] div[arrow][top]:after {
    border-bottom-width: 0;
    bottom: 1px;
    border-top-color: #fff;
    margin-left: -6px;
}

div[yui-popover] > div[panel][bottom] {
    top: calc(100% + 8px);
}

div[yui-popover] div[arrow][bottom] {
    border-top-width: 0;
    border-bottom-color: #ebeef5;
    top: -6px;
    left: calc(50% - 6px);
}

div[yui-popover] div[arrow][bottom]:after {
    border-top-width: 0;
    border-bottom-color: #fff;
    top: 1px;
    margin-left: -6px;
}

div[yui-popover] > div[panel][top][start],
div[yui-popover] > div[panel][bottom][start] {
    left: 0;
}

div[yui-popover] div[arrow][top][start],
div[yui-popover] div[arrow][bottom][start] {
    left: 6px;
}

div[yui-popover] > div[panel][top][end],
div[yui-popover] > div[panel][bottom][end] {
    right: 0;
}

div[yui-popover] div[arrow][top][end],
div[yui-popover] div[arrow][bottom][end] {
    left: auto;
    right: 6px;
}

div[yui-popover] > div[panel][left] {
    right: calc(100% + 8px);
}

div[yui-popover] div[arrow][left] {
    border-right-width: 0;
    border-left-color: #ebeef5;
    right: -6px;
    top: calc(50% - 6px);
}

div[yui-popover] div[arrow][left]:after {
    border-right-width: 0;
    right: 1px;
    border-left-color: #fff;
    margin-top: -6px;
}

div[yui-popover] > div[panel][right] {
    left: calc(100% + 8px);
}

div[yui-popover] div[arrow][right] {
    top: calc(50% - 6px);
    border-left-width: 0;
    border-right-color: #ebeef5;
    left: -6px;
}

div[yui-popover] div[arrow][right]:after {
    border-left-width: 0;
    border-right-color: #fff;
    left: 1px;
    margin-top: -6px;
}

div[yui-popover] > div[panel][left][start],
div[yui-popover] > div[panel][right][start] {
    top: 0
}

div[yui-popover] div[arrow][left][start],
div[yui-popover] div[arrow][right][start] {
    top: 6px;
}

div[yui-popover] > div[panel][left][end],
div[yui-popover] > div[panel][right][end] {
    bottom: 0;
}

div[yui-popover] div[arrow][left][end],
div[yui-popover] div[arrow][right][end] {
    top: auto;
    bottom: 6px;
}

/* ============================= popover end ============================= */


/* ============================= radio start ============================= */

div[yui-radio-group] {
    display: inline-flex;
    align-items: center;
}

a[yui-radio] {
    display: inline-block;
    line-height: 1;
    color: #606266;
    font-size: 14px;
    padding: 7px 0 7px 22px;
    margin-right: 22px;
    position: relative;
    cursor: pointer;
    background-color: white;
    user-select: none;
}

a[yui-radio]:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #C0C4CC inset;
    background-color: white;
    left: 0;
}

a[yui-radio]:not([disabled]):hover:before {
    box-shadow: 0 0 0 1px #409eff inset;
}

a[yui-radio][checked]:not([disabled]) {
    color: #409eff;
}

a[yui-radio][checked]:not([disabled]):before {
    content: "";
    box-shadow: 0 0 0 5px #409eff inset;
}

a[yui-radio][disabled] {
    color: #c0c4cc;
    cursor: not-allowed;
}

a[yui-radio][disabled]:before {
    content: "";
    box-shadow: 0 0 0 1px #e4e7ed inset;
    background-color: white;
}

a[yui-radio][checked][disabled]:before {
    content: "";
    box-shadow: 0 0 0 5px #e4e7ed inset;
}

a[yui-radio-button] {
    color: #606266;
    border-style: solid;
    border-color: #dcdee2;
    border-width: 1px 0 1px 1px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    display: flex;
    padding: 12px 20px;
    margin-right: 0;
    cursor: pointer;
    line-height: 1;
    font-size: 14px;
}

a[yui-radio-button]:first-child {
    border-radius: 4px 0 0 4px;
}

a[yui-radio-button]:last-child {
    border-right-width: 1px;
    border-radius: 0 4px 4px 0;
}

a[yui-radio-button]:not([disabled]):hover {
    color: #409eff;
}

a[yui-radio-button][checked]:not([disabled]) {
    background-color: #409eff;
    color: white;
    border-color: #409eff;
}

a[yui-radio-button][checked]:not([disabled]) + a {
    border-left-color: transparent;
}

a[yui-radio-button][disabled] {
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #fff;
    box-shadow: none;
}

a[yui-radio-button][checked][disabled] {
    background-color: #f2f6fc;
    color: #c0c4cc;
    cursor: not-allowed;
}

div[yui-radio-group][size='medium'] > a[yui-radio-button] {
    padding: 10px 18px;
}

div[yui-radio-group][size='small'] > a[yui-radio-button] {
    padding: 9px 15px;
}

div[yui-radio-group][size='mini'] > a[yui-radio-button] {
    padding: 7px 15px;
}

/* ============================= radio end ============================= */


/* ============================= select start ============================= */

div[yui-select] [inner] {
    padding-right: 30px;
}

div[yui-select] span[suffix] {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    right: 0;
    top: 0;
    width: 30px;
    justify-content: center;
}

div[yui-select] span[suffix] > i.yui-icon.arrow-down {
    color: #c0c4cc;
    font-size: 14px;
    transition: transform .3s;
    /*transform: rotate(180deg);*/
    cursor: pointer;
}

div[yui-select][yui-popover] > div[panel] {
    min-width: 100%;
    padding: 10px 0;
    visibility: hidden;
}

div[yui-select][yui-popover] > div[panel] > a[menu-item] {
    display: block;
    font-size: 14px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
}

div[yui-select][yui-popover] > div[panel] > a[menu-item]:hover {
    background-color: #f5f7fa;
}

div[yui-select][yui-popover] > div[panel] > a[menu-item][checked] {
    color: #409eff;
}

/* ============================= select end ============================= */


/* ============================= switch start ============================= */

div[yui-switch] {
    display: inline-block;
    line-height: 20px;
}

div[yui-switch] > span[switch] {
    margin: 0 8px;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: border-color .3s, background-color .3s;
    vertical-align: middle;
    background-color: #409eff;
    user-select: none;
}

div[yui-switch] > span[switch]:before {
    content: "";
    position: absolute;
    top: 2px;
    border-radius: 100%;
    transition: all .3s;
    width: 16px;
    height: 16px;
    background-color: #fff;
    left: calc(100% - 17px);
}

div[yui-switch][value='false'] > span[switch] {
    background-color: #dcdfe6;
}

div[yui-switch][value='false'] > span[switch]:before {
    left: 1px;
}

div[yui-switch] > span[inactive-text] {
    font-size: 14px;
    display: inline-block;
    transition: .2s;
    height: 20px;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    color: #303133;
}

div[yui-switch] > span[active-text] {
    font-size: 14px;
    display: inline-block;
    transition: .2s;
    height: 20px;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
    color: #409eff;
}

div[yui-switch][value='false'] > span[inactive-text] {
    color: #409eff;
}

div[yui-switch][value='false'] > span[active-text] {
    color: #303133;
}

div[yui-switch][disabled] {
    opacity: .6;
    cursor: not-allowed;
}

div[yui-switch][disabled] > span[inactive-text] {
    cursor: not-allowed;
}

div[yui-switch][disabled] > span[switch] {
    cursor: not-allowed;
}

div[yui-switch][disabled] > span[active-text] {
    cursor: not-allowed;
}

/* ============================= switch end ============================= */


/* ============================= table start ============================= */

table[yui-table] {
    font-size: 14px;
    color: #606266;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table[yui-table] thead {
    color: #909399;
    font-weight: 500;
}

table[yui-table] th,
table[yui-table] td {
    padding: 12px 10px;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    overflow: hidden;
    user-select: none;
    background-color: #fff;
    border-bottom: 1px solid #ebeef5;
}

table[yui-table] tr:hover td {
    background-color: #f5f7fa !important;
}

table[yui-table][stripe] tr:nth-child(even) td {
    background-color: #fafafa;
}

table[yui-table][has-border] th,
table[yui-table][has-border] td {
    border-right: 1px solid #ebeef5;
    border-top: 1px solid #ebeef5;
}

table[yui-table][has-border] tr td:first-child,
table[yui-table][has-border] tr th:first-child {
    border-left: 1px solid #ebeef5;
}

/* ============================= table end ============================= */


/* ============================= tag start ============================= */

div[yui-tag] {
    background-color: #ecf5ff;
    display: inline-flex;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    color: #409eff;
    border: 1px solid #d9ecff;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    cursor: text;
    transition: .3s;
    transform: rotateY(0deg);
}

div[yui-tag][type=info] {
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #909399;
}

div[yui-tag][type=success] {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67C23A;
}

div[yui-tag][type=warning] {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c;
}

div[yui-tag][type=danger] {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
}

div[yui-tag][effect="dark"] {
    background-color: #409eff;
    color: #fff;
    border-color: #409eff;
}

div[yui-tag][type=info][effect="dark"] {
    background-color: #909399;
    border-color: #909399;
    color: white;
}

div[yui-tag][type=success][effect="dark"] {
    background-color: #67C23A;
    border-color: #67C23A;
    color: white;
}

div[yui-tag][type=warning][effect="dark"] {
    background-color: #e6a23c;
    border-color: #e6a23c;
    color: white;
}

div[yui-tag][type=danger][effect="dark"] {
    background-color: #f56c6c;
    border-color: #f56c6c;
    color: white;
}

div[yui-tag][effect="plain"] {
    background-color: #fff;
    border-color: #b3d8ff;
    color: #409eff;
}

div[yui-tag][type=info][effect="plain"] {
    background-color: #fff;
    border-color: #d3d4d6;
    color: #909399;
}

div[yui-tag][type=success][effect="plain"] {
    background-color: #fff;
    border-color: #c2e7b0;
    color: #67c23a;
}

div[yui-tag][type=warning][effect="plain"] {
    background-color: #fff;
    border-color: #f5dab1;
    color: #e6a23c;
}

div[yui-tag][type=danger][effect="plain"] {
    background-color: #fff;
    border-color: #fbc4c4;
    color: #f56c6c;
}

div[yui-tag][size='medium'] {
    line-height: 26px;
}

div[yui-tag][size='small'] {
    padding: 0 8px;
    line-height: 22px;
}

div[yui-tag][size='mini'] {
    padding: 0 5px;
    line-height: 19px;
}

/* ============================= tag end ============================= */