.demo {
    text-align: center;
}

.yHtml-tag.my-custom-tag-man {
    background: #13c2c2;
    border-color: #13c2c2;
    color: white;
}

.yHtml-tag.my-custom-tag-woman {
    background: rgb(255, 162, 211);
    border-color: rgb(255, 162, 211);
    color: white;
}