<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yui - Menu 菜单</title>
    <link rel="icon" type="image/x-icon" href="../../public/logo.png"/>
    <link rel="stylesheet" type="text/css" href="../../public/index.css">
    <link rel="stylesheet" type="text/css" href="../../public/highLight/monokai-sublime.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="../../release/yui-iconfont-min.css">
    <link rel="stylesheet" type="text/css" href="../../release/yui-min.css">
</head>
<body>
<!--网页头部-->
<div class="page-header"></div>
<!--网页内容-->
<div class="page-content">
    <div class="page-title">
        Menu 菜单
    </div>
    <div class="demo">
        <div class="module-title">
            浅色
        </div>
        <div yui-menu>
            <div yui-left>
                <a yui-menu-item>首页</a>
                <div contain-child-menu>
                    <a yui-menu-item>处理中心</a>
                    <div yui-child-menu>
                        <a yui-menu-item>选项1 - 比较长的选项1</a>
                        <a yui-menu-item>选项2</a>
                        <a yui-menu-item>选项3</a>
                        <a yui-menu-item>选项4</a>
                        <a yui-menu-item>选项5</a>
                    </div>
                </div>
                <div contain-child-menu stretch>
                    <a checked yui-menu-item>我的订单</a>
                    <div yui-child-menu>
                        <div style="display: inline-flex;height: 200px">
                            <a text-checked yui-menu-item>选项1</a>
                            <a yui-menu-item>选项2</a>
                            <a yui-menu-item>选项3</a>
                            <a yui-menu-item>选项4</a>
                            <a yui-menu-item>选项5</a>
                        </div>
                    </div>
                </div>
                <a yui-menu-item>工作台</a>
                <a yui-menu-item>消息中心</a>
            </div>
            <div yui-right>
                <a yui-menu-item>登录</a>
                <a yui-menu-item>注册</a>
                <a yui-menu-item only-text>电话：400-820-820</a>
            </div>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div yui-menu&gt;
            &lt;div yui-left&gt;
                &lt;a yui-menu-item&gt;首页&lt;/a&gt;

                &lt;div contain-child-menu&gt;
                    &lt;a yui-menu-item&gt;处理中心&lt;/a&gt;
                    &lt;div yui-child-menu&gt;
                        &lt;a yui-menu-item&gt;选项1 - 比较长的选项1&lt;/a&gt;
                        &lt;a yui-menu-item&gt;选项2&lt;/a&gt;
                        &lt;a yui-menu-item&gt;选项3&lt;/a&gt;
                        &lt;a yui-menu-item&gt;选项4&lt;/a&gt;
                        &lt;a yui-menu-item&gt;选项5&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div contain-child-menu stretch"&gt;
                    &lt;a checked yui-menu-item&gt;我的订单&lt;/a&gt;
                    &lt;div yui-child-menu&gt;
                        &lt;div style="display: inline-flex;height: 200px"&gt;
                            &lt;a text-checked yui-menu-item&gt;选项1&lt;/a&gt;
                            &lt;a yui-menu-item&gt;选项2&lt;/a&gt;
                            &lt;a yui-menu-item&gt;选项3&lt;/a&gt;
                            &lt;a yui-menu-item&gt;选项4&lt;/a&gt;
                            &lt;a yui-menu-item&gt;选项5&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;a yui-menu-item&gt;工作台&lt;/a&gt;

                &lt;a yui-menu-item&gt;消息中心&lt;/a&gt;
            &lt;/div&gt;
            &lt;div yui-right&gt;
                &lt;a yui-menu-item&gt;登录&lt;/a&gt;

                &lt;a yui-menu-item&gt;注册&lt;/a&gt;

                &lt;a yui-menu-item only-text&gt;电话：400-820-820&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="demo">
        <div class="module-title">
            深色
        </div>
        <div yui-menu theme="dark">
            <div yui-left>
                <a yui-menu-item checked>首页</a>
                <div contain-child-menu>
                    <a yui-menu-item>
                        处理中心
                    </a>
                    <div yui-child-menu>
                        <a yui-menu-item>选项1 - 比较长的选项1</a>
                        <a yui-menu-item>选项2</a>
                        <a yui-menu-item>选项3</a>
                        <a yui-menu-item>选项4</a>
                        <a yui-menu-item>选项5</a>
                    </div>
                </div>
                <div contain-child-menu stretch>
                    <a yui-menu-item>
                        我的订单
                    </a>
                    <div yui-child-menu>
                        <div style="display: inline-flex;height: 200px">
                            <a text-checked yui-menu-item>选项1</a>
                            <a yui-menu-item>选项2</a>
                            <a yui-menu-item>选项3</a>
                            <a yui-menu-item>选项4</a>
                            <a yui-menu-item>选项5</a>
                        </div>
                    </div>
                </div>
                <a yui-menu-item>工作台</a>
                <a yui-menu-item>消息中心</a>
            </div>
            <div yui-right>
                <a yui-menu-item>登录</a>
                <a yui-menu-item>注册</a>
                <a yui-menu-item only-text>电话：400-820-820</a>
            </div>
        </div>
    </div>
    <div class="code">
        <pre><code class="html">
        &lt;div yui-menu theme="dark"&gt;
            &lt;div yui-left&gt;
                &lt;a yui-menu-item&gt;首页&lt;/a&gt;

                &lt;div contain-child-menu&gt;
                    &lt;a yui-menu-item&gt;处理中心&lt;/a&gt;
                    &lt;div yui-child-menu&gt;
                        &lt;a yui-menu-item&gt;选项1 - 比较长的选项1&lt;/a&gt;
                        &lt;a yui-menu-item&gt;选项2&lt;/a&gt;
                        &lt;a yui-menu-item&gt;选项3&lt;/a&gt;
                        &lt;a yui-menu-item&gt;选项4&lt;/a&gt;
                        &lt;a yui-menu-item&gt;选项5&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div contain-child-menu stretch&gt;
                    &lt;a checked yui-menu-item&gt;我的订单&lt;/a&gt;
                    &lt;div yui-child-menu&gt;
                        &lt;div style="display: inline-flex;height: 200px"&gt;
                            &lt;a text-checked yui-menu-item&gt;选项1&lt;/a&gt;
                            &lt;a yui-menu-item&gt;选项2&lt;/a&gt;
                            &lt;a yui-menu-item&gt;选项3&lt;/a&gt;
                            &lt;a yui-menu-item&gt;选项4&lt;/a&gt;
                            &lt;a yui-menu-item&gt;选项5&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;a yui-menu-item&gt;工作台&lt;/a&gt;

                &lt;a yui-menu-item&gt;消息中心&lt;/a&gt;
            &lt;/div&gt;
            &lt;div yui-right&gt;
                &lt;a yui-menu-item&gt;登录&lt;/a&gt;

                &lt;a yui-menu-item&gt;注册&lt;/a&gt;

                &lt;a yui-menu-item only-text&gt;电话：400-820-820&lt;/a&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        </code></pre>
    </div>
    <div class="attr">
        <div class="module-title">
            yui-menu
        </div>
        <table>
            <thead>
            <tr>
                <td>属性</td>
                <td>说明</td>
                <td>类型</td>
                <td>可选值 / 回调参数</td>
                <td>默认值 / 参数形式</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>theme</td>
                <td>主题</td>
                <td>string</td>
                <td>light / dark</td>
                <td>light</td>
            </tr>
            </tbody>
        </table>
        <div class="module-title">
            contain-child-menu
        </div>
        <table>
            <thead>
            <tr>
                <td>属性</td>
                <td>说明</td>
                <td>类型</td>
                <td>可选值 / 回调参数</td>
                <td>默认值 / 参数形式</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>stretch</td>
                <td>子菜单面板宽度撑满</td>
                <td>是否具有该属性</td>
                <td>--</td>
                <td>--</td>
            </tr>
            </tbody>
        </table>
        <div class="module-title">
            yui-menu-item
        </div>
        <table>
            <thead>
            <tr>
                <td>属性</td>
                <td>说明</td>
                <td>类型</td>
                <td>可选值 / 回调参数</td>
                <td>默认值 / 参数形式</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>only-text</td>
                <td>菜单项只是文字形式</td>
                <td>是否具有该属性</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>checked</td>
                <td>菜单选中状态</td>
                <td>是否具有该属性</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td>text-checked</td>
                <td>菜单文字选中状态</td>
                <td>是否具有该属性</td>
                <td>--</td>
                <td>--</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="../../release/yui-min.js"></script>
<script src="../../public/highLight/highlight.pack.js"></script>
<script src="../../public/index.js"></script>
</html>